{% extends 'layout/layout.twig' %}

{%- set pageTitle = 'Terms of use' -%}

{% block content %}
<div class="govuk-body">
	<p class="govuk-body-l">The terms of use for the digital lasting power of attorney service have changed.</p>
	<p class="govuk-body"><a class="govuk-link" href="/terms">Find out more</a> or <a class="govuk-link" href="{{ url('user/dashboard') }}">continue using the service</a>.</p>
</div>

{% endblock %}
