$opg-status-waiting: #2e358b;
$opg-status-received: #005ea5;
$opg-status-checking: #2b8cc4;
$opg-status-returned: #28a197;
$opg-status-completed: #dee0e2;

.opg-status {
  display: inline-block;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  position: relative;
  padding: 5px 8px 2px 8px;
  margin: 10px 0px 12px 0px;
}

.opg-status--default {
  background: #dee0e2;
  color: #0b0c0c;
}

.opg-status--waiting {
  background-color: $opg-status-waiting;
  color: #fff;
  font-weight: bold;
}

.opg-status--received {
  background-color: $opg-status-received;
  color: #fff;
  font-weight: bold;
}

.opg-status--checking {
  background-color: $opg-status-checking;
  color: #fff;
  font-weight: bold;
}

.opg-status--returned {
  background-color: $opg-status-returned;
  color: #fff;
  font-weight: bold;
}

.opg-status--completed {
  background-color: $opg-status-completed;
  color: #0b0c0c;
  font-weight: bold;
}

.opg-application-status-text {
  margin-bottom: 0px;
  margin-right: 5px;
}
