.opg-status {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  position: relative;
  padding: 4px 5px 0 5px;
  margin: 10px 0px 45px 0px;
}


// Styles for information about LPA statuses
.opg-status--created,
.opg-status--started {
  background-color: $white;
  color: $dark-grey;
}

.opg-status--completed {
  background-color: $white;
  color: $dark-grey;
  font-weight: bold;
}

.opg-status--waiting {
  background-color: $white;
  color: $dark-grey;
  font-weight: bold;
}

.opg-status--received {
  background-color: $white;
  color: $dark-grey;
  font-weight: bold;
}

.opg-status--checking {
  background-color: $white;
  color: $dark-grey;
  font-weight: bold;
}

.opg-status--processed {
  background-color: $white;
  color: $dark-grey;
  font-weight: bold;
}

// Lozenge styles for information about LPA statuses
.opg-lozenge-status--created,
.opg-lozenge-status--started {
  background-color: $transparent;
  color: $status-default-colour;
  border: 2px solid $status-default-colour;
  font-weight: bold;
}

.opg-lozenge-status--completed {
  background-color: $transparent;
  color: $status-default-colour;
  border: 2px solid $status-default-colour;
  font-weight: bold;
}

.opg-lozenge-status--waiting {
  background-color: $transparent;
  color: $status-waiting-colour;
  border: 2px solid $status-waiting-colour;
  font-weight: bold;
}

.opg-lozenge-status--received {
  background-color: $transparent;
  color: $status-received-colour;
  border: 2px solid $status-received-colour;
  font-weight: bold;
}

.opg-lozenge-status--checking {
  background-color: $transparent;
  color: $status-checking-colour;
  border: 2px solid $status-checking-colour;
  font-weight: bold;
}

.opg-lozenge-status--processed {
  background-color: $transparent;
  color: $status-processed-colour;
  border: 2px solid $status-processed-colour;
  font-weight: bold;
}


ul.track-my-lpa li{
  &.list-item--v3 {
    border-bottom: 4px solid #dee0e2;
  }
}

.status-container--created,
.status-container--started,
.status-container--completed
{
  border-left: 10px solid;
  border-left-color: $status-default-colour;
}

.status-container--waiting
{
  border-left: 10px solid;
  border-left-color: $status-waiting-colour;
}

.status-container--received
{
  border-left: 10px solid;
  border-left-color: $status-received-colour;
}

.status-container--checking
{
  border-left: 10px solid;
  border-left-color: $status-checking-colour;
}

.status-container--processed
{
  border-left: 10px solid;
  border-left-color: $status-processed-colour;
}

.opg-application-status-text {
  margin-bottom: 0px;
  margin-right: 5px;
}
