// Shame CSS
// ==========================================================================
// Quick dumping ground for exploration
// SHOULD NOT GO TO PRODUCTION!

.no-js {
	.form-group {
		+ .form-group.js-hidden {
			margin-top: 30px;
		}
	}
}

// Signature Date Checker page
.date-field {
	&.error {
		margin-right: 0;
	}
	input {
		float: right;
		width: 140px;
		margin-top: -16px;
		@include media(mobile) {
			float: none;
			display: block;
			width: 100%;
			margin-top: 6px;
		}
	}
}

// General layout
.content-body {
	@include media(tablet) {
		min-height: 400px;
	}
}

// Accordion layout
.current {
	+ .complete {
		margin-top: $gutter;
		clear: left;
	}
}
