.no-js {
	.form-group {
		+ .form-group.js-hidden {
			margin-top: 30px;
		}
	}
}

.date-field {
	input {
		float: right;
		width: 140px;
		margin-top: -16px;
		@include media(mobile) {
			float: none;
			display: block;
			margin-top: 0;
		}
	}
}

.content-body {
	min-height: 400px;
}
