// Settings
@import 'settings/variables';

// GOVUK Template
@import 'govuk-template.scss';

// GOVUK Elements
@import 'main';

// Extensions
@import 'extensions/elements/forms';

// Utilities
@import 'utilities/helpers';

// Patterns
@import 'patterns/global-nav';
@import 'patterns/popup';
@import 'patterns/help-system';

// -- Initialize patterns

// Generic popup
@include popup(80%);

// Global navigation
@include global-nav;
