// Settings
@import 'settings/variables';

// GOVUK Template
@import 'govuk-template-ie6.scss';

// GOVUK Elements
@import 'main-ie6';

// Extensions
@import 'extensions/elements/forms';
@import 'extensions/elements/helpers';
@import 'extensions/elements/icons';

// Utilities
@import 'utilities/helpers';

// Patterns
@import 'patterns/global-nav';
@import 'patterns/buttons';
@import 'patterns/popup';
@import 'patterns/help-system';
@import 'patterns/search';
@import 'patterns/lpa-list';
@import 'patterns/buttons';
@import 'patterns/postcode-lookup';
@import 'patterns/spinner';
@import 'patterns/pagination';
@import 'patterns/panels';

// -- Initialize patterns

// Generic popup
@include popup(80%);

// Global navigation
@include global-nav;
