// Settings
@import 'settings/variables';

// GOVUK Template
@import 'govuk-template-ie7.scss';

// GOVUK Elements
@import 'main-ie7';

// Extensions
@import 'extensions/elements/forms';
@import 'extensions/elements/helpers';

// Utilities
@import 'utilities/helpers';

// Patterns
@import 'patterns/global-nav';
@import 'patterns/popup';
@import 'patterns/help-system';
@import 'patterns/search-results';
@import 'patterns/buttons';

// -- Initialize patterns

// Generic popup
@include popup(80%);

// Global navigation
@include global-nav;
