// Settings
@import 'settings/variables';

// GOVUK Elements
@import "govuk-elements";

// Extensions
@import 'extensions/elements/elements-typography';
@import 'extensions/elements/forms';
@import 'extensions/elements/helpers';
@import 'extensions/elements/icons';
@import 'extensions/elements/lists';

// Utilities
@import 'utilities/helpers';

// Patterns
@import 'patterns/global-nav';
@import 'patterns/buttons';
@import 'patterns/popup';
@import 'patterns/help-system';
@import 'patterns/search';
@import 'patterns/lpa-list';
@import 'patterns/buttons';
@import 'patterns/postcode-lookup';
@import 'patterns/spinner';
@import 'patterns/pagination';
@import 'patterns/panels';
@import 'patterns/alerts';
@import 'patterns/accordion';
@import 'patterns/person';
@import 'patterns/form-popup';
@import 'patterns/dialog-popup';
@import 'patterns/table-summary';
@import 'patterns/appstatus';
@import 'patterns/iconlinks';
@import 'patterns/date-checker';
@import 'patterns/layout';
@import 'patterns/home';
@import 'patterns/meta-data';
@import 'patterns/session-timeout';
@import 'patterns/form';

// -- Initialize patterns

// Generic popup
@include popup(80%);

// Global navigation
@include global-nav;

// SHAME !!!!
@import 'shame';

// New OPG styles that can be reused.
@import 'opg-lpa-dashboard';

