.table-summary {
    text-align: left;

    tbody,
    tr {
        display: block;
    }

    th,
    td {
        display: block;
        width: 100%;
    }
}

.table-summary-title {
    font-weight: 700;
}

.table-summary-content {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.table-summary-action {
    display: none;
    a {
        display: none;
    }
}
