<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="2">
    <title>Generating your document | GOV.UK</title>

    <link href="{{ StaticAssetPath( '/assets/v2/css/fonts.css', { 'minify':true } ) }}" media="all" rel="stylesheet" type="text/css" />

    <style type="text/css">
        h2 {
            text-align: center;
            padding-top: 10%;
            font-family: "nta",Arial,sans-serif;
            font-weight: normal;
        }
    </style>

</head>
<body>

    <h2>Please wait while we generate your document. It will appear here in a few seconds.</h2>

    <script src="/assets/v2/js/libs/jquery.min.js"></script>
    <script src="{{ StaticAssetPath( '/assets/v2/js/application.js', { 'minify':true } ) }}"></script>
</body>
</html>
