<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="2">
    <title>Generating your document | GOV.UK</title>

    <!--[if gte IE 9]><!-->
    <link href="{{ StaticAssetPath( '/assets/v2/css/fonts.css', { 'minify':true } ) }}" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->

    <style type="text/css">
        h2 {
            text-align: center;
            padding-top: 10%;
            font-family: "nta",Arial,sans-serif;
            font-weight: normal;
        }
    </style>

</head>
<body>

    <h2>Please wait while we generate your document. It will appear here in a few seconds.</h2>

    <script>
        var gaConfig = { universalId: 'UA-33184303-1' }
    </script>

    <script src="/assets/v2/js/libs/jquery.min.js"></script>
    <script src="{{ StaticAssetPath( '/assets/v2/js/application.js', { 'minify':true } ) }}"></script>

    <script>
        GOVUK.performance.stageprompt.setupForGoogleAnalytics();
    </script>
</body>
</html>
