{% macro render(type, class, iconClass) %}
    {% set messages = flash.getFlash(type) ?? [] %}
    {% for message in messages %}
        <div class="alert panel text {{ class }}" role="alert">
            <i class="icon {{ iconClass }}" role="presentation"></i>
            <div class="alert-message">
                <p>{{ message|raw }}</p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}
