<section class="section complete">
	<p class="accordion-summary">
		<a href="{{ url(routeName, {'lpa-id': lpaId}) }}">
		{% include 'layout/partials/accordion/items/' ~ name with {'params': params} %}
		<span class="edit" style="float:right">edit</span></a>
	</p>
</section>