@import "toolkit/stylesheets/colours";
@import "toolkit/stylesheets/css3";
@import "toolkit/stylesheets/device-pixels";
@import "toolkit/stylesheets/typography";
@import "toolkit/stylesheets/conditionals";
@import "toolkit/stylesheets/shims";
@import "conditionals2";

$alpha-colour: $pink;
$beta-colour: $orange;

.global-header {
  &.not-govuk {
    #logo {
      width: auto;
      margin-right: 10px;

      @include core-24;
      color: $white;
      text-decoration: none;
      line-height: 1.2;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.with-proposition.not-govuk {
    .header-proposition {
      .proposition-name {
        font-weight: 400;
      }
      .proposition-links {
        margin-top: 7px;
        li {
          a {
            font-weight: 400;
          }
        }
      }
    }
  }
  &.with-search.not-govuk {
    .header-proposition {
      .proposition-links {
        margin-top: 35px;
      }
    }
  }

  .header-proposition {
    .proposition-name {
      display: block;
      float: left;

      color: #fff;
      margin-right: 5px;
    }
  }

  .phase-tag {
    display: block;
    float: left;

    color: #fff;
    @include bold-16;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    margin: 3px 10px 0 0;
    padding: 2px 5px 0;
  }
}

// ALPHA
.global-header.alpha {
  form#search {
    input.submit {
      border: 1px solid $alpha-colour;
      border-left-color: #222;
      background-color: $alpha-colour;
    }
  }

  .phase-tag {
    background-color: $alpha-colour;
  }

  &.with-proposition {
    .search-toggle {
      @media screen and (max-width: 379px) {
        background-color: $alpha-colour;
      }
    }

    .header-proposition {
      .proposition-links {
        li {
          a {
            &.active {
              color: $alpha-colour;
            }
          }
        }
      }
    }
  }
}

#phase-notice {
    max-width: 1020px;
    margin: 0 auto;
  p {
    padding: 8px 32px;
    margin: 0;
    background: $beta-colour;
  }
  a {
    color: $black;
  }
  strong {
    text-transform: uppercase;
  }
}

// Phase tag
#global-header {
  &.with-proposition {
    #proposition-name {
      position: relative;

      small {
        position: absolute;
        top: 0.15em;
        right: -4em;
        text-transform: uppercase;
        color: white;
        -webkit-font-smoothing: subpixel-antialiased;
        background-color: $panel-colour;

        padding: 2px 5px 0;
        margin-left: 10px;

        font-weight: normal;
        letter-spacing: 0.2em;

        &.alpha {
          background-color: $alpha-colour;
        }

        &.beta {
          background-color: $beta-colour;
        }
      }
    }
  }
}