tfswitch
export TF_VAR_default_role=operator
export TF_VAR_management_role=operator
export TF_CLI_ARGS_init="-backend-config=\"assume_role={role_arn=\\\"arn:aws:iam::311462405659:role/operator\\\"}\" -upgrade -reconfigure"
export TF_VAR_pagerduty_token=$(aws-vault exec moj-lpa-dev -- aws secretsmanager get-secret-value --secret-id pagerduty_api_key | jq -r .'SecretString')

# export TF_WORKSPACE=
