{% import "application/macros.twig" as macros %}

{% set form = formErrorTextExchange(form,  {
    'email' : {
        'cannot-be-empty' : 'Please enter your email address'
    },
    'password' : {
        'cannot-be-empty' : 'Please enter your password'
    }
}) %}

{% if isTimeout %}
    <div class="error-summary" role="group" aria-labelledby="error-heading" tabindex="-1">
      <h1 class="heading-medium error-summary-heading" id="error-heading">Session timed out</h1>
      <p>Sorry, your session has timed out due to inactivity or because you have signed in on another browser. Please sign in again.</p>
    </div>
{% endif %}

{% if authError %}
    <div class="error-summary" role="group" aria-labelledby="error-heading" tabindex="-1">
      <h1 class="heading-medium error-summary-heading" id="error-heading">There was a problem signing you in</h1>
            {% if authError == 'not-activated' %}
                <p>Your account has not been activated. Click on the link in the email sent to you when you created the account.
                    If you haven't received an email, check your spam, bulk or junk email folder or <a href="{{ url('register/resend-email') }}">resend activation email</a>.</p>
            {% elseif authError == 'locked' %}
               <p>This user account has been locked. Please go <a href="{{ url('forgot-password') }}">here</a> to reset your password OR you can attempt again in 15 minutes.</p>
            {% else %}
                <p><p>Email and password combination not recognised. Please try signing in again below or <a href="{{ url('register') }}">create an account</a>.</p></p>
            {% endif %}
    </div>
{% endif %}

{{ macros.formErrorSummary(error,form,'There was a problem signing you in') }}