{% extends 'layout/twig/layout.twig' %}

{% import "application/authenticated/dashboard/macros.twig" as macros %}

{% block htmlTitle %}Review your details - {% endblock %}
{% block pageTitle %}Review your details{% endblock %}

{% block content %}

    <div class="grid-row">
        <div class="column-full text">
            <p class="lede">Use this section to check that the details of the people involved in the LPA are correct and to edit the LPA if you need to.</p>

            <p>You can also <a class="iconlinks-link" href="{{ url( 'lpa/download/draft', {'lpa-id': lpa.id, 'pdf-type':'lp1'} ) }}" target="_blank">download a preview of your LPA form</a> at this point, but do not send this version to the Office of the Public Guardian (OPG) for registration – it's incomplete.</p>

            <p>Once you're sure that all the LPA details below are correct, fill in any remaining questions to complete the LPA. You'll then be able to print the LPA, sign it and post it to OPG.</p>
        </div>

    </div>

    <div class="iconlinks iconlinks--right">
        <div class="iconlinks-item">
            <a href="#" class="iconlinks-link js-print hide-if-no-js" data-journey-click="page:link:Print this summary">
                <i class="icon icon-print"></i>
                <span class="iconlinks-text">Print this summary</span>
            </a>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            {% include 'application/authenticated/lpa/summary/partials/summary-table.twig' %}
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <p class="text">
                <a href="{{ url(returnRoute, {'lpa-id': lpa.id}) }}" class="button">Continue</a>
            </p>
        </div>
    </div>

{% endblock %}