{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Terms of use - {% endblock %}
{% block pageTitle %}{% endblock %}

{% block content %}

    <div class="govuk-box-highlight opg-status--completed">
        <div class="">
            <h2 class="heading-xlarge">You have completed the LPA application</h2>
        </div>
        <div>
            <p class="lede">This LPA was made before we were able to track the status of an LPA online.</p>
            <p class="lede">You finished making this LPA application on {{ lpa.completedAt|date('d/m/y') }}. If you have not posted the LPA to us yet, <a href="/contact" style="color: #0b0c0c">here's the address to send it to</a>.</p>
        </div>
        <div>
            <a class="heading-medium" style="color: #0b0c0c" href="/user/dashboard">Back to your LPAs</a>
        </div>
    </div>

{% endblock content %}