{% extends 'layout/layout.twig' %}

{%- set pageTitle = 'Terms of use' -%}

{% block content %}
<div class="text">
	<p class="lede">The terms of use for the digital lasting power of attorney service have changed.</p>
	<p><a href="/terms">Find out more</a> or <a href="{{ url('user/dashboard') }}">continue using the service</a>.</p>
</div>

{% endblock %}
