{% set form = formErrorTextExchange(form,  {
    'password_current' : {
        'is-incorrect' : 'Your password is incorrect',
        'cannot-be-empty' : 'Please enter your current password'
    },
    'password' : {
        'cannot-be-empty' : 'Please enter your new password',
        'min-length-8' : 'Your new password must be at least eight characters long',
        'must-include-digit' : 'Your new password must include at least one digit (0-9)',
        'must-include-lower-case' : 'Your new password must include at least one lower case letter (a-z)',
        'must-include-upper-case' : 'Your new password must include at least one capital letter (A-Z)',
    },
    'password_confirm' : {
        'did-not-match' : 'The passwords did not match',
        'cannot-be-empty' : 'Please confirm your new password'
    }
}) %}

{% if (error is not empty or form.getMessages|length > 0) %}
    <div class="error-summary" role="group" aria-labelledby="error-heading" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-heading">There was a problem changing your password</h1>
        <p>You need to do the following:</p>
        <ol class="error-summary-list">
            {{ formLinkedErrorListV2(form) ? '' }}

            {% if error is not empty %}
                <li><a href="">
                {{ error }}
                </a></li>
            {% endif %}
        </ol>
    </div>
{% endif %}