{% extends 'layout/twig/layout.twig' %}

{% import "application/dashboard/macros.twig" as macros %}

{% block pageTitle %}
		Check your details
{% endblock %}

{% block content %}

	{% include 'application/summary/partials/summary-table.twig' %}

	<div class="appstatus warning" role="alert">
		<h2 class="heading-xlarge">Your LPA is incomplete</h2> 
	</div>

	<p class="text">The details you’ve entered above will be included on your LPA when it’s registered by the Office of the Public Guardian (OPG). When OPG registers an LPA, it checks all the details to make sure the LPA will work. Your attorneys can’t use your LPA until it’s been registered. We need to ask you a few more questions before you send your LPA to be registered.</p>

	<div class="grid-row">

		<div class="column-one-half">
			<p class="divorced">
				<a href="{{ url(returnRoute, {'lpa-id': lpa.id}) }}" class="button">Return to your LPA</a>
			</p>
		</div>

		<div class="column-one-half">
			<div class="iconlinks iconlinks--right">
		        <div class="iconlinks-item">
		            <a class="iconlinks-link" href="{{ url( 'lpa/download', {'lpa-id': lpa.id, 'pdf-type':'lp1'} ) }}" target="_blank">
		                <i class="icon icon-file-download"></i>
		                <span class="iconlinks-text">Download PDF preview</span>
		            </a> 
		        </div>
		    </div>
		</div>

	</div>




{% endblock %}