{% extends 'layout/twig/layout.twig' %}

{% import "application/dashboard/macros.twig" as macros %}

{% block pageTitle %}
    Check your details
{% endblock %}

{% block content %}

	<table class="table-summary" itemtype="http://schema.org/Organization" itemscope>
  
    <caption class="visuallyhidden">Caption to identify a table</caption>
    
    <tbody>

      {# LPA TYPE #}
    
      <tr class="group-single">
        <th class="table-summary-title" scope="row">Type of LPA</th>
        <td class="table-summary-content" itemprop="name">Property and financial affairs</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>

      {# DONOR #}

      <tr class="group-start">
        <th class="table-summary-heading" scope="row" colspan="3">
          <h3 class="heading-small">Donor</h3>
        </th>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Name</th>
        <td class="table-summary-content">Adam Warner</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>
      
      <tr class="group-element">
        <th class="table-summary-title" scope="row">Date of birth</th>
        <td class="table-summary-content">20/08/1981</td>
        <td class="table-summary-action"></td>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Address</th>
        <td class="table-summary-content">
          <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
            <div itemprop="streetAddress">50 Harrogate Road</div>
            <div itemprop="addressLocality">Saddington</div>
            <div itemprop="postalCode">LE8 5XS</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
        </td>
        <td class="table-summary-action"></td>
      </tr>

      <tr class="group-end">
        <th class="table-summary-title" scope="row">Email address</th>
        <td class="table-summary-content">adamwarner@inbound.plus</td>
        <td class="table-summary-action"></td>
      </tr>

      {# WHEN LPA STARTS #}

      <tr class="group-single">
        <th class="table-summary-title" scope="row">My LPA can be used</th>
        <td class="table-summary-content">Only if I don't have mental capacity</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>

      {# PRIMARY ATTORNEY 1 #}

      <tr class="group-start">
        <th class="table-summary-heading" scope="row" colspan="3">
          <h3 class="heading-small">1st Primary Attorney</h3>
        </th>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Name</th>
        <td class="table-summary-content">Peter Charlton</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Date of birth</th>
        <td class="table-summary-content">04/02/1976</td>
        <td class="table-summary-action"></td>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Address</th>
        <td class="table-summary-content">
          <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
            <div itemprop="streetAddress">39 Coast Rd</div>
            <div itemprop="addressLocality">Kirkleatham</div>
            <div itemprop="postalCode">TS10 9GT</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
        </td>
        <td class="table-summary-action"></td>
      </tr>

      <tr class="group-end">
        <th class="table-summary-title" scope="row">Email address</th>
        <td class="table-summary-content">petercharlton@inbound.plus</td>
        <td class="table-summary-action"></td>
      </tr>

      {# PRIMARY ATTORNEY 2 #}

      <tr class="group-start">
        <th class="table-summary-heading" scope="row" colspan="3">
          <h3 class="heading-small">2nd Primary Attorney</h3>
        </th>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Name</th>
        <td class="table-summary-content">Sofia Wilson</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Date of birth</th>
        <td class="table-summary-content">04/04/1957</td>
        <td class="table-summary-action"></td>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Address</th>
        <td class="table-summary-content">
          <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
            <div itemprop="streetAddress">13 Walwyn Rd</div>
            <div itemprop="addressLocality">Charlestown</div>
            <div itemprop="postalCode">DT4 5QU</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
        </td>
        <td class="table-summary-action"></td>
      </tr>

      <tr class="group-end">
        <th class="table-summary-title" scope="row">Email address</th>
        <td class="table-summary-content">sofiawilson@inbound.plus</td>
        <td class="table-summary-action"></td>
      </tr>

      {# HOW PRIMARY ATTORNEYS MAKE DECISIONS #}

      <tr class="group-single">
        <th class="table-summary-title" scope="row">How primary attorneys make decisions</th>
        <td class="table-summary-content" itemprop="name">The attorneys will act jointly and severally</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>

      {# REPLACEMENT ATTORNEY #}

      <tr class="group-start">
        <th class="table-summary-heading" scope="row" colspan="3"><h3 class="heading-small">Replacement Attorney</h3></th>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Name</th>
        <td class="table-summary-content">Amber Iqbal</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Date of birth</th>
        <td class="table-summary-content">19/08/1946</td>
        <td class="table-summary-action"></td>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Address</th>
        <td class="table-summary-content">
          <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
            <div itemprop="streetAddress">10 Marlborough Crescent</div>
            <div itemprop="addressLocality">South Luffenham</div>
            <div itemprop="postalCode">LE15 5YE</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
        </td>
        <td class="table-summary-action"></td>
      </tr>

      <tr class="group-end">
        <th class="table-summary-title" scope="row">Email address</th>
        <td class="table-summary-content">amberiqbal@inbound.plus</td>
        <td class="table-summary-action"></td>
      </tr>

      {# WHEN REPLACEMENT ATTORNEYS STEP IN #}

      <tr class="group-single">
        <th class="table-summary-title" scope="row">When replacement attorneys step in</th>
        <td class="table-summary-content">The replacement attorneys will step in as per instructions</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>

      {# CERTIFICATE PROVIDER #}

      <tr class="group-start">
        <th class="table-summary-heading" scope="row" colspan="3">
          <h3 class="heading-small">Certificate Provider</h3>
        </th>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Name</th>
        <td class="table-summary-content">Poppy Gough</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>

      <tr class="group-end">
        <th class="table-summary-title" scope="row">Address</th>
        <td class="table-summary-content">
          <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
            <div itemprop="streetAddress">42 Withers Close</div>
            <div itemprop="addressLocality">Alkington</div>
            <div itemprop="postalCode">SY13 0HG</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
        </td>
        <td class="table-summary-action"></td>
      </tr>

      {# PEOPLE TO NOTIFY 1 #}

      <tr class="group-start">
        <th class="table-summary-heading" scope="row" colspan="3">
          <h3 class="heading-small">1st person to notify</h3>
        </th>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Name</th>
        <td class="table-summary-content">Adam Jackson</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>

      <tr class="group-end">
        <th class="table-summary-title" scope="row">Address</th>
        <td class="table-summary-content">
          <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
            <div itemprop="streetAddress">93 Ilchester Road</div>
            <div itemprop="addressLocality">Mundford</div>
            <div itemprop="postalCode">IP26 9DE</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
        </td>
        <td class="table-summary-action"></td>
      </tr>

      {# PEOPLE TO NOTIFY #}

      <tr class="group-start">
        <th class="table-summary-heading" scope="row" colspan="3">
          <h3 class="heading-small">2nd person to notify</h3>
        </th>
      </tr>

      <tr class="group-element">
        <th class="table-summary-title" scope="row">Name</th>
        <td class="table-summary-content">Mohammad Jackson</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>

      <tr class="group-end">
        <th class="table-summary-title" scope="row">Address</th>
        <td class="table-summary-content">
          <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemscope="">
            <div itemprop="streetAddress">40 Park Place</div>
            <div itemprop="addressLocality">Carroglen</div>
            <div itemprop="postalCode">PH6 2YU</div>
            <div itemprop="addressCountry">United Kingdom</div>
          </div>
        </td>
        <td class="table-summary-action"></td>
      </tr>

      {# ATTORNEY INSTRUCTIONS #}

      <tr class="group-single">
        <th class="table-summary-title" scope="row">Attorney instructions</th>
        <td class="table-summary-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem alias quas, et voluptates. Commodi amet dolorum, non officiis perferendis, dolor quae aliquam accusantium! Sequi dicta modi earum obcaecati voluptatem consectetur.</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>

      {# ATTORNEY PREFERENCES #}

      <tr class="group-single">
        <th class="table-summary-title" scope="row">Attorney preferences</th>
        <td class="table-summary-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem alias quas, et voluptates. Commodi amet dolorum, non officiis perferendis, dolor quae aliquam accusantium! Sequi dicta modi earum obcaecati voluptatem consectetur.</td>
        <td class="table-summary-action"><a href="#">Edit</a></td>
      </tr>
    
    </tbody>
  
  </table>

  <div class="appstatus warning" role="alert">
    <h2 class="appstatus-title">Your LPA is incomplete</h2> 
  </div>

  <p class="text">Text informing the user what is incomplete and how to complete the LPA. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <a href="" class="button">Return to complete your LPA</a>



{% endblock %}