{% extends 'application/about-you/form.twig' %}

{% block aboutyouheader %}

<p>Update your details.</p>

<p><a href="{{ url('user/change-password') }}">Change Password</a></p>
<p><a href="{{ url('user/change-email-address') }}">Change Email Address</a></p>
<p><a href="{{ url('user/delete') }}">Delete Account</a></p>

{% endblock aboutyouheader %}
