{% extends 'application/about-you/form.twig' %}

{% block aboutyouheader %}

<div class="text">
	<p>First, please give us some information about yourself.</p>
	<p>You don't have to be the person the LPA is for – you might just be helping someone else make an LPA.</p>
	<p>You'll be able to use these details in any LPAs you make using this service.</p>
</div>

{% endblock aboutyouheader %}
