*/LICENSE
*/LICENSE*
*/LICENSE.md
*/README.md
*/build
*/Makefile
*/notify.*.txt
.git
.github
.gitignore
.idea
.php-cs-fixer.cache
.phpunit.result.cache
CODEOWNERS
LICENSE*
docs
Makefile
metadata.json
terraform
tests/load
tests/sirius-gateway-mock
*/phpunit.xml
*/phpunit.xml.dist
*/psalm.xml
service-api/tests
service-front/module/Application/tests
service-pdf/tests
service-pdf/test-tools
service-admin/test
