*/LICENSE
*/LICENSE*
*/LICENSE.md
*/README.md
*/build
*/Makefile
.git
.github
.gitignore
.idea
.php-cs-fixer.cache
.phpunit.result.cache
CODEOWNERS
LICENSE*
docs
Makefile
metadata.json
terraform
tests/load
tests/sirius-gateway-mock