root = true

[{Makefile, makefile, GNUmakefile, Makefile.*}]
indent_style = tab
indent_size = 4

[*.sh]
indent_style = tab
indent_size = 4

[*.{tf,tfvars,tpl,js,yaml,yml}]
indent_size = 2
indent_style = space
