# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.72.1
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
  - repo: https://github.com/awslabs/git-secrets
    rev: master
    hooks:
    - id: git-secrets
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.8.7
    hooks:
    -   id: gitleaks
  - repo: https://github.com/digitalpulp/pre-commit-php.git
    rev: 1.4.0
    hooks:
    - id: php-lint-all
    - id: php-cs
      files: \.(php)$
      args: [--standard=PSR12 -p]
    - id: php-cbf
      files: \.(php)$
      args: [--standard=PSR12 -p]
    - id: php-stan
      files: \.(php)$
      args: [--memory-limit=1024M]
    - id: php-cs-fixer
