parameters:
  scanDirectories:
    - service-api/module/Application/src/
    - service-api/module/Application/tests/
    - service-api/vendor/
    - service-front/module/Application/src/
    - service-front/module/Application/tests/
    - service-front/vendor/
    - service-pdf/src/
    - service-pdf/tests/
    - service-pdf/vendor/
