{% extends 'layout/layout.twig' %}

{%- set pageTitle = 'Sign in' -%}

{% block content %}

{{ systemMessage() }}

<p class="govuk-body">
    Use your GOV.UK One Login to sign in to this service. If you do not have a GOV.UK One Login,
    you can create one when you click the button below.
</p>

<a href="/auth/onelogin" role="button" class="govuk-button" data-cy="onelogin-signin-button">
    Continue to GOV.UK One Login
</a>

{% endblock content %}
