<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Page title</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; color:#0b0c0c">
​
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="53px" bgcolor="#0b0c0c">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="100%" bgcolor="#0b0c0c" valign="middle">
                        <img src="https://s3-eu-west-1.amazonaws.com/lpa-website/email-images/govuk-logo-v1.png" alt="GOV.UK" border="0">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>



<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="margin-bottom: 19px; margin-top: 19px;">
    <tr>
        <td width="100%">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td>

                        <img src="https://s3-eu-west-1.amazonaws.com/lpa-website/email-images/opg-logo-v1.png" alt="OPG" border="0">

                        {% block content %}

                        {% endblock content %}

                        {% block footer %}

                        <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
                            This is an automatic email &ndash; please do not reply to this address.
                        </p>

                        <h3 style="font-size: 19px; line-height: 1.315; font-weight: 700; margin: 38px 0 20px 0; color: #0b0c0c">
                            Contact us:
                        </h3>
                        <p style="font-size: 16px; line-height: 1.315; margin: 0 0 20px 0;  color: #0b0c0c">
                            Email <a style="color: #005ea5" href="mailto:customerservices@publicguardian.gov.uk">customerservices@publicguardian.gov.uk</a>
                        </p>
                        <p style="font-size: 16px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
                            Call <strong>0300 456 0300</strong><br/>
                            Monday to Friday (except Wednesday) 9am to 5pm<br/>
                            Wednesday 10am to 5pm
                        </p>
                        <p style="font-size: 16px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
                            Textphone  <strong>0115 934 2778</strong>
                        </p>
                        <h3 style="font-size: 19px; line-height: 1.315; font-weight: 700; margin: 28px 0 6px 0; color: #0b0c0c">
                            Office of the Public Guardian
                        </h3>
                        <p style="font-size: 16px; line-height: 1.315; margin: 0 0 6px 0; color: #0b0c0c">
                            PO Box 16185<br>Birmingham B2 2WH
                        </p>
                        <p style="font-size: 16px; line-height: 1.315; margin: 0 0 10px 0;">
                            <a style="color: #005ea5" href="https://www.lastingpowerofattorney.service.gov.uk/home">www.lastingpowerofattorney.service.gov.uk</a>
                        </p>

                        {% endblock footer %}

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>




