<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./module/Application/tests/Bootstrap.php"
         colors="true"
         displayDetailsOnAllIssues="true"
         cacheDirectory="/tmp/.phpunit.cache">

    <testsuite name="ApplicationTest">
    <directory>./module/Application/tests/</directory>
    </testsuite>

    <source>
        <include>
            <directory suffix=".php">./module/Application/src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="./build/coverage"/>
        </report>
    </coverage>
</phpunit>
