<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./module/Application/tests/Bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./module/Application/src</directory>
    </include>
  </coverage>
  <testsuite name="ApplicationTest">
    <directory>./module/Application/tests/</directory>
  </testsuite>
</phpunit>
