// ===========================================================
// CREATE AND REGISTER PAGES
// ===========================================================






// ===========================================================
// ACCORDION FORM
// ===========================================================

// Generic accordion form styles
@include accordion-form;

// Bespoke accordion form styles
.accordion-form{
  .section.current{
    .accordion-actions{
      p{
        width: 50%;
        float: left;
      }
      .secondary-actions{
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
        li{
          float: right;
          list-style-type: none;
          list-style-image: none;
          padding: 0;
          margin: 0.8em 0 0 0.5em;
        }
      }
    }
  }
}

// Intro panels for each question
.section-intro{
  margin: 2em 0 1em 0;
  padding-right: 17%;
  padding-bottom: 1em;
  border-bottom: 1px solid $border-colour;
}

// Person summary
.person-summary{
  @if $is-ie == false {
    background: url("/assets/v1/images/icon/person.png") no-repeat 0px 3px;
    background-size: Auto 4.2em;
    padding-left: 4em;
  }
  margin-bottom: 1em;
  min-height: 4em;
  border-bottom: 1px solid $border-colour;
  padding-bottom: 1em;
  h3, p{
    margin: 0;
  }
}
.actions{
  display: inline-block;
  margin: 0;
  padding: 0;
  .button{
    margin-top: 1.2em;
  }
  li {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0 1em 0 0;
    display: inline-block;
  }
}

// Add another person link
.add-another{
    margin: 2em 0;
}

// 'Not sure what to put?' link
.not-sure{
  float: right;
}

// ================================================================
// FORMS
// ================================================================

// Basic form styles
.form{
  @include form;

  h3 label{
    font-weight: 700;
  }
}

// Customise validation message style to support Zend framework
.form-popup {
  .validation-summary {
    margin:1em 1em 1em 0;

    h1 {
      @include bold-27;
    }

    ol li {
      list-style: decimal;
    }
  }

  .validation {
    margin-right:0;
    margin-bottom:0.5em;
    padding-left:0.8125em;

    .validation-message {
      padding-bottom:0;
    }
  }
}

// Emphasised form controls
@include emphasised-form-controls;


#attorneyActDecisions,
.details-textbox textarea{
  background-color: #F9F9F9;
  padding: 0.1em 0 0.1em 0.4em;
  width: 98.5%;
  height: 20em;
  margin-bottom: 1em;
}


// How the attorneys make decisions

#decisions-form{
  label{
    overflow: hidden;
    position: relative;
    padding-left: 1.6em;
    margin-bottom: 1em;
    font-weight: bold;
    input{
      margin-left: -1em;
      margin-top: 0.15em;
      position: absolute;
    }
  }
  .option-help{
    display: block;
    width: 100%;
    margin: 0.5em 0;
    font-weight: normal;
  }
  .subtitle{
    display: block;
    padding: 1em;
    float: left;
    width: 35%;
  }
}


// ===========================================================
// REGISTER LPA
// ===========================================================


// Who is applying?
.attorney-applicant{
  padding-left: 8em;
  margin-top: -1.8em;
}

// Capture signature dates
.form .capture-dates{
  width: 103.5%;
  td, th {
    @include core-19;
    vertical-align: middle;
  }
  label{
    width: 6em;
  }
  .controls label{
    margin-top: -2em;
  }
  h3{
    font-size: 1.1875em;
  }
  .controls label,
  h3{
    font-weight: bold;
  }
  .control-label{
    text-align: left;
  }
}
.card-images{
  display: inline-block;
  line-height: 4em;
  height: 2em;
  margin: -1em 0 0 0.5em;
  img{
    width: 2em;
    margin-top: 0.5em;
  }
}
#donor-signature{
  padding-left: 0;
}

#populatetestdates{
  float: right;
}

// Signature dates
#checklist{
  .person-summary {
    background: none;
    padding-left: 0;
    h3{
      padding: 0.25em 0;
      span{
        font-weight: normal;
      }
    }
    label{
      width: auto;
    }
  }
}

.date-field {
  input[type="text"]{
    width: 6.5em;
  }
}

.date-field label{
  margin-top: 0.5em;
}
input.hasDatepicker{
  margin: -0.5em 0 0 0.5em;
  float: right;
}

// Wider email input for payment correspondence (Pivotal Tracker story: 53057217)
#paymentEmailContact {
  width:22.11em
}

// Previous LPAs?
#notesForPreviousLpa{
  height: 10em;
}
