// Beta badge
.page-header .beta {
  display: inline-block;
  background: $beta-colour;

  color: #fff;
  @include bold-16;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  padding: 4px 5px 0px 6px;
  margin-left: 1em;
  vertical-align: middle;
}

header.page-header hgroup h1 span {
  @include core-27($line-height: 1);
  display: block;
  margin-bottom: 0.25em;
  text-shadow: none;
  color: $secondary-text-colour;
}

.homepage-cta {
  margin: 2.5em 0;
}

.paragraph-block {
  p {
    @include core-24;
  }

  &--end {
    p {
      @include core-19;
    }
  }

}

.create-lpa.button {
  @include core-24;
}

article .lpa-access.steps {
  @include core-24;

  border-top: 1px solid $grey-2;
  border-bottom: 1px solid $grey-2;
  margin-top: 2em;
  margin-bottom: 3em;
  list-style: none;
  padding: 0;
  position: relative;
  overflow: hidden;
  li {
    border-bottom: 1px solid $grey-2;
    margin-bottom: 0;
    padding: 15px 0 15px 0;
    position: relative;
    overflow: hidden;

    &:last-of-type {
      border-bottom: 0;
    }

    .right {
      float: right;
      width: 50%;
    }

    .left {
      float: left;
      width: 50%;
    }

    details summary {
      @include bold-24();
    }

    .button {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }

  }
  p {
    margin: 0.75em 0;
    @include core-24;
    padding-right: 2em;
  }
  .step-title {
    margin: 0 0 0.75em 0;
    @include core-24;
  }

  .list-complete-form {
    li {
      @include core-24;
      border: 0;
      text-indent: -0.5em;
      padding-left: 0.5em;
      padding-bottom: 0;
    }
  }

}
