<div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Your password needs to have:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>at least 12 characters</li>
        <li>at least one lower-case and one capital letter</li>
        <li>at least one number</li>
    </ul>
    <p class="govuk-body">Never share your password with anyone.</p>
</div></div>
