<div class="text">
    <p>Your password needs to have:</p>
    <ul class="list list-bullet">
        <li>at least 12 characters</li>
        <li>at least one lower-case and one capital letter</li>
        <li>at least one number</li>
    </ul>
    <p>Never share your password with anyone.</p>
</div>
