{% extends 'layout/twig/accordion-header.twig' %}

{% block content %}

<li id="primary-attorney-section" class="section current js-current">
	
    <h2 class="heading-medium accordion-header flush--top">Who are your attorneys?</h2>

    <div class="accordion-info">
        <div class="text">
            <p>Attorneys are people who you appoint to make decisions on your behalf.</p>
            <ul class="list list-bullet">
                <li>You can have 1 or more attorneys</li>
                <li>Attorneys must be 18 or over</li>
                <li>Attorneys must have mental capacity – the ability to make decisions</li>
                <li>An attorney must not be bankrupt or subject to a debt relief order</li>
            </ul>
    		<p>The most important thing is that your attorneys are people you trust to respect your wishes and act in your best interests.</p>
    		<p>There are some other things you must know and consider before you decide.</p>
    		<p><a class="js-guidance" href="/help/#topic-attorneys" data-journey-click="stageprompt.lpa:help:attorneys">Find out more about attorneys</a></p>
    	</div>
    </div>

    {% if (attorneys) %}

        <ul>
            {% for attorney in attorneys %}
                {% include 'application/primary-attorney/partials/attorney.twig' with attorney %}
            {% endfor %}
        </ul>

    {% endif %}

    <div class="form-group">
        <a href="{{ addRoute }}" class="{% if not (attorneys) %}button{% endif %} js-form-popup" >
            {% if (attorneys) %}
                Add another attorney?
            {% else %}
                Add an attorney
            {% endif %}
        </a>
    </div>

    {% if (attorneys) %}

        <div class="form-group flush--bottom">
            <a href="{{ nextRoute }}" class="button divorced">
                Save and continue
            </a> 
        </div>

    {% endif %}
    
</li>

{% endblock %}