{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Make a lasting power of attorney - {% endblock %}
{% block pageTitle %}Make a lasting power of attorney{% endblock %}

{% block accordionTop %}

    <div class="text">
        <p>We'll use your answers to the questions that follow to make a Lasting Power of Attorney (LPA) that you can save and print, get everyone to sign, then send to the Office of the Public Guardian for registration.</p>
        <p>We'll save the LPA as you progress so you do not need to do it all in one go.</p>
        <p>If this is the first time you’re making an LPA, you may want to look at our <a href="/guide#topic-before-you-begin" class="js-guidance" data-journey-click="page:link:help: find out more about how to prepare">Before you begin</a> help page. It explains the decisions the <a href="/guide#topic-donor" class="js-guidance" data-journey-click="page:link:help: donor">donor</a> has to make about their LPA and the information you’ll need to make an LPA.</p>
    </div>

    <ul class="accordion">

        {% set accordionTop = accordion( lpa ).top() %}

        {% include 'layout/partials/accordion/accordion.twig' with { 'items' : accordionTop, 'lpa':lpa } %}

        {% if (accordionTop|last).routeName != 'review-link' %}
            <li aria-hidden="true"><a id="current" class="accordion-current"></a></li>
        {% endif %}

{% endblock %}

{% block accordionBottom %}

        {% set accordionBottom = accordion( lpa ).bottom() %}

        {% include 'layout/partials/accordion/accordion.twig' with { 'items' : accordionBottom, 'lpa':lpa } %}

    </ul>

{% endblock %}
