{% if (error is not empty or form.getMessages|length > 0) %}
<div class="error-summary" role="group" aria-labelledby="error-heading" tabindex="-1">
    <h1 class="heading-medium error-summary-heading" id="error-heading">There was a problem creating your account</h1>
    {% if error is not empty %}
        {% if error == 'address-already-registered' %}
            <p>This email address has already been registered. Please <a href="{{ url('login') }}">sign in</a> or <a href="{{ url('forgot-password') }}">reset your password</a>.</p>
        {% else %}
            {{ error }}
        {% endif %}
    {% elseif form.getMessages|length > 0 %}
        <p>You need to do the following:</p>
        <ul class="error-summary-list">
            {{ formLinkedErrorList(form) }}
        </ul>
    {% endif %}
</div>
{% endif %}