<?php

return array(

    'session' => [

        'encryption' => [
            // Key MUST be a 32 character string
            'key' => '{{pillar['session']['encryption']['key']}}'
        ],

        'redis' => [
            'server' => [
                'host' => '{{pillar['session']['redis']['host']}}'
            ],
        ],

    ], // session

    'admin' => [
        'redis' => [
            'server' => [
                'host' => '{{pillar['session']['redis']['host']}}'

            ],
        ],
    ],

    'address' => [

        'postcodeanywhere' => [
            'key' => "{{pillar['postcode']['license_key']}}",
        ],

    ], // address

    'email' => [

        'sendgrid' => [
            'user' => "{{pillar['email']['username']}}",
            'key' => "{{pillar['email']['password']}}",
        ], //sendgrid

    ], // email
    
    'log' => [
        'path' => '{{pillar['apps']['opg-lpa-front2']['log-dir']}}/application.log',
        'sentry-uri' => '{{pillar['opg-lpa']['sentry']['api-uri']}}',
    ], // log

    'worldpay' => [
        'merchant_code' => '{{pillar['payment']['worldpay']['merchant_code']}}',
        'xml_password' => '{{pillar['payment']['worldpay']['xml_password']}}',
        'administration_code' => '{{pillar['payment']['worldpay']['administration_code']}}',
        'installation_id' => '{{pillar['payment']['worldpay']['installation_id']}}',
        'mac_secret' => '{{pillar['payment']['worldpay']['mac_secret']}}',
        'api_token_secret' => '{{pillar['payment']['worldpay']['api_token_secret']}}',
    ], // worldpay
    
    'admin' => [
        'accounts' => [
{% for name, admin_email_address in pillar['admin_accounts'].iteritems() %}
    "{{ admin_email_address }}",
{% endfor %}
        ],
    ], // admin


    #v1Code
    'v1proxy' => [

        'redis' => [
            'server' => [
                'host' => '{{pillar['v1proxy']['redis']['host']}}',
            ],
        ],

    ],

);
