<?php

return array(

    'session' => [

        'encryption' => [
            // Key MUST be a 32 character string
            'key' => '{{pillar['session']['encryption']['key']}}'
        ],

        'redis' => [
            'server' => [
                'host' => '{{pillar['session']['redis']['host']}}'
            ],
        ],

        'dynamodb' => [
            'settings' => [
                'table_name' => '{{pillar['session']['dynamodb']['table']}}',
            ],
{% if 'key' in pillar['session']['dynamodb'] and 'secret' in pillar['session']['dynamodb'] %}
            'client' => [
                'credentials' => [
                    'key'    => '{{pillar['session']['dynamodb']['key']}}',
                    'secret' => '{{pillar['session']['dynamodb']['secret']}}',
                ]
            ],
{% endif %}
        ],
        


    ], // session

    'csrf' => [
        // Salt used for generating csrf tokens
        'salt' => '{{pillar['csrf']['salt']}}'
    ],

    'admin' => [
        'redis' => [
            'server' => [
                'host' => '{{pillar['session']['redis']['host']}}'

            ],
        ],
        
        'dynamodb' => [
            'settings' => [
                'table_name' => '',
            ],
            'client' => [
                    'version' => '',
                    'region' => '',
                    'credentials' => [
                        'key'    => '',
                        'secret' => '',
                    ],
            ],
        ],
        
        'accounts' => [
{% for name, admin_email_address in pillar['admin_accounts'].iteritems() %}
    "{{ admin_email_address }}",
{% endfor %}
        ],
    ],

    'email' => [

        'sendgrid' => [
            'user' => "{{pillar['email']['username']}}",
            'key' => "{{pillar['email']['password']}}",
        ], //sendgrid

    ], // email
    
    'api_client' => [
        'api_uri' => "{{pillar['endpoints']['api']}}",
        'auth_uri' => "{{pillar['endpoints']['auth']}}",
    ], // api_client
    
    'postcode_info_client' => [
        'api_uri' => "{{pillar['endpoints']['postcode_info']}}",
        'token' => "{{pillar['postcode_info']['auth']}}",
    ], // postcode_info_client
    
    'log' => [
        'path' => '{{pillar['apps']['opg-lpa-front2']['log-dir']}}/application.log',
        'sentry-uri' => '{{pillar['opg-lpa']['sentry']['api-uri']}}',
    ], // log

    'worldpay' => [
        'url' => '{{pillar['payment']['worldpay']['url']}}',
        'merchant_code' => '{{pillar['payment']['worldpay']['merchant_code']}}',
        'xml_password' => '{{pillar['payment']['worldpay']['xml_password']}}',
        'administration_code' => '{{pillar['payment']['worldpay']['administration_code']}}',
        'installation_id' => '{{pillar['payment']['worldpay']['installation_id']}}',
        'mac_secret' => '{{pillar['payment']['worldpay']['mac_secret']}}',
        'api_token_secret' => '{{pillar['payment']['worldpay']['api_token_secret']}}',
    ], // worldpay

    #v1Code
    'v1proxy' => [

        'redis' => [
            'server' => [
                'host' => '{{pillar['v1proxy']['redis']['host']}}',
            ],
        ],

    ],

);
