<?php

return array(

    'session' => [

        'encryption' => [
            // Key MUST be a 32 character string
            'key' => 'insecure-encryption-session-key!'
        ],

    ], // session

    'postcode' => [

        'postcodeanywhere' => [
            'key' => "{{pillar['postcode']['license_key']}}",
            'code' => "{{pillar['postcode']['account_code']}}",
        ],

    ], // postcode

    'email' => [

        'sendgrid' => [
            'user' => "{{pillar['email']['username']}}",
            'key' => "{{pillar['email']['password']}}",
        ], //sendgrid

    ], // email

    'worldpay' => [
        'test_mode' => true,
        'url' => 'https://secure-test.worldpay.com/wcc/purchase',
        'xml_password' => '',
        'administration_code' => '',
        'installation_id' => '',
        'mac_secret' => '',
        'api_token_secret' => '',
    ], // worldpay

);
