{% extends 'layout/layout.twig' %}

{% block content %}

{% if (notificationType == '1-month-notice') %}
    <!-- SUBJECT: Do you still need your online lasting power of attorney account? -->
{% elseif (notificationType == '1-week-notice') %}
    <!-- SUBJECT: Final reminder: do you still need your online LPA account? -->
{% endif %}

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    LPA account deletion
</h1>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	This email is about the online account you used to create a lasting power of attorney (LPA) at <a href="https://www.lastingpowerofattorney.service.gov.uk/home" style="white-space: nowrap; color: #005ea5">www.lastingpowerofattorney.service.gov.uk</a>
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<strong>Nothing in this email affects any LPAs you've already made and registered with the Office of the Public Guardian.</strong> It's just about the account: if you've registered an LPA, you can safely ignore this mail and keep using that LPA.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	But if you have any draft or unregistered LPAs held on the website, or if you think you'll want to sign back in the future to look at your documents, then this may affect you.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	If a user doesn't sign in for 9 months, we close their account and delete all the information associated with it. This is to protect your privacy: we don't want to hold this data for longer than we need to.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<strong>We will delete your account on {{ deletionDate.format('j F Y') }}</strong>
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	If you do want to keep your account, you should just sign in at <a href="https://www.lastingpowerofattorney.service.gov.uk/login" style="white-space: nowrap; color: #005ea5">www.lastingpowerofattorney.service.gov.uk/login</a> &ndash; that will reset the 9-month timer.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	If your account is deleted:
</p>

<ul>
    <li style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">LPAs registered with the Office of the Public Guardian will not be affected at all</li>
    <li style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">unregistered LPA drafts that you only have online will be deleted</li>
    <li style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">you can register an LPA you've already printed out, but you won't be able to use the service to automatically fill in the other forms you need &ndash; this could make things more complicated</li>
</ul>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	If you're sure that you're finished with your account, you can either ignore this email or sign in at <a href="https://www.lastingpowerofattorney.service.gov.uk/login" style="white-space: nowrap; color: #005ea5">www.lastingpowerofattorney.service.gov.uk/login</a> and delete the account yourself.
</p>

{% endblock content %}