{% extends 'layout/layout.twig' %}

{% block content %}

<!-- SUBJECT: This mailbox is not monitored -->

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    Unmonitored Email
</h1>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    The email address to which you replied is not monitored.
</p>

{% endblock content %}
