{% extends 'layout/layout.twig' %}

{% block content %}

    <!-- SUBJECT: About your Make a Lasting Power of Attorney account -->

    <h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
        About your Make a Lasting Power of Attorney account
    </h1>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        An attempt has been made to create a new account on the Lasting power of attorney service using your email address:
    </p>

    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        <strong>If you tried to create the account</strong>
    </p>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        You already have an account using this email address. You can sign in to your account at <a href="www.lastingpowerofattorney.service.gov.uk/login">www.lastingpowerofattorney.service.gov.uk/login</a>
    </p>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        If you have forgotten your password, you can reset it by going to <a href="www.lastingpowerofattorney.service.gov.uk/forgot-password">www.lastingpowerofattorney.service.gov.uk/forgot-password</a>
    </p>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        <strong>If you did not try to create the account</strong>
    </p>
    <p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
        There’s nothing you need to do. The new account has not been created. If you have any concerns or notice any suspicious behaviour on your account, please contact us.
    </p>

{% endblock content %}
