{% extends 'layout/layout.twig' %}

{% block content %}

<!-- SUBJECT: Online Lasting Power of Attorney -->

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    Feedback Survey
</h1>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	Hello,
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	The Office of the Public Guardian (OPG) is committed to providing a quality service.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	We would be very grateful if you could provide feedback at your earliest opportunity about making and paying for your Lasting Power of Attorney online, in a short 10 minute survey.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	We also welcome your comments and suggestions.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	By giving us your feedback, you will help us to make our services better.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	All the information you provide is kept confidential and used only for monitoring customer satisfaction.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	Please click <a href="https://www.surveymonkey.com/r/Online-LPA-Pilot" style="white-space: nowrap; color: #005ea5">here</a><span style="font-size: 14px; color: #0b0c0c"> (https://www.surveymonkey.com/r/Online-LPA-Pilot)</span> to go to the survey now.
</p>

{% endblock content %}
