{% extends 'layout/layout.twig' %}

{% block content %}

<!-- SUBJECT: Please verify your new email address -->

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    Updating your email address
</h1>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    You've asked us to update your email address.
</p>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    If you do not want to change your email address, just ignore this email.
</p>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    To continue with the change, click the following link to make your new email address active:
</p>

{% set changeEmailAddressUrl = url('user/change-email-address/verify', {'token': token}, {'force_canonical': true}) %}
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    <!-- URLs have white-space: nowrap so that they don't wrap -->
    <a style="white-space: nowrap; color: #005ea5" href="{{ changeEmailAddressUrl }}">Verify my new email address</a><br>
    <span style="font-size: 14px; color: #0b0c0c">{{ changeEmailAddressUrl }}</span>
</p>

{% endblock content %}