{% extends 'layout/layout.twig' %}

{% block content %}

<!-- SUBJECT: You asked us to change your email address -->

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    Changing your email address
</h1>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    You have asked us to change your email address to {{ newEmailAddress }}.
</p>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    We have sent an email to the new address - please follow the link in the email to complete the update.
</p>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    Until then, your current email address will remain the active one for your account.
</p>

{% endblock content %}