{% extends 'layout/layout.twig' %}

{% block content %}

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    New Email Notification
</h1>

{% endblock content %}