{% extends 'layout/layout.twig' %}

{% block content %}

<!-- SUBJECT: Request to reset password -->

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    Request to reset password
</h1>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    You do not have an account associated with this email address, so you can not reset your password.
</p>

{% set signUpUrl = url('register', {}, {'force_canonical': true}) %}
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    You can create an account now at<br/>
    <span style="font-size: 14px; color: #0b0c0c">{{ signUpUrl }}</span>
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    If the link does not work, copy it into your browser's address bar.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    If you think that you already have an LPA account, please check that:
</p>

<ul>
    <li style="font-size: 19px; line-height: 1.315; margin: 0; color: #0b0c0c">you tried to log in using the right email address.</li>
    <li style="font-size: 19px; line-height: 1.315; margin: 0; color: #0b0c0c">your account has not been deleted. For security, we automatically delete accounts that have not been used for 9 months. We will have sent you an email before we did this - please check your inbox.</li>
</ul>

{% endblock content %}