{% extends 'layout/layout.twig' %}

{% block content %}

<!-- SUBJECT: Password reset request -->

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    Please reset your password
</h1>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    You told us you'd forgotten the password for your LPA account.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    <!-- URLs have white-space: nowrap so that they don't wrap -->
    <a style="white-space: nowrap; color: #005ea5" href="{{ forgotPasswordUrl }}">Please choose a new password now</a><br>
    <span style="font-size: 14px; color: #0b0c0c">{{ forgotPasswordUrl }}</span>
</p>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    If you've remembered your password or do not want to reset it, just ignore this email and sign in as usual.
</p>

{% endblock content %}
