{% extends 'layout/layout.twig' %}

{% block content %}

<!-- SUBJECT: You have changed your LPA account password -->

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    You have changed your LPA account password
</h1>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    This email confirms that you have changed the password for your online lasting power of attorney account with the email address {{ email }}. You can now use your new password to log into the service.
</p>

{% endblock content %}
