{% extends 'layout/layout.twig' %}

{% block content %}

<!-- SUBJECT: Password reset request -->

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    Your password reset request
</h1>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	You told us that you'd forgotten the password for your LPA account. However, you have not activated the account yet.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	First, please activate your account using the link below:
</p>

{% set activateAccountUrl = url('register/confirm', {'token': token}, {'force_canonical': true}) %}
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<a href="{{ activateAccountUrl }}" style="white-space: nowrap; color: #005ea5">Activate my account now</a><br>
	<span style="font-size: 14px; color: #0b0c0c">{{ activateAccountUrl }}</span>
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	Once you've done that, use the website's 'Forgotten your password?' link again. This time, we'll send you an email that will let you reset your password.
</p>

{% endblock content %}