{% extends 'layout/layout.twig' %}

{% block content %}

<!-- SUBJECT: Activate your lasting power of attorney account -->

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    Activate your account
</h1>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    Thank you for registering to use the digital LPA service.
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	Please activate your account using the link below:
</p>

{% set activateAccountUrl = url('register/confirm', {'token': token}, {'force_canonical': true}) %}
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
	<a href="{{ activateAccountUrl }}" style="white-space: nowrap; color: #005ea5">Activate my account now</a><br>
	<span style="font-size: 14px; color: #0b0c0c">{{ activateAccountUrl }}</span>
</p>

<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    If the link does not work, copy it into your browser's address bar.  The link will expire in 24 hours.
</p>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    <strong>You must activate your account before you can create a lasting power of attorney.</strong>
</p>

{% endblock content %}
