{% extends 'layout/layout.twig' %}

{% block content %}

<h1 style="font-size: 36px; line-height: 1.315; font-weight: 700; margin: 20px 0 26px 0; color: #0b0c0c">
    Activate account
</h1>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    Thank you for registering to use the digital LPA tool.
</p>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    <strong>Use this link to activate and start using your account:</strong>
</p>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0;">
    <!-- URLs have white-space: nowrap so that they don't wrap -->
    <a style="white-space: nowrap; color: #005ea5" href="<?= $this->callback ?>"><?= $this->escapehtml($this->callback) ?></a>
</p>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    If the link doesn't work, copy it into your browser's address bar.  The link will expire in 24 hours.
</p>
<p style="font-size: 19px; line-height: 1.315; margin: 0 0 20px 0; color: #0b0c0c">
    <strong>You must activate your account before you can create a lasting power of attorney (LPA).</strong>
</p>

{% endblock content %}
