#footer{
    h2{
        font-weight:700;
    }
    .footer-wrapper{
        padding-top:0;
    }
    .footer-meta {
        clear:both;
        padding-bottom:60px;
        border:none;
        margin-top:0;
        .footer-meta-inner {
            display: inline-block;
            width: 75%;
            ul{
                @include core-16;
                display: inline-block;
                list-style: none;
                margin: 0 0 1em;
                padding: 0;
                li{
                    display: inline-block;
                    margin: 0 15px 0 0;
                }
            }
            .open-government-licence {
                clear: left;
                position: relative;
                padding-left: 53px;
                h2{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 41px;
                    height: 100%;
                    a{
                        background:url("https://assets.digital.cabinet-office.gov.uk/static/images/open-government-licence_2x-d273d7eca3045d3b710a863d9bfc0b33.png") 0 0 no-repeat;
                        background-size:41px 17px;
                        display: block;
                        width: 41px;
                        height: 17px;
                        overflow: hidden;
                        text-indent: -999em;
                    }
                }
                p{
                    @include core-16;
                    margin: 0;
                    padding-top: 0.1em;
                    a{
                        @include core-14;
                        text-transform: none;
                    }
                }
            }
        }
        .copyright {
            padding-top:15px;
            width: 25%;
            a{
                text-align: right;
                background-position: 100% 0;
            }
        }
    }
}

.system-message {
  margin-top:1em;
  display: block;
  padding: 13px 12px 12px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #2ba6cb;
  border: 3px solid #000;
  text-align:center;
}