// From the toolkit
@import "toolkit/stylesheets/colours";
@import "toolkit/stylesheets/css3";
@import "toolkit/stylesheets/typography";
@import "toolkit/stylesheets/conditionals";
@import "toolkit/stylesheets/shims";

// Helpers
@import "helpers";

// Beta header
@import "beta-header/header";
@import "beta-header/alpha-beta";

// Design patterns
@import "design-patterns/content";
@import "design-patterns/details";
@import "design-patterns/regular-grid";
@import "design-patterns/progress-indicator";
@import "design-patterns/grid";
@import "design-patterns/popups";
@import "design-patterns/buttons";
@import "design-patterns/forms";
@import "design-patterns/global-nav";
@import "design-patterns/accordion-form";
@import "design-patterns/help-popup";
@import "design-patterns/tooltip";
@import "design-patterns/date-picker";
@import "design-patterns/spinner";
@import "design-patterns/feedbacks";

// Pages
@import "pages/homepage";
@import "pages/dashboard";
@import "pages/create-and-register-pages";
@import "pages/account-management";
@import "pages/person-form";
@import "pages/start-and-end-pages";

// Dirty hacks and quick fixes.
@import "shame";

// Import LPA Styles
@import "lpa/import-lpa";



// ===========================================================
// ADJUSTMENTS TO DEFAULT STYLES
// ===========================================================

html {
  background: $white;
}

// Update to Gov.uk design refresh
#wrapper {
  background: #fff;
  border-bottom: 10px solid $light-blue;
}

// Make page headers bold
#wrapper header.page-header hgroup h1 {
  font-weight: bold;
}

// Fix info notice overlap of icon
article .info-notice h3 {
  padding-right: 4em;
}

// Update to latest version
// article .help-notice {
//   background: url(/assets/v1/images/icon-important-2x.png);
//   background-size: 34px 34px;
// }
// -----------------------------------
article .application-notice {
  padding: 0.1em 0 0.1em 1em;
}
article .application-notice {
  margin-left: 0;
  margin-right: 0;
  padding: 0.25em 0 0.25em 3.5em;

  @include media-down(mobile) {
    margin: 1em 0 1.5em 0;
  }
}
article .help-notice {
  background:none;
  background: url(/assets/v1/images/icon-important.png) no-repeat scroll 0 0.5em;

  @include device-pixel-ratio() {
    background-image: url(/assets/v1/images/icon-important-2x.png);
    background-size: 34px 34px;
  }

  p {
    font-weight:600;

    a {
      font-weight:600;
    }
  }
}

article .address {
  background: none;
  margin: 0.75em 0 1.5em 0;
  padding: .1em 0 .1em .8em;
  border-left: 10px solid #eaedef;
}

// ===========================================================
// FIX BORDER COLOUR
// ===========================================================
#wrapper {
  border-color: $govuk-blue;
}

#content {
  border-top: 10px solid $govuk-blue;
}

// ===========================================================
// JS ONLY HELPER
// ===========================================================
.js-only {
  display: none;

  .js-enabled & {
    display: block;
  }
}


// ===========================================================
// LPA Footer
// ===========================================================
.lpa-footer.inner {
  padding: 0 2em 0.5em;

  hr {
    margin: 1.25em 0;
  }
  p {
    @include core-16;
  }
  a {
    color: $black;
    &:hover {
      text-decoration: none;
    }
  }
}

// ===========================================================
// GLOBAL NAVIGATION
// ===========================================================

@include global-nav($black, $grey-2);

// ===========================================================
// DETAILS TAG
// ===========================================================

@include details;

// ===========================================================
// PROGRESS INDICATOR
// ===========================================================

@include progress-indicator($turquoise);


// ===========================================================
// GENERIC POPUP
// ===========================================================
@include popup(80%);


