{% extends 'layout/layout.twig' %}


{% block content %}

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title">Success</h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-body">The LPA was signed in the correct order</p>
        </div>
    </div>

    <a href="{{ url(returnRoute, {'lpa-id': lpa.id}) }}" class="govuk-button">Continue</a>

{% endblock %}
