{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Track your LPA - {% endblock %}
{% block pageTitle %}{{ lpa.document.donor.name }}{% endblock %}
{% block supportTitleBottom %}
    <span class="heading-secondary">
        {{ lpa.document.type == 'property-and-financial' ? 'Property and finance' :
        (( lpa.document.type == 'health-and-welfare') ? 'Health and welfare' : 'Not selected') }}:
        {{ formatLpaId(lpa.id) }}
    </span>
{% endblock %}

{% block content %}
    <ol class="progress-bar">
        <li class="progress-bar__steps not-current">
            <span class="progress-bar__steps--completed"></span>
            <span class="progress-bar__steps--text">Waiting</span>
        </li>
        <li class="progress-bar__steps not-current">
            <span class="progress-bar__steps--completed"></span>
            <span class="progress-bar__steps--text">Received</span>
        </li>
        <li class="progress-bar__steps not-current">
            <span class="progress-bar__steps--completed"></span>
            <span class="progress-bar__steps--text">Checking</span>
        </li>
        <li class="progress-bar__steps current-returned">
            <span class="progress-bar__steps--numbers"></span>
            <span class="progress-bar__steps--text">Returned</span>
        </li>
    </ol>

    <div class="opg-status--returned">
        <div class="">
            <h2 class="heading-xlarge">The LPA has been returned</h2>
        </div>
        <div>
            <p class="lede">We've written to the donor and the attorneys to let them know whether we were able to register the LPA.</p>
            <p class="lede">We have returned the LPA to {{ lpa.document.donor.name }}.</p>
            <p>If you think we should have received your LPA by now, please call <br>  0300 456 0300</p>
            <p>Opening times: Monday, Tuesday, Thursday, Friday 9am to 5pm. Wednesday 10am to 5pm</p>
        </div>
        <div>
            <a class="heading-small" href="/user/dashboard">Back to your LPAs</a>
        </div>
    </div>

{% endblock content %}