{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Track your LPA - {% endblock %}
{% block pageTitle %}{{ lpa.document.donor.name }}{% endblock %}
{% block supportTitleBottom %}
    <span class="heading-secondary">
        {{ lpa.document.type == 'property-and-financial' ? 'Property and finance' :
        (( lpa.document.type == 'health-and-welfare') ? 'Health and welfare' : 'Not selected') }}:
        {{ formatLpaId(lpa.id) }}
    </span>
{% endblock %}

{% block content %}
    <ol class="progress-bar">
        <li class="progress-bar__steps not-current">
            <span class="progress-bar__steps--completed"></span>
            <span class="progress-bar__steps--text">Waiting</span>
        </li>
        <li class="progress-bar__steps current-received">
            <span class="progress-bar__steps--numbers"></span>
            <span class="progress-bar__steps--text">Received</span>
        </li>
        <li class="progress-bar__steps not-current">
            <span class="progress-bar__steps--numbers"></span>
            <span class="progress-bar__steps--text">Checking</span>
        </li>
        <li class="progress-bar__steps not-current">
            <span class="progress-bar__steps--numbers"></span>
            <span class="progress-bar__steps--text">Returned</span>
        </li>
    </ol>

    <div class="opg-status--received">
        <div class="">
            <h2 class="heading-xlarge">We’ve received the LPA</h2>
        </div>
        <div>
            <p class="lede">When we've checked the LPA, we'll send a letter to the donor, the attorneys and the correspondent to let them know what happens next.</p>
            <p>It will take 8 to 10 weeks to register the LPA if there are no mistakes in the application.</p>
        </div>
        <div>
            <a href="/user/dashboard">Back to your LPAs</a>
        </div>
    </div>

{% endblock content %}