<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="2">
    <title>Generating your document | GOV.UK</title>

    <link href="{{ '/assets/v2/css/download-message.css' | asset_path({ 'minify':true }) }}" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="download-message">
        <h2>Please wait while we generate your document. It will appear here in a few seconds.</h2>
    </div>
</body>
</html>
