{% block attorneyGuidance %}
    {% if attorney is not empty and attorney.dob is not defined %}
        <div class="panel panel-border-wide text">
            <p data-cy="continuation-sheet-info">They must have signed continuation sheet 4 after the 'certificate provider' has signed section 10 of the LPA form.</p>
        </div>
    {% endif %}
{% endblock %}
