export OPG_LPA_STACK_ENVIRONMENT=development
export OPG_LPA_STACK_NAME=88-LPA3507ec2-online-lpa
export OPG_LPA_POSTGRES_NAME=api2
export OPG_LPA_POSTGRES_HOSTNAME=$(aws rds describe-db-instances --db-instance-identifier api-${OPG_LPA_STACK_NAME:0:13} | jq -r .'DBInstances'[0].'Endpoint'.'Address')
export OPG_LPA_POSTGRES_PASSWORD=$(aws secretsmanager get-secret-value --secret-id ${OPG_LPA_STACK_ENVIRONMENT}/api_rds_password | jq -r .'SecretString')
export OPG_LPA_POSTGRES_USERNAME=$(aws secretsmanager get-secret-value --secret-id ${OPG_LPA_STACK_ENVIRONMENT}/api_rds_username | jq -r .'SecretString')
