{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{% block pageTitle %}Accessibility statement for Make a lasting power of attorney{% endblock %}

{% block content %}
<div class="text">
    <p class="govuk-body">This online service is run by the <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian">Office of the Public Guardian</a>. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
    <ul class="list list-bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
    <h2 class="heading-medium">Get help</h2>
    <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has guidance about how to:</p>
    <ul class="list list-bullet">
        <li><a href="https://mcmw.abilitynet.org.uk/impairment/making-your-mouse-easier-to-use">make your mouse easier to use</a></li>
        <li><a href="https://mcmw.abilitynet.org.uk/category/keyboard-shortcuts">use your keyboard instead of a mouse</a></li>
        <li><a href="https://mcmw.abilitynet.org.uk/impairment/talking-to-your-device">talk to your device</a></li>
        <li><a href="https://mcmw.abilitynet.org.uk/impairment/make-your-device-talk-to-you">make your device talk to you</a></li>
        <li><a href="https://mcmw.abilitynet.org.uk/impairment/making-text-larger">make text larger</a></li>
        <li><a href="https://mcmw.abilitynet.org.uk/impairment/changing-your-colours">change your colours</a></li>
        <li><a href="https://mcmw.abilitynet.org.uk/impairment/magnifying-the-screen">magnify the screen</a></li>
    </ul>
    <h2 class="heading-medium">How accessible this website is</h2>
    <p class="govuk-body">We know some parts of this website are not fully accessible:</p>
    <ul class="list list-bullet">
        <li>the text will not reflow in a single column when you change the size of the browser window</li>
        <li>you cannot modify the line height or spacing of text</li>
        <li>the PDF document produced by the service is not fully accessible to screen reader software</li>
        <li>some of our online forms are difficult to navigate using just a keyboard</li>
        <li>you cannot skip to the main content when using a screen reader</li>
    </ul>
    <h2 class="heading-medium">What to do if you cannot access parts of this service</h2>
    <p class="govuk-body">If you cannot use this service, you can use the <a href="https://www.gov.uk/government/publications/make-a-lasting-power-of-attorney">paper version of the LPA</a>. </p>
    <p class="govuk-body">You can email <a href="mailto:customerservices@publicguardian.gov.uk">customerservices@<wbr>publicguardian.gov.uk</a> to get the paper LPA in an alternative format, such as:</p>
    <ul class="list list-bullet">
        <li>large print</li>
        <li>braille</li>
        <li>audio</li>
    </ul>
    <p class="govuk-body">Include your address, the title of the document you need and the format you need it in.</p>
    <h2 class="heading-medium">Reporting accessibility problems with this service</h2>
    <p>We’re always looking to improve the accessibility of this service. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, please contact us. </p>
    <h3 class="heading-small">Email</h3>
    <p class="govuk-body"><a href="mailto:customerservices@publicguardian.gov.uk">customerservices@<wbr>publicguardian.gov.uk</a></p>
    <h3 class="heading-small">Telephone</h3>
    <p class="govuk-body">0300 456 0300</p>
    <p class="govuk-body">Monday to Friday 9:30am to 5pm, except Wednesday.</p>
    <p class="govuk-body">Wednesday 10am to 5pm</p>
    <p class="govuk-body"><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
    <h3 class="heading-small">Textphone</h3>
    0115 934 2778
    <h2 class="heading-medium">Enforcement procedure</h2>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com" rel="noopener noreferrer" target="_blank">contact the Equality Advisory and Support Service (EASS) (opens in new tab)</a>.</p>
    <h2 class="heading-medium">Technical information about this website’s accessibility</h2>
    <p class="govuk-body">The Office of the Public Guardian is committed to making its online services accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <h3 class="heading-medium">Compliance status</h3>
    <p class="govuk-body">This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21" rel="noopener noreferrer" target="_blank">Web Content Accessibility Guidelines version 2.1 (opens in new tab)</a> AA standard, due to the non-compliances listed below.</p>
    <h2 class="heading-medium">Non-accessible content</h2>
    <p class="govuk-body">This service was fully compliant with Web Content Accessibility Guidelines (WCAG) 2.0.</p>
    <p class="govuk-body">However, we’re currently checking that the service is compliant with Web Content Accessibility Guidelines (WCAG) 2.1.</p>
    <p class="govuk-body">The content listed below may be non-accessible. We need to check:</p>
    <ul class="list list-bullet">
        <li>users can zoom in on content without needing to scroll or without causing poor experience</li>
        <li>non-text content has enough contrast with the background</li>
        <li>text spacing can be changed</li>
        <li>any additional content - for example, pop-ups, submenus - can be dismissed </li>
        <li>users can turn off or change keyboard shortcut</li>
        <li>users are warned when their session will timeout and lose any data they’ve entered</li>
        <li>users can use touchscreens with simple actions, like taps, double taps, and long presses</li>
        <li>users can cancel the trigger when they click down on a mouse or press down with their finger</li>
        <li>accessible labels are the same as the visual text for components</li>
        <li>any function can be activated without shaking or tilting a device</li>
        <li>clickable elements are at least 44 by 44 CSS pixels apart</li>
        <li>users are not restricted to using certain input modalities - for example, keyboard, mouse, touchscreen, voice input - and they can switch between them</li>
        <li>status messages are shown in a way that assistive technologies understand without losing focus</li>
    </ul>
    <p>This work will be completed by 31st Aug 2021.</p>
    <h3 class="heading-medium">Disproportionate burden</h3>
    <p>Not applicable</p>
    <h3 class="heading-medium">Content that’s not within the scope of the accessibility regulations</h3>
    <p>Not applicable</p>
    <h2 class="heading-medium">Preparation of this accessibility statement</h2>
    {{ govukInsetText({'html': 'This statement was prepared on 21 September 2020. It was last reviewed on 5 March 2021.'} )}}
    <p>Last updated on 8 Mar 2021.</p>
</div>
{% endblock %}
