{% extends 'govuk_frontend_jinja/template.html' %}

{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% block pageTitle %}Make a lasting power of attorney{% endblock %}

{% block head %}
  <meta name="description" content="Make a lasting power of attorney">
  <meta name="keywords" content="">
  <!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-3.14.0.min.css') }}" /><!--<![endif]-->
  <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-ie8-3.14.0.min.css') }}" /><![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeader({
    'homepageUrl': url_for('index'),
    'serviceName': "Make a lasting power of attorney",
    'serviceUrl': url_for('index')
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    'navigation': [
    ],
    'meta': {'visuallyHiddenTitle': 'Items', 'items': [{'href': '/contact', 'text': 'Contact us'}, {'href': '/accessibility', 'text': 'Accessibility statement'}, {'href': 'terms', 'text': 'Terms of use'}, {'href': '/privacy-notice', 'text': 'Privacy notice'}, {'href': '/cookies', 'text': 'Cookies'} ], 
      'html': 'Built by <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian" class="govuk-footer__link">OPG Digital</a>'
    }}
  ) }}
{% endblock %}

{% block bodyEnd %}
  <!--[if gt IE 8]><!-->
  <script src="{{ url_for('static', filename='govuk-frontend-3.14.0.min.js') }}"> </script>
  <script>window.GOVUKFrontend.initAll()</script>
  <!--<![endif]-->
{% endblock %}
