{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Send us feedback (flask)</h1>
      <p class="govuk-body">We will not respond to your feedback directly but will use it to improve this service. If you're happy to be contacted to give further feedback, please leave your email address or phone number.</p>
      <p class="govuk-body">If you have a question about your LPA, please email <a href="mailto:customerservices@publicguardian.gov.uk">customerservices@publicguardian.gov.uk</a> who will be able to help.</p>
    </div>
  </div>  
{% endblock %}
