export TF_VAR_default_role=account-write
export TF_VAR_management_role=management-admin
export TF_CLI_ARGS_init="-backend-config=role_arn=arn:aws:iam::311462405659:role/management-admin -upgrade=true  -reconfigure"
export GIT_URL='https://github.com/ministryofjustice/opg-lpa.git'
export REPO_DIR='/tmp/opg-lpa'
export TF_CONFIG_PATH=terraform/terraform_environment
export TERRAFORM_VERSION='0.12.5'

