{% extends 'layout/layout.twig' %}

{%- set pageTitle = 'Service status' -%}

{% block content %}

<div class="service-status">
	<div class="text">
		{% if status.ok == true %}
			<h2 class="heading-medium"><i class="icon icon-tick"></i> Service is up and running</h2>
		{% else %}
			<h2 class="heading-medium"><i class="icon icon-cross"></i> Service is down</h2>
		{% endif %}

		<ul class="service-list">
			{% if status.dynamo.ok == true %}
				<li>
					<i class="icon icon-tick"></i>
					<p class="flush--bottom">Database is up and running</p>
				</li>
			{% else %}
				<li>
					<i class="icon icon-cross"></i>
					<p class="flush--bottom">Database is down</p>
				</li>
			{% endif %}
			{% if status.api.ok == true %}
				<li>
					{% if status.api.status == 'warn' %}
						<strong class="icon">⚠</strong>
					{% else %}
						<i class="icon icon-tick"></i>
					{% endif %}
					<p class="flush--bottom">API service is up and running</p>
				</li>
				{% if status.api.status == 'warn' %}
	                <li>
	                    <div class="bold-xsmall" style="margin-left: 32px">
	                        <p class="flush--bottom">(The API service is running in a degraded state)</p>
	                    </div>
	                </li>
            	{% endif %}
			{% else %}
				<li>
					<i class="icon icon-cross"></i>
					<p class="flush--bottom">API service is down</p>
				</li>
			{% endif %}
			{% if status.sessionSaveHandler.ok == true %}
				<li>
					<i class="icon icon-tick"></i>
					<p class="flush--bottom">Session storage is up and running</p>
				</li>
			{% else %}
				<li>
					<i class="icon icon-cross"></i>
					<p class="flush--bottom">Session storage is down</p>
				</li>
			{% endif %}
            {% if status.ordnanceSurvey.ok == true %}
                <li>
                    <i class="icon icon-tick"></i>
                    <p class="flush--bottom">Ordnance Survey postcode lookup is up and running</p>
                </li>
            {% else %}
                <li>
                    <i class="icon icon-cross"></i>
                    <p class="flush--bottom">Ordnance Survey postcode lookup is down</p>
                </li>
            {% endif %}
            {% if status.ordnanceSurvey.cached == true %}
                <li>
                    <div class="bold-xsmall" style="margin-left: 32px">
                        <p class="flush--bottom">(The Ordnance Survey status is a cached response due to rate limiting)</p>
                    </div>
                </li>
            {% endif %}
		</ul>
	</div>
</div>


{% endblock content %}
