{% extends 'layout/layout.twig' %}

{%- set pageTitle = 'Please tell us more' -%}

{% block content %}

    <p class="lede">
        You need to fill in some missing answers.
    </p>

    <p>
        Click the link below to continue and complete the information we need.
    </p>

    <p><br></p>

    <a href="{{ url('lpa', {'lpa-id': lpaId}) }}" value="Continue your LPA" class="button">Continue your LPA</a>

{% endblock %}
