{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Email sent - {% endblock %}
{% block pageTitle %}Thank you{% endblock %}

{% block content %}

<div class="text">
	<p class="lede">We've emailed a link to <span class="bold-medium">{{ email|raw }}</span>. You'll need to click on the link so we know this email address is correct.</p>
	<p>If you have not got the email within a few minutes, please check your spam, bulk or junk email folder – your email system may have blocked it by mistake.</p>
</div>

{% endblock content %}
