export TF_VAR_default_role=operator
export TF_VAR_management_role=operator
export TF_VAR_account_id=050256574573
export AWS_ECS_CLUSTER_ARN=050256574573
export AWS_ECS_TASK_DEFINITION_ARN=050256574573
export TEST=True
export TF_CLI_ARGS_init="-backend-config=role_arn=arn:aws:iam::311462405659:role/operator -upgrade=true  -reconfigure"

