<?php

return array(

    'service' => array(

        'assets'=>array(

            'source_template_path' => __DIR__.'/../assets/v2',

            'template_path_on_ram_disk' => '/tmp/pdf_ramdisk/assets/v2',

            'intermediate_file_path' => '/tmp/pdf_ramdisk'
        ),

    ),

    'worker' => array(

        'testResponse'=>array(

            'path' => __DIR__.'/../test-data/output/',

        ),

        'redisResponse'=>array(

            'host' => 'redisback.local',
            'port' => 6379,

            // The number of files that can be stored in Redis.
            'size' => 30,

        ),

    ),

    'log' => [
        'path' => '{{pillar['apps']['opg-lpa-pdf2']['log-dir']}}/application.log',
        'sentry-uri' => '{{pillar['opg-lpa']['sentry']['api-uri']}}',
    ], // log
    
    'pdf' => [
        'encryption' => [
            // Keys MUST be a 32 character ASCII string
            'keys' => [
                'queue'     => '{{pillar['pdf']['encryption']['key']['queue']}}',      // Key for JSON pushed onto the queue
                'document'  => '{{pillar['pdf']['encryption']['key']['document']}}',   // Key for generated PDFs in the file store
            ],
            'options' => [
                'algorithm' => 'aes',
                'mode' => 'cbc',
            ],
        ],
    ], // pdf

);
