<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuite name="AuthTest">
        <directory>./AuthTest</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./../src</directory>
        </whitelist>
    </filter>
    <!--Only works with phpunit 6+. Reinstate when zend upgrade is complete-->
    <!--<listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>-->
</phpunit>
