export AWS_ACCOUNT_ID=288342028542
export AWS_IAM_ROLE=sirius-api-gateway-access-lpa-online-tool
export API_GATEWAY_URL="https://api.dev.sirius.opg.digital/v1/lpa-online-tool/lpas/"
export BASE_URL='https://frontend-integration.sirius.opg.digital'
