<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>

    {#{% dump %}#}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="2; url=/lpa/{{ data.lpaid }}/download/{{ data.pdftype }}/{{ data.pdffilename }}" />

    <title>Generating your document | GOV.UK</title>

    <link href="{{ '/assets/v2/css/download-message.css' | asset_path({ 'minify':true }) }}" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="download-message">
        <h2>Downloading...</h2>
    </div>
</body>
</html>
