{% extends 'layout/layout.twig' %}

{% block htmlTitle %}Delete your account - {% endblock %}
{% block pageTitle %}Deleting your account{% endblock %}

{% block content %}

<div class="text">
	<p class="lede">You are about to delete your account. Doing this will permanently remove all your LPAs and personal details from our system.</p>
	<p><a href="{{ url('user/delete', {'action': 'confirm'}) }}">Yes, continue deleting my account</a></p>
	<p><a href="{{ url( 'user/dashboard' ) }}">No, return to my LPAs</a></p>
</div>

{% endblock content %}

