// Typography
// ==========================================================================

// Allow very long words/links to break so they don't break out of containers
.text {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.heading-xlarge {
    margin-top: em(30, 32);
    margin-bottom: em(15, 32);

    @include media(tablet) {
        margin-top: em(60, 48);
        margin-bottom: em(30, 48);
    }
}

// Duplicating heading classes as placeholders to enable proper extending
// Headings
%heading-xlarge {
    @include bold-48();

    margin-top: em(30, 32);
    margin-bottom: em(15, 32);

    @include media(tablet) {
        margin-top: em(60, 48);
        margin-bottom: em(30, 48);
    }

    .heading-secondary {
        @include heading-27();

        display: block;
        color: $secondary-text-colour;
    }

}

%heading-large {
    @include bold-36();

    margin-top: em(25, 24);
    margin-bottom: em(10, 24);

    @include media(tablet) {
        margin-top: em(45, 36);
        margin-bottom: em(20, 36);
    }

    .heading-secondary {
        @include heading-24();

        display: block;
        color: $secondary-text-colour;
    }

}

%heading-medium {
    @include bold-24();

    margin-top: em(25, 20);
    margin-bottom: em(10, 20);

    @include media(tablet) {
        margin-top: em(45, 24);
        margin-bottom: em(20, 24);
    }

}

%heading-small {
    @include bold-19();

    margin-top: em(10, 16);
    margin-bottom: em(5, 16);

    @include media(tablet) {
        margin-top: em(20, 19);
    }

}

// simulate the newer design system layout for
// warning blocks
.govuk-warning-text {
    position: relative;
    padding: 10px 0;
    margin-bottom: 30px;
}

.govuk-warning-text__text {
    display: block;
    padding-left: 45px;
    font-weight: 700;
}
