// Forms
// ==========================================================================

[disabled="disabled"] {
    opacity: .5;
}

.form-date {
    margin-bottom: 30px;
    overflow: hidden;
}

.form-group-day,
.form-group-month,
.form-group-year {

    &.error {
        padding-left: 0;
        border-left: 0;
    }
}

.form-control {
    border-radius: 0;
}

.form-hint--strong {
    margin-top: 10px;
    color: $black;
}

.form-group-checkbox {
    float: left;
    width: 100%;
    &.error {
        margin-bottom: 10px;
    }
}

.error {
    .form-group-checkbox {
        .block-label:last-child {
            margin-bottom: 10px;
        }
    }
}

