// Icons
// ==========================================================================

.icon-property {
	@include icon(icon-property, 55, 50);
	@include media(mobile){
		@include icon(icon-property, 33, 30);
		background-size: contain;
	}
	@include media($max-width: 360px) {
		display: none;
	}
}

.icon-finance {
	margin-right: 10px;
	@include icon(icon-finance, 52, 50);
	@include media(mobile){
		margin-right: 6px;
		@include icon(icon-finance, 31, 30);
		background-size: contain;
	}
	@include media($max-width: 360px) {
		display: none;
	}
}

.icon-health {
	@include icon(icon-health, 60, 50);
	@include media(mobile){
		@include icon(icon-health, 36, 30);
		background-size: contain;
	}
	@include media($max-width: 360px) {
		display: none;
	}
}

.icon-welfare {
	margin-right: 10px;
	@include icon(icon-welfare, 52, 50);
	@include media(mobile){
		margin-right: 6px;
		@include icon(icon-welfare, 31, 30);
		background-size: contain;
	}
	@include media($max-width: 360px) {
		display: none;
	}
}

.icon-question {
	margin-right: 10px;
	@include icon(icon-question, 52, 50);
	@include media(mobile){
		margin-right: 6px;
		@include icon(icon-question, 31, 30);
		background-size: contain;
	}
	@include media($max-width: 360px) {
		display: none;
	}
}