{% extends 'layout/twig/accordion-header.twig' %}

{% block content %}

<li id="payment" class="section current js-current">

	<h2 class="heading-medium accordion-header flush--top">Making payment online through Worldpay payment gateway</h2>
	
	<div class="accordion-info">
		<div class="text">

			<div class="alert panel" role="alert">
				<i class="icon icon-cross" role="presentation"></i>
				<div class="alert-message">
					<p>Payment cancelled</p>
				</div>
			</div>

			<h2 class="heading-medium flush--top">Amount due: &pound;{{ lpa.payment.amount }}</h2>

			<p>It appears you have chosen to cancel online payment. If you would like to choose an alternative payment method, please go to <a href="{{ paymentUrl }}">payment options page</a></p>
			
		</div>
	</div>

	<div class="form-group">
        <a href="{{ retryUrl }}" class="button">Try again</a>
    </div>
	
</li>

{% endblock %}
