<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./module/MakeShared/tests/Bootstrap.php"
         colors="true"
         cacheResultFile="/tmp/.phpunit.result.cache">


    <testsuite name="MakeSharedTest">
        <directory>module/MakeShared/tests</directory>
    </testsuite>


    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">module/MakeShared/src</directory>
        </include>
        <report>
            <html outputDirectory="./build/coverage"/>
        </report>
    </coverage>
</phpunit>
