<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./module/MakeShared/tests/Bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
        <directory suffix=".php">module/MakeShared/src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="MakeSharedTest">
        <directory>module/MakeShared/tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
