{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Unknown server error (500 error) - {% endblock %}
{% block pageTitle %}Unknown server error (500 error){% endblock %}

{% block content %}

	<a href="{{ url('home') }}">Return to home page</a>

{% endblock content %}