.new_feedback {
  .validation-summary {
    margin-left: 0;
    margin-right: 0;
  }
  &.form .validation {
    margin-right: -1.9em;
    margin-left: -1.9em;
    padding-bottom: 0.6em;
    color: $mellow-red;

    li {
      list-style: none;
      @include core-16;
    }
  }
  .group {
    margin: 0 0 15px;
  }
  fieldset {
    padding: 15px 30px 20px;
    margin-top: 0;
    background: lighten($grey-3, 4%);

    legend {
      padding-top: 30px;
    }

    .field_with_errors {
      display: inline;
      display: inline-block;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      background: $white;
    }

    label.radio {
      padding-right: 20px;
      padding-left: 5px;
      display: inline;
    }
  }

  #char-limit {
    font-size: 11px;
    margin-top: 0.5em;
    color: #444444;
  }
}

