// GLOBAL NAVIGATION

// From the toolkit
@import "toolkit/stylesheets/colours";
@import "toolkit/stylesheets/typography";
@import "toolkit/stylesheets/conditionals";


@import "utils";

$gutter:            30px;
$gutter-one-sixth:  $gutter/6; // equivalent to 5px
$gutter-one-third:  $gutter/3; // equivalent to 10px
$alpha-colour: $pink;
$beta-colour: $orange;

@mixin global-nav($active-colour: $black, $highlight-colour: $black){
  #global-nav {
    margin: 0;
    border-bottom: 1px solid $highlight-colour;
    position: relative;
    z-index: 60;

    @include media(tablet){
      margin: 0;
    }
    
    @include media(desktop){
      text-align: right;
    }
    
    .inner {
      // border-bottom: $gutter-one-sixth solid $active-colour;
      padding: $gutter-one-sixth 2em 2em 2em;
      @extend %contain-floats;
      @include media(tablet){
        padding-bottom: 0;
      }
    }

    a,
    .toggler {
      @include core-16;
      display: block;
      padding: $gutter-one-third 8px;
      text-decoration: none;

      @include media(desktop){
        display: inline-block;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    .home a {
      display: block;
      float: left;
      padding-left: 0;
    }
    .jump-link {
      float: right;

      @include media(desktop){
        position: absolute;
        left: -99999em;
      }
    }
    .toggler {
      cursor: pointer;

      &:focus {
        outline: none;
      }
      &:after {
        display: inline-block;
        font-size: 8px;
        height: 8px;
        padding-left: 5px;
        vertical-align: middle;
        content: " \25BC";
      }
    }
    &.open {
      .toggler {
        &:after {
          content: " \25B2";
        }
      }
    }
    nav {
      clear: both;
      margin-bottom: 3px;

      @include media(desktop){
        clear: none;
        background: transparent;
        position: static;
        margin-bottom: 0;
      }

      #navigation{
        margin: 0;
        padding: 0;
      }

      .user{
        margin-right: 8px;
      }

      .current {
        color: $white;
        background: $active-colour;
      }
      a {
        text-decoration: underline;      
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
      li {
        display: block;
        position: relative;
        vertical-align: middle;

        @include media(desktop){
          display: inline;
        }
        .toggler {
          position: absolute;
          left: -9999em;
          &:focus {
            text-decoration: none;
          }

          @include media(desktop){
            position: relative;
            left: auto;
            z-index: 10;
          }
        }
      }
    }
    &.open {
      .toggler {
        background: $highlight-colour;
      }
      .toggler.current {
        background: $active-colour;
      }
    }
  }
}