// ==========================================
// HELP SYSTEM STYLES

//@import "colours";
//@import "design-patterns/help-popup";

// Examples
.example {
background: none repeat scroll 0 0 #E7EBDA;
margin: 0.75em -1em;
padding: 0.5em 1em;
}


#help-system {
  // Header
  header {
    padding: 1em 3.25em;
    border-bottom: 1px solid $light-blue-25;
    background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-information-f78d8c1b10b141b5a9a8c7a40220c4a4.png) no-repeat 1em 0.8em;

    p {
      margin: 0;
    }
  }
  // Navigation
  .help-navigation {
    padding: 0.5em 0 0;
    border-bottom: 1px solid $light-blue-25;

    @include media(desktop) {
      float: right;
      width: 25%;
      border-bottom: 0;
    }
    h2 {
      @include core-19;
      margin: 0.75em 0 1em;
      padding: 0.25em 0 0.25em 1.5em;
    }
    a {
      @include core-16;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      margin: 0.5em 0 0;
      padding: 0 0 1em;
      list-style-image: none;

      @include media(desktop) {
        margin-left: -2px;
        border-left: 2px solid $light-blue-25;
        position: relative;
        z-index: 2;
      }

      li {
        margin: 0;
        padding: 0.25em 0.5em 0.25em 1.8em;
        list-style-type: none;
        border-left: 2px solid transparent;

        @include media(desktop) {
          position: relative;
          left: -2px;
          margin-right: -2px;
        }

        &.active {
          border-left: 2px solid $light-blue;
          background: $highlight-colour;
          a {
            color: $text-colour;
            text-decoration: none;
          }
        }
      }
    }
  }
  // Actions
  .action {
    padding: 1em 0;
    margin: 0;
    border-top: 1px solid $light-blue-25;

    @include media(desktop) {
      clear: both;
    }

    .close-help {
      display: none;
    }
  }
  // Content area
  .help-sections {
    @include media(desktop) {
      float: left;
      width: 75%;
    }

    h1 {
      @include heading-48;
      margin: 0;
    }
    h3 {
      @include bold-19;
      margin: 2em 0 1em;
    }
    ul {
      margin-left: 2em;
    }
    dt {
      font-weight: bold;
    }
    article {
      padding-bottom: 1em;
      padding-top: 1.5em;
      margin-bottom: -1px;
      border-bottom: 1px solid $light-blue-25;
      width: auto;
      float: none;
      margin-right: 0;

      @include media(desktop) {
        padding-right: 3em;
        border-right: 2px solid $light-blue-25;
      }
    }
  }

  // custom styles when loaded in popup
  #popup & {
    .inner {
      max-width: none;
      padding: 0;
    }
    .action {
      padding-left: 1em;
      padding-right: 1em;

      .close-help {
        display: inline;
      }
    }
    .help-sections {
      article {
        padding-left: 2em;
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}
