// =======================================================
// POPUPS

// From the toolkit
@import "toolkit/stylesheets/colours";

@mixin popup($width: 70%, $height: 26em, $border-colour: $light-blue-25){
  // Helper styles for popups
  .noscroll {
    position: relative;
    overflow: hidden;
  }
  .popover-mask {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 60;
    overflow-y: auto;
    @include ie-lte(8) {
      background-color: #333;
    }
  }

  #popup {
    display: none;
    clear: both;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999999;
    width: $width;
    background-color: $white;
    margin: 4em auto 20em auto;
    padding: 0 0 0.5em;
    border: 0.5em solid #222;
    overflow: hidden;
    @include ie-lte(8) {
      margin: 0 auto;
    }

    // 'X' Close button
    .close {
      margin: 0;
      position: absolute;
      z-index: 2;
      top: 0.5em;
      right: 0.5em;

      a {
        background-color: transparent;
        background-image: url(https://assets.digital.cabinet-office.gov.uk/static/close-d05b62d4287151f959ffdcf2387898f7.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
        margin: 0;
        height: 2em;
        width: 2em;
        text-indent: -9999px;
        overflow: hidden;
        &:hover {
          background-color: #bfbfbf;
        }
      }
    }

    // Popup header
    .header {
      border-bottom: 1px solid $border-colour;
      padding: 1em 2em;
      @include core-19;

      h1, h2, h3, p {
        margin: 0;
      }
    }

    // Popup actions
    .action {
      clear: both;
      border-top: 1px solid $border-colour;
      padding: 1em;
    }
  }
}


#popup.timeout {
  width: 500px;

  .timeout-body {
    padding: 25px;

    ul {
      margin: 0;
    }
  }
}
