// =======================================================
// PROGRESS INDICATOR

@mixin progress-indicator($active-colour: $border-colour) {
  nav.progress-indicator {
    padding-left: 1em;
    border-bottom: 3px solid $grey-3;
    margin: -1em -2em 1em;
    ol{
      list-style-type: decimal;
      list-style-position: inside;
      margin: 0;
      padding: 0;
      position: relative;
      bottom: -3px;
      @include media(mobile) {
        margin: 0.5em 0;
      }
    }
    li{
      float: left;
      margin: 0 1em;
      padding: 0.75em 0;
      &.active{
        border-bottom: 3px solid $active-colour;    
        @include media(mobile) {
          border: 0;
          font-weight: bold;
          color: $active-colour;
        }
      }
      @include media(mobile) {
        width: 100%;
        margin-left: 0.5em;
        padding: 0.25em;
      }
    }
    &.sticky{
      position: fixed;
      top: 0;
      background:#fff;
      margin-top:0;
      z-index:9999;
    }
    &.static{
      position:static;
      width:auto;
    }
  }

}