{% if message %}
    <div class="notice">
        <i class="icon icon-important"></i>
        <p>
            <strong class="bold-small text">{{ message }}</strong>
        </p>
    </div>
{% endif %}
