/*
Syntax error: Invalid CSS after "  &-": expected number or function, was "-end {"
        on line 35 of /srv/vagrant_repos/opg-lpa-front/sass/pages/_homepage.scss
        from line 33 of /srv/vagrant_repos/opg-lpa-front/sass/styles.scss
        from line 6 of /srv/vagrant_repos/opg-lpa-front/sass/ie8.scss

Backtrace:
/srv/vagrant_repos/opg-lpa-front/sass/pages/_homepage.scss:35
/srv/vagrant_repos/opg-lpa-front/sass/styles.scss:33
/srv/vagrant_repos/opg-lpa-front/sass/ie8.scss:6
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1148:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1084:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1066:in `expr!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:921:in `term'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:896:in `expr'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:670:in `simple_selector_sequence'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:645:in `_selector'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:618:in `selector'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:602:in `selector_sequence'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:527:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1122:in `call'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1122:in `rethrow'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:553:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:545:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:534:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:528:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:552:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:545:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:82:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:27:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:342:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:274:in `to_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:225:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:227:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:227:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:315:in `_render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:262:in `render'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:140:in `block (2 levels) in compile'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:126:in `timed'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:139:in `block in compile'
/usr/lib/ruby/vendor_ruby/compass/logger.rb:45:in `red'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:138:in `compile'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:118:in `compile_if_required'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:103:in `block (2 levels) in run'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:101:in `each'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:101:in `block in run'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:126:in `timed'
/usr/lib/ruby/vendor_ruby/compass/compiler.rb:100:in `run'
/usr/lib/ruby/vendor_ruby/compass/commands/watch_project.rb:147:in `recompile'
/usr/lib/ruby/vendor_ruby/compass/commands/watch_project.rb:68:in `perform'
/usr/lib/ruby/vendor_ruby/compass/commands/base.rb:18:in `execute'
/usr/lib/ruby/vendor_ruby/compass/commands/project_base.rb:19:in `execute'
/usr/lib/ruby/vendor_ruby/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/lib/ruby/vendor_ruby/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/bin/compass:30:in `block in <main>'
/usr/bin/compass:44:in `call'
/usr/bin/compass:44:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  &-\": expected number or function, was \"-end {\"\A         on line 35 of /srv/vagrant_repos/opg-lpa-front/sass/pages/_homepage.scss\A         from line 33 of /srv/vagrant_repos/opg-lpa-front/sass/styles.scss\A         from line 6 of /srv/vagrant_repos/opg-lpa-front/sass/ie8.scss"; }
