{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Thank you for your feedback - {% endblock %}
{% block pageTitle %}Thank you{% endblock %}

{% block content %}

<div class="text">

    <p class="lede">Thank you for giving us your feedback about creating an LPA online. We regularly update the digital LPA service and pay careful attention to all the comments we receive.</p>

    <p>If you have a question that needs a response, please email <a href="mailto:customerservices@publicguardian.gov.uk">customerservices@publicguardian.gov.uk</a> or call 0300 456 0300, as emails to this address will not be answered directly.</p>

    <p>Thank you, again: your feedback will help to improve this service for everyone.</p>

    <p><a href="{{ returnTarget }}" class="button">Continue</a></p>
</div>

{% endblock content %}