        <div class="person-summary group">
            <div class="person">
                <h3>{{ attorney.name }}</h3>
                <p>{{ attorney.address }}</p>
            </div>
            
            <ul class="actions">
                <li><a href="{{ editRoute }}" class="js-form-popup">View/edit details</a></li>
                <li><a href="{{ deleteRoute }}" class="js-confirm" data-confirm-question="Do you want to remove this person?">Delete</a></li>
            </ul>
        </div>
