{% extends 'layout/layout.twig' %}

{%- set pageTitle = 'Problem creating your LPA document' -%}

{% block content %}

<div class="text">
	<p class="lede">Sorry we had a problem creating a PDF version of your LPA for you to download.</p>
	<p>Please try again later or <a href="{{ url('user/dashboard') }}">return to your LPA dashboard</a>.</p>
</div>

{% endblock %}
