{% set form = formErrorTextExchange(form,  {
    'password' : {
        'cannot-be-empty' : 'Please enter your password',
        'min-length-8' : 'Your password must be at least eight characters long',
        'must-include-digit' : 'Your password must include at least one digit (0-9)',
        'must-include-lower-case' : 'Your password must include at least one lower case letter (a-z)',
        'must-include-upper-case' : 'Your password must include at least one capital letter (A-Z)',
    },
    'password_confirm' : {
        'did-not-match' : 'The passwords did not match',
        'cannot-be-empty' : 'Please confirm your password'
    }
}) %}

{% if (error is not empty or form.getMessages|length > 0) %}
<div class="error-summary" role="group" aria-labelledby="error-heading" tabindex="-1">
    <h1 class="heading-medium error-summary-heading" id="error-heading">There was a problem resetting your password</h1>
    {# Show this only if it's a form error #}
    {% if form.getMessages|length > 0 %}
        <p>You need to do the following:</p>
    {% endif %}

    <ul class="error-summary-list">
        {# Form errors #}
        {{ formLinkedErrorListV2(form) ? '' }}

        {# API errors #}
        {% if error is not empty %}
            <li><p>{{ error }}</p></li>
        {% endif %}
    </ul>
</div>
{% endif %}