{% if message %}
    <div class="notice">
        <i class="icon icon-important"></i>
        <p class="govuk-body">
            <strong class="govuk-!-font-weight-bold">{{ message }}</strong>
        </p>
    </div>
{% endif %}
