// =======================================================
// PROCESS ACCORDION

.accordion {
    @include govuk-clearfix;

    > .incomplete {
        color: govuk-colour("red");

        .accordion-summary {
            .label {
                color: govuk-colour("red");
                border-color: govuk-colour("red");
            }
        }
    }

    .not-started {
        .accordion-summary {
            .label {
                color: $white;
                border-color: #6f777b;
            }
        }
    }

    .accordion-header {
        display: block;
        padding: govuk-spacing(3);
        background-color: $turquoise-with-contrast;
        color: $white;

        @media (max-width: 640px) {
            padding-left: govuk-spacing(3);
        }
    }

    .accordion-info {
        @include govuk-clearfix;
        margin-bottom: govuk-spacing(6);
        border-bottom: 1px solid $govuk-border-colour;
    }

    .accordion-summary {
        position: relative;
        margin-bottom: govuk-spacing(3);
        background-color: #f8f8f8;
        overflow: hidden;

        @media (max-width: 640px) {
            padding-left: govuk-spacing(3);
        }

        .title {
            display: inline-block;
            padding: govuk-spacing(3);

            @media (max-width: 640px) {
                padding: govuk-spacing(3);
            }
        }

        .label {
            margin: 16px 22px 0 0;
            padding: 2px 5px 0;
            float: right;
            border: 2px solid $turquoise-with-contrast;
            background: $turquoise-with-contrast;
            border-radius: 5px;
            color: $white;
            font-size: 13px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;

            @media (max-width: 640px) {
                position: absolute;
                top: 14px;
                right: 14px;
                margin: 0;
            }
        }

        &.wide-label {
            .label {
                @media (max-width: 750px) {
                    width: 103px;
                    line-height: 1;
                }
            }

            .title-box {
                @media (min-width: 750px) {
                    padding-right: 215px;
                }
            }
        }

        .link {
            display: inline-block;
            float: right;

            @media (max-width: 640px) {
                padding-right: 130px;
                float: left;
            }
        }

        .link-edit {
            display: block;
            padding: govuk-spacing(3) govuk-spacing(3);
            float: right;

            @media (max-width: 640px) {
                padding-left: 0;
            }
        }

        .title-box {
            margin-right: 92px;
            padding-right: 130px;
            border-right: 6px solid $white;

            &--full {
                margin-right: 0;
                padding-right: 0;
                border-right: 0;
            }
        }

        .label-and-edit-box {
            position: absolute;
            top: 0;
            right: 0;

            @media (max-width: 640px) {
                position: relative;
            }
        }
    }

    .accordion-current {
        display: block;
        visibility: hidden;
        padding-top: 20px;
        margin-top: -20px;
    }
}
