// =======================================================
// PROCESS ACCORDION

.accordion-header {
	display: block;
	padding: 0.5em 1em;
	background-color: $turquoise;
	color: white;
}

.accordion-info {
	margin-bottom: $gutter;
	border-bottom: 1px solid $border-colour;
}