// =======================================================
// ALERTS

.alert {
    .icon {
        margin-right: 10px;
        float: left;
    }

    &:focus {
        outline: 3px solid $focus-colour-override;
    }
}

.alert-message {
    overflow: hidden;
}

.alert-error {
    border-color: $error-colour;
}

.service-status {
    .icon {
        margin-right: 10px;
        float: left;
    }
}
