// =======================================================
// APPSTATUS
// Page wide large panel with status messages

.appstatus {
    margin: govuk-spacing(6) 0;
    padding: (govuk-spacing(6) * 1.5);
    background-color: $turquoise-with-contrast;
    color: $white;
    text-align: center;

    @include govuk-media-query($until: tablet) {
        padding: 30px;
    }

    &.warning {
        background-color: govuk-colour("yellow");
        color: govuk-colour("black");
    }

    .heading-xlarge,
    .govuk-heading-xl {
        margin: 0 0 10px;
    }

    .heading-medium,
    .govuk-heading-m {
        margin: 0;
    }
}
