// =======================================================
// DATE CHECKER

// Custom form styling

@include media(desktop) {
    .date-check-dates{
        width: auto;
        position: absolute;
        top: -25px;
        right: 0px;
    }
    .date-check-person .form-date {
        margin-bottom:0px!important;
    }
    .date-check-person .person-address {
        position: relative;
    }
    .date-check-person h3.person-name {
        max-width: 65%;
    }
    .date-check-person .person-address p {
        max-width: 65%;
    }
}
