// =======================================================
// DATE CHECKER

// Custom form styling
.date-field {
    &.error {
        margin-right: 0;
    }

    input {
        width: 140px;
        margin-top: -16px;
        float: right;

        @include media(mobile) {
            display: block;
            width: 100%;
            margin-top: 6px;
            float: none;
        }
    }
}

// Date picker
.ui-datepicker {
    display: none;
    width: 350px;
    padding: 1em;
    border: 3px solid $yellow;
    background: $white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    z-index: 2000 !important;

    %month-navigation {
        @extend .button-secondary;
        position: absolute;
        top: 0;
        padding-top: .2em;
        padding-bottom: .2em;
        cursor: pointer;
    }

    .ui-datepicker-header {
        position: relative;
        height: 2.5em;
        margin: 0 0 .35em;
        padding: 0 0 .25em;
        border-bottom: 1px solid $border-colour;
        font-size: 19px;
        text-align: center;

        .ui-datepicker-title {
            display: inline-block;
            width: 50%;
            margin: 0 auto;
            padding: 0;
        }

        .ui-datepicker-month {
            margin: 0 0.2em;
        }

        .ui-datepicker-prev,
        .ui-datepicker-next {
            @extend %month-navigation;
        }

        .ui-datepicker-prev {
            left: 0;
            text-align: left;
        }

        .ui-datepicker-next {
            right: 0;
            text-align: right;
        }
    }

    table.ui-datepicker-calendar {
        width: 100%;
    }

    thead,
    tbody {
        td,
        th {
            width: 40px;
            padding: .45em .15em;
        }
    }

    thead {
        th {
            border-bottom: 0;
            font-weight: bold;
            text-align: center;
        }
    }

    tbody {
        td {
            border-bottom: 0;
            text-align: center;

            &:hover {
                background: lighten($yellow, 20);
                color: $white;
                cursor: pointer;
            }

            &.ui-state-disabled:hover {
                background: none;
                cursor: default;
            }

            &.ui-datepicker-current-day {
                background: $yellow;

                a,
                span {
                    color: $text-colour;
                }
            }

            &.ui-datepicker-today {
                background: $panel-colour;
            }

            a {
                text-decoration: none;
            }
        }
    }

    a.ui-state-disabled {
        box-shadow: none !important;
        opacity: .5;

        &:hover,
        & {
            background-color: $highlight-colour !important;
            cursor: default;
            opacity: .5;
        }
    }

    td.ui-state-disabled {
        span {
            text-decoration: line-through;
        }

        &:hover,
        & {
            color: lighten($border-colour, 50);
        }
    }

    .ui-datepicker-current-day {
        background: lighten($border-colour, 80);
    }

    .ui-datepicker-buttonpane {
        padding: .25em 0 0;
        background: $highlight-colour;

        button {
            margin: 0 .5em 0 0;
        }

        .ui-priority-secondary {
            @extend .button-secondary;
        }

        .ui-priority-primary {
            @extend .button;
        }
    }
}

.js-enabled .hasDatepicker:focus {
    outline: none;
}

.ui-datepicker-append {
    @extend .form-hint;
    padding-top: .5em;
    color: $secondary-text-colour;
}

.ui-datepicker-header {
    select {
        @extend .form-control;
        width: 44%;
    }
}
