details[data-role=details-instructions]:not([open]) {
    padding-bottom: $gutter-half;
}

// reset top margin on headings used inside a <details> element
// to same as bottom margin
details {
    .heading-medium {
        margin-top: em(10, 20);
    }
}

// remove the arrow added by the govuk CSS :before selector
// on summary elements inside a polyfilled <details>
[data-polyfilled-details=true] .govuk-details__summary:before {
    display: none !important;
}
[data-polyfilled-details=true] .govuk-details__summary {
    padding-left: 0 !important;
}
