.js-enabled #popup.form-popup {
	max-width: 600px;
	@include media($max-width: 1000px) {
		margin: 0 auto;
	}
	@include media(mobile) {
		width: auto;
		margin: 2em 0.5em 10em 0.5em;
	}
}

.form-popup {
	@extend main;

	.error-summary {
		display: none;
	}
}

.form-popup .form-condensed {
	padding: $gutter $gutter-half;
	@include media(mobile) {
		padding-top: 0;
	}

	.heading-medium {
		@include media(tablet) {
			display: none;
		}
	}

	.form-group {
		margin-bottom: $gutter-half;
	}

	.form-label {
		@include media(tablet) {
			float: left;
			width: 150px;
			margin-top: 6px;
		}
	}

	input[type='text'],
	input[type='email'],
	select {
		&.form-control {
			@include media(tablet) {
				width: 420px;
			}
		}
		&.postcode-input {
			@include media(tablet) {
				width: 252px;
			}
		}
	}

	.hint {
		@include media(tablet) {
			margin-left: 150px;
		}
	}

	.form-date {
		margin-bottom: 0;
		.form-hint {
			@include media(tablet) {
				display: none;
			}
		}
	}

	.address-type-toggle {
		@include media(tablet) {
			margin-left: 150px;
		}
	}

	.block-label {
		@include media(tablet) {
			width: auto;
			margin-left: 150px;
			padding: 15px 15px 15px 40px;
		}
		input {
			@include media(tablet) {
				top: 12px;
				left: 12px;
			}
		}
	}

	input.button {
		@include media(tablet) {
			margin-left: 150px;
		}
	}

	.postcodelookup {
		position: relative;
	}

	.spinner {
		@include media(tablet) {
			position: absolute;
			top: 16px;
			right: 182px;	
		}
	}

	.error {
		@include media(tablet) {
			position: relative;
			padding-left: 0;
			border-left: 0;	
		}
		.form-label {
			@include media(tablet) {
				width: 150px;
			}
		}
		.form-control {
			@include media(tablet) {
				margin-bottom: 28px;
			}
		}
	}

	.error-message {
		@include media(tablet) {
			position: absolute;
			top: 42px;
			left: 150px;	
		}
	}

	.form-date {
		.error-message {
			@include media(tablet) {
				left: 0;
				top: 78px;
			}
		}
	}

	legend.form-label {
		@include media(mobile) {
			display: none;		
		}
	}

}

.no-js {
	legend.form-label {
		display: none;
	}
}

.panel-actions {
	@extend .panel-cta;
	padding: $gutter-half;
}
