.js-enabled #popup.form-popup {
	max-width: 600px;
}

.form-popup {
	@extend main;

	.error-summary {
		display: none;
	}
}

.form-popup .form-condensed {
	padding: $gutter $gutter-half;

	.heading-medium {
		display: none;
	}

	.form-group {
		margin-bottom: $gutter-half;
	}

	.form-label {
		float: left;
		width: 150px;
		margin-top: 6px;
	}

	input[type='text'],
	input[type='email'],
	select {
		&.form-control {
			width: 420px;
		}
		&.postcode-input {
			width: 252px;
		}
	}

	.hint {
		margin-left: 150px;
	}

	.form-date {
		margin-bottom: 0;
		.form-hint {
			display: none;
		}
	}

	.address-type-toggle {
		margin-left: 150px;
	}

	.block-label {
		width: auto;
		margin-left: 150px;
		padding: 15px 15px 15px 40px;
		input {
			top: 12px;
			left: 12px;
		}
	}

	input.button {
		margin-left: 150px;
	}

	.postcodelookup {
		position: relative;
	}

	.spinner {
		position: absolute;
		top: 16px;
		right: 182px;
	}

	.error {
		position: relative;
		padding-left: 0;
		border-left: 0;
		.form-label {
			width: 150px;
		}
		.form-control {
			margin-bottom: 28px;
		}
	}

	.error-message {
		position: absolute;
		top: 42px;
		left: 150px;
	}

	.form-date {
		.error-message {
			left: 0;
			top: 78px;
		}
	}

}

.no-js {
	legend.form-label {
		display: none;
	}
}

.panel-actions {
	@extend .panel-cta;
	padding: $gutter-half;
}
