// =======================================================
// FORM INSIDE POPUP (CONDENSED)

.form-popup {
    // Taken from main (elements/elements_typography line 7) instead of extending
    @include core-19;
    -webkit-font-smoothing: antialiased;

    &.popup {
        max-width: 600px;

        @include media($max-width: 1000px) {
            margin: 2em auto;
        }

        @include media(mobile) {
            margin: 2em .5em 10em;
        }
    }

    .form {
        padding: $gutter $gutter-half;

        @include media(mobile) {
            padding-top: 0;
        }

        .heading-medium {
            @include media(tablet) {
                display: none;
            }
        }
    }

    .form-group {
        margin-top: 0;
        margin-bottom: $gutter-half;
    }

    .form-label {
        @include media(tablet) {
            width: 150px;
            margin-top: 6px;
            float: left;
        }
    }

    .form-control {
        @include media(tablet) {
            width: 420px;
        }
    }

    .postcode-input {
        @include media(tablet) {
            width: 252px;
        }
    }

    .summary,
    .address-type-toggle,
    .block-label,
    .button,
    .alert {
        @include media(tablet) {
            margin-left: 150px;
        }
    }

    .postcode-button,
    .button-secondary {
        @include media(tablet) {
            margin-left: 0;
        }
    }

    .form-date {
        margin-bottom: 0;

        .form-hint {
            @include media(tablet) {
                display: none;
            }
        }
    }

    .block-label {
        @include media(tablet) {
            padding: 15px 15px 15px 40px;
        }

        [type='checkbox'] {
            @include media(tablet) {
                top: 12px;
                left: 12px;
            }
        }
    }

    .postcodelookup {
        position: relative;

        .spinner {
            @include media(tablet) {
                position: absolute;
                top: 10px;
                right: 182px;
            }
        }
    }

    .error-summary {
        margin: $gutter-half $gutter-half 0;
        padding: 10px 10px 4px;

        @include media(mobile) {
            padding-bottom: 8px;
        }

        .heading-medium {
            margin-bottom: 10px;

            @include media(tablet) {
                font-size: 22px;
            }
        }

        p {
            margin-bottom: 4px;
        }
    }

    .error {
        @include media(tablet) {
            position: relative;
            padding-left: 0;
            border-left: 0;
        }
    }

    .error-message {
        @include media(tablet) {
            position: relative;
            top: 13px;
            left: 150px;
            width: 280%;
        }
    }

    // scss-lint:disable MergeableSelector
    .form-date {
        &.error {
            .form-group {
                @include media(tablet) {
                    top: -37px;
                }
            }
        }

        .error-message {
            @include media(tablet) {
                top: 80px;
                left: 0;
            }
        }
    }
    // scss-lint:enable MergeableSelector

    .dob-label {
        @include media(mobile) {
            display: none;
        }
    }
}

// No-js hidden button spacing fix for reuse details
.no-js {
    .form-group {
        + .form-group.js-hidden {
            margin-top: 30px;
        }
    }
}

