// =======================================================
// GLOBAL NAVIGATION

@mixin global-nav {
    .global-nav {
        border-bottom: 1px solid $govuk-border-colour;
        overflow: hidden;

        .lastsigned {
            @media (min-width: 641px) {
                padding: 10px 8px;
                float: left;
            }
        }

        nav {
            @include govuk-font($size: 16);
            @media (max-width: 640px) {
                padding: 6px 0;
            }
        }
    }

    .navigation {
        @media (min-width: 641px) {
            float: right;
        }

        a,
        .user {
            @media (min-width: 641px) {
                padding: 10px 8px;
            }
        }

        .user {
            @media (max-width: 640px) {
                display: block;
            }
        }

        a {
            display: inline-block;

            @media (max-width: 640px) {
                padding: 10px;
            }

            @media (max-width: 300px) {
                padding: 10px 5px;
            }
        }
    }

    .navigation-item {
        @media (max-width: 640px) {
            display: inline;

            &:nth-child(2) {
                a {
                    padding-left: 0;
                }
            }
        }

        @media (min-width: 641px) {
            display: inline;
        }
    }
}
