// =======================================================
// LPA GUIDANCE HELP SYSTEM

.help-header {
	display: none;
	position: relative;
	padding: $gutter-half;
	border-bottom: 1px solid $border-colour;
	#popup & {
		display: block;
	}
	.icon {
		position: absolute;
	}
}

.help-header-title {
	display: block;
	padding-left: 35px;
	@include media(mobile) {
		padding-right: 40px;
	}
}

.help-body {
	.column-left {
		float: left;
		width: 75%;
		padding: 0 $gutter-half;
		#popup & {
			border-right: 2px solid $border-colour;
		}
  		@include box-sizing(border-box);
  		@include media($min-width: 640px, $max-width: 1000px) {
  			width: 70%;
		}
		@include media(mobile) {
			float: none;
			width: 100%;
		}
	}
	.column-right {
		position: relative;
		float: right;
		width: 25%;
		padding: 0 $gutter-half;
		z-index: 10;
		@include box-sizing(border-box);
		@include media($min-width: 640px, $max-width: 1000px) {
			width: 30%;
		}
		@include media(mobile) {
			float: none;
			width: 100%;
		}
	}
}

.help-navigation {
	#popup & {
		margin-left: -17px;
		padding: $gutter 0 $gutter 0;
	}
}

.help-navigation-title {
	#popup & {
		padding-left: 30px;
		@include media(mobile) {
			padding-left: 32px;
		}
	}
}

.help-topics {
	margin-top: $gutter-half;
	list-style: none;
	li {
		padding: 4px 0 4px 0;
		margin-bottom: 2px;
		#popup & {
			padding: 4px 30px 4px 30px;
			@include media(mobile) {
				padding-left: 32px;
			}
			&.active {
				@include media($min-width: 641px) {
					padding-left: 28px;
					border-left: 2px solid $link-colour;
					background-color: $panel-colour;
				}
			}
		}
	}
	a {
		display: block;
		font-size: 16px;
		@include media($max-width: 640px) {
			font-size: 14px;
		}
	}
}

.help-sections {
	#popup & {
		padding: $gutter $gutter-half $gutter $gutter;
		@include media(mobile) {
			padding: $gutter-half;
		}
	}
	article {
		@include media($min-width: 641px){
			font-size: 19px;
		}
		strong {
			font-weight: 700;
		}
	}
	article:first-child {
		h2:first-child {
			@include media($min-width: 640px) {
				margin-top: 0;
			}
		}
	}
	h2 {
		&:first-child {
			@extend .heading-large;
			#popup & {
				@extend .heading-xlarge;
			}
		}
		@extend .heading-medium;
	}
	h3 {
		@extend .heading-small;
	}
	ul, ol {
		@extend .list;
	}
	ul {
		@extend .list-bullet;
	}
	ol {
		@extend .list-number;
	}
}

.help-footer {
	padding: $gutter-half;
	border-top: 1px solid $border-colour;
	hr {
		margin: $gutter-half 0 $gutter-half;
	}
	#content & {
		padding: $gutter 0 0 0;
		hr {
			display: none;
		}
		.button-secondary {
			display: none;
		}
	}
}

.link-back {
	#popup & {
		@include media($min-width: 641px) {
			display: none;
		}
	}
}