// =======================================================
// LPA GUIDANCE HELP SYSTEM

.help-header {
    display: none;
    position: relative;
    padding: $gutter-half;
    border-bottom: 1px solid $border-colour;

    .popup & {
        display: block;
    }

    .icon {
        position: absolute;
    }
}

.help-header-title {
    display: block;
    padding-left: 35px;

    @include media(mobile) {
        padding-right: 40px;
    }
}

.help-body {
    .column-left {
        @include box-sizing(border-box);
        width: 75%;
        min-height: 820px;
        padding: 0 $gutter-half;
        float: left;

        @include media($min-width: 640px, $max-width: 1000px) {
            width: 70%;
        }

        @include media(mobile) {
            width: 100%;
            float: none;
        }

        .popup & {
            border-right: 2px solid $border-colour;
        }
    }

    .column-right {
        @include box-sizing(border-box);
        position: relative;
        width: 25%;
        padding: 0 $gutter-half;
        float: right;
        z-index: 10;

        @include media($min-width: 640px, $max-width: 1000px) {
            width: 30%;
        }

        @include media(mobile) {
            width: 100%;
            float: none;
        }
    }
}

.help-navigation {
    .popup & {
        margin-left: -17px;
        padding: $gutter 0;
    }
}

.help-navigation-title {
    .popup & {
        padding-left: 30px;

        @include media(mobile) {
            padding-left: 32px;
        }
    }
}

.help-topics {
    margin-top: $gutter-half;
    list-style: none;

    li {
        margin-bottom: 2px;
        padding: 4px 0;

        .popup & {
            padding: 4px 30px;

            @include media(mobile) {
                padding-left: 32px;
            }
        }
    }

    .active {
        .popup & {
            @include media($min-width: 641px) {
                padding-left: 28px;
                border-left: 2px solid $link-colour;
                background-color: $panel-colour;
            }
        }
    }

    a {
        display: block;
        font-size: 16px;

        @include media($max-width: 640px) {
            font-size: 14px;
        }
    }
}

.help-sections {
    .popup & {
        padding: $gutter $gutter-half $gutter $gutter;

        @include media(mobile) {
            padding: $gutter-half;
        }
    }

    article {
        @include media($min-width: 641px) {
            font-size: 19px;
        }

        strong {
            font-weight: 700;
        }
    }

    article:first-child {
        h1 {
            @include media($min-width: 640px) {
                margin-top: 0;
            }
        }
    }

    h1 {
        @extend %heading-large;

        .popup & {
            @extend %heading-xlarge;
        }
    }

    h2 {
        @extend %heading-medium;
    }

    h3 {
        @extend %heading-small;
    }

    ul,
    ol {
        @extend %list;
    }

    ul {
        @extend %list-bullet;
    }

    ol {
        @extend %list-number;
    }

    ol.alpha {
        @extend %list-alpha;
    }
}

.help-footer {
    padding: $gutter 0 0;

    hr {
        display: none;
    }

    .button-secondary {
        display: none;
    }

    .popup & {
        padding: $gutter-half;
        border-top: 1px solid $border-colour;

        hr {
            display: block;
            margin: $gutter-half 0;
        }

        .button-secondary {
            display: inline-block;
        }
    }
}

.link-back {
    .popup & {
        @include media($min-width: 641px) {
            display: none;
        }
    }
}
