// =======================================================
// ICON LINKS
// List of links with icons (downloads, documents, etc)

.iconlinks {
    padding: govuk-spacing(6) govuk-spacing(3);

    @media (max-width: 640px) {
        padding: govuk-spacing(3) 0;
    }

    .iconlinks-item {
        margin-bottom: govuk-spacing(6);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--right {
        &::after { content: ""; display: block; clear: both; }

        .iconlinks-item {
            float: right;

            @media (max-width: 640px) {
                float: none;
            }
        }
    }
}

.iconlinks-item {
    position: relative;

    .icon {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -19px;
    }

    .iconlinks-link {
        width: 100%;
        margin-bottom: govuk-spacing(6);
    }

    .iconlinks-text {
        display: inline-block;
        padding-left: 40px;
    }
}
