/*
Override colour of box shadow on radios and checkboxes preceding a label;
This is a CSS hack to enable setting the focus colour around these
elements in such a way that they are shaped to the element.
*/
.multiple-choice [type="radio"]:focus + label::before {
    -webkit-box-shadow: 0 0 0 4px $focus-colour-override !important;
    -moz-box-shadow: 0 0 0 4px $focus-colour-override !important;
    box-shadow: 0 0 0 4px $focus-colour-override !important;
}

.multiple-choice [type="checkbox"]:focus+label::before {
    -webkit-box-shadow: 0 0 0 3px $focus-colour-override !important;
    -moz-box-shadow: 0 0 0 3px $focus-colour-override !important;
    box-shadow: 0 0 0 3px $focus-colour-override !important;
}
