// =======================================================
// PAGER
// Borrowed from RPA Styleguide (http://rural-payments-styleguide.herokuapp.com/pagination/)

.pager {
    margin-top: .3125em;
    margin-bottom: 1.25em
}

@media (min-width: 641px) {
    .pager {
        margin-top:.26316em;
        margin-bottom: 1.05263em
    }
}

.pager-items {
    display: none
}

@media (min-width: 641px) {
    .pager-items {
        display:inline
    }

    .pager-items li {
        display: inline;
        margin: 0 5px
    }

    .pager-items li:first-child {
        margin-left: 0
    }

    .pager-items li:last-child {
        margin-right: 0
    }
}

.pager-prev,.pager-next {
    margin-right: 10px
}

@media (min-width: 641px) {
    .pager-prev,.pager-next {
        margin-right:0
    }
}

@media (min-width: 641px) {
    .pager-prev {
        margin-right:10px
    }
}

@media (min-width: 641px) {
    .pager-next {
        margin-left:10px
    }
}

@media (min-width: 641px) {
    .pager-controls {
        float:right
    }
}