// =======================================================
// PANELS

.panel-cta {
    padding: govuk-spacing(6) govuk-spacing(3);
    background-color: #dee0e2;
    text-align: center;
    margin-bottom: 20px;

    .panel-heading {
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    .panel-body {
        p:last-child {
            margin-bottom: 0;
        }
    }
}

.panel-actions {
    .js-enabled & {
        padding: govuk-spacing(3);
        border-bottom: 1px solid $govuk-border-colour;
        background-color: #f8f8f8;
    }
}
