// =======================================================
// PERSON PROFILE

.person {
	padding: 0 0 $gutter 100px;
	margin-bottom: $gutter;
	overflow: hidden;
	border-bottom: 1px solid $border-colour;
	background-image: url(../images/custom/person.svg);
	background-repeat: no-repeat;
	background-size: 80px;
	@include media(mobile) {
		padding-left: 80px;
		background-size: 60px;
	}
}