// =======================================================
// PERSON PROFILE

.person {
    position: relative;
    margin-bottom: govuk-spacing(6);
    padding: 7px 0 28px 75px;
    border-bottom: 1px solid $govuk-border-colour;
    background-image: url('../images/custom/person.svg');
    background-repeat: no-repeat;
    background-size: 60px;
    overflow: hidden;

    @media (max-width: 640px) {
        padding: 0 0 govuk-spacing(6) 55px;
        background-size: 40px;
    }

    &.person--full {
        margin-bottom: 20px;
        padding-bottom: 4px;
    }
}

.person-name,
.person-address {
    @media (min-width: 641px) {
        padding-right: 300px;
    }

    .person--wider & {
        @media (min-width: 641px) {
            padding-right: 175px;
        }
    }

    .person--full & {
        padding-right: 0;
    }
}

.person-actions {
    @media (min-width: 641px) {
        position: absolute;
        top: 10px;
        right: 0;
    }

    .action-item {
        @media (min-width: 641px) {
            margin-left: 8px;
            float: left;
        }
    }

    .action-edit {
        @media (min-width: 641px) {
            background-color: #bfc1c3;
            box-shadow: 0 2px 0 #a0a4a7;
            display: inline-block;
            padding: 0.526315em 0.789473em 0.263157em;
            border: none;
            -webkit-appearance: none;
            cursor: pointer;
            + .spinner {
                margin-bottom: -3px;
            }
            margin-right: 3px;
        }

        &:focus {
            outline: 3px solid $govuk-focus-colour;
        }
    }

    .action-delete {
        @media (min-width: 641px) {
            display: inline-block;
            margin: 6px govuk-spacing(6) 0 0;
            + .spinner {
                margin: 0 16px -3px -16px;
            }
        }
    }
}
