// =======================================================
// POPUPS

@mixin popup($width: 70%, $height: 26em, $border-colour: $light-blue-25){
  // Helper styles for popups
  .noscroll {
    position: relative;
    overflow: hidden;
    @include media(tablet){
      padding-right: 15px;
    }
  }
  .popover-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 60;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    outline: 0;
    @include ie-lte(8) {
      background-color: #333;
    }
  }

  #popup {
    display: none;
    position: relative;
    z-index: 999999;
    width: $width;
    max-width: 1100px;
    margin: 4em auto 20em auto;
    border: 0.5em solid #222;
    background-color: $white;
    @include ie-lte(8) {
      margin: 0 auto;
    }
    @include media(mobile) {
      width: auto;
      margin: 2em 0.5em 10em 0.5em;
      border-width: 0.2em;
    }

    // 'X' Close button
    .close {
      position: absolute;
      z-index: 2;
      top: 0.5em;
      right: 0.5em;
      margin: 0;

      a {
        display: block;
        width: 2em;
        height: 2em;
        background-image: url(/assets/v2/images/icons/icon-close.png);
        background-position: center;
        background-repeat: no-repeat;
        text-indent: -9999px;
        &:hover {
          background-color: #bfbfbf;
        }
      }
    }
  }
}
