// =======================================================
// POPUPS

@mixin popup($width: 70%, $height: 26em) {
    // Backdrop for native <dialog> modal
    dialog.popup::backdrop {
        background-color: rgba(0, 0, 0, .5);
    }

    .popup {
        padding: 0;
        overflow-y: auto;
        max-height: calc(100dvh - 8em);
        width: $width;
        max-width: 1100px;
        margin: 4em auto;
        border: .5em solid govuk-colour("black");
        background-color: govuk-colour("white");

        @include govuk-media-query($until: 1200px) {
            width: 960px;
        }

        @include govuk-media-query($until: 1000px) {
            width: auto;
            margin: 2em .5em 10em;
        }

        @include govuk-media-query($until: tablet) {
            border-width: .2em;
        }

        // 'X' Close button
        .close {
            position: absolute;
            top: .5em;
            right: .5em;
            margin: 0;
            z-index: 2;
        }

        .button-close {
            display: block;
            width: 2em;
            height: 2em;
            background-image: url('/assets/v2/images/icons/icon-close.png');
            background-repeat: no-repeat;
            background-position: center;
            text-indent: -9999px;
            overflow: hidden;

            &:hover {
                background-color: govuk-colour("mid-grey");
            }
        }
    }

    .popup-header {
        position: relative;
        padding: govuk-spacing(3);
        border-bottom: 1px solid $govuk-border-colour;

        .icon {
            position: absolute;
        }

        .no-js & {
            padding: 0;
            border-bottom: 0;

            .icon {
                display: none;
            }
        }
    }

    .popup-header-title {
        display: block;
        margin-top: 0;
        padding-left: 35px;

        @include govuk-media-query($until: tablet) {
            padding-right: 40px;
        }

        .no-js & {
            padding-left: 0;

            &.heading-small,
            &.govuk-heading-s {
                @include govuk-font(36, $weight: bold);
                margin-top: govuk-spacing(5);
                margin-bottom: govuk-spacing(2);

                @include govuk-media-query($from: tablet) {
                    margin-top: 45px;
                    margin-bottom: govuk-spacing(4);
                }
            }
        }

        .js-enabled & {
            margin-top: 2px;
        }
    }
}
