// =======================================================
// POSTCODE LOOKUP

.postcode-input {
    @media (min-width: 641px) {
        width: 27%;
    }

    @media (min-width: 800px) {
        width: 32%;
    }
}

.postcode-button {
    padding-bottom: 3px;
    @media (max-width: 640px) {
        margin-top: govuk-spacing(3);
        text-align: center;
    }
}
