// =======================================================
// POSTCODE LOOKUP

.postcode-input {
    @include govuk-media-query($from: tablet) {
        width: 27%;
    }

    @include govuk-media-query($from: 800px) {
        width: 32%;
    }
}

.postcode-button {
    padding-bottom: 3px;
    @include govuk-media-query($until: tablet) {
        margin-top: govuk-spacing(3);
        text-align: center;
    }
}
