/* progress bar changes */

/* creates the triangle appended to the rectangles in the progress bar*/
@mixin arrow() {
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
  content: " ";
  display: block;
  height: 0;
  left: 100%;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 0;
}

.progress-bar {
  height: 50px;
  list-style: none;
  overflow: hidden; /* necessary to cut off top and bottom parts of triangles*/
  font: 19px Helvetica;
  font-weight: 600;
  display: flex;
  counter-reset: li;}/* necessary to insert numbers before text*/

.progress-bar__steps {
  background: $progress-bar-background;
  color: $progress-bar-font-default;
  width: calc((100%/4) - (10px*((4 - 1)/4)));
  position: relative;
  cursor: default;
  /* remove default ordered list number styles*/
  list-style-image: none;
  list-style-type: none;
  padding: 20px 5px;
  text-align: center;}

.progress-bar__steps {
  @media screen and(min-width: 641px) {
    padding: 10px 0 20px 65px; /* create padding-left to position text */
    text-align: left;
  }
}

.progress-bar__steps:first-child {
  @media screen and (min-width: 641px) {
    padding: 10px 0 20px 30px;
  }
}

/* appended triangle*/
.progress-bar__steps::after {
  @media screen and (min-width: 641px) {
    @include arrow();
    border-left: 30px solid $progress-bar-background;
    z-index: 2;
  }
}

/*prepend triangle cutout to create separation border */
.progress-bar__steps::before {
  @media screen and(min-width: 641px) {
      @include arrow();
      border-left: 30px solid $white;
      z-index: 1;
      margin-left: 8px;
  }
}

.current-waiting {
  background: $status-waiting-colour;
  color: $white;}

.current-waiting::after {
  border-left: 30px solid $status-waiting-colour;
}

.current-received {
  background: $status-received-colour;
  color: $white;}

.current-received::after {
  border-left: 30px solid $status-received-colour;
}

.current-checking {
  background: $status-checking-colour;
  color: $white;}

.current-checking::after {
  border-left: 30px solid $status-checking-colour;
}

.current-returned {
  background: $status-returned-colour;
  color: $white;}

.current-returned::after {
  border-left: 30px solid $status-returned-colour;
}

.progress-bar__steps--numbers {
  &:before {
    @media screen and (min-width: 641px) {
      /* add numbers to the list items */
      content: counter(li) " ";
      counter-increment: li;
      /* separate the numbers from the text */
      margin-right: 5px;
      /* add background circles */
      background: transparent;
      border: 2px solid $progress-bar-font-default;
      border-radius: 50%;
      display: inline-block;
      height: 30px;
      line-height: 30px; /* make the line-height the same as the height so that number aligns vertically*/
      text-align: center;
      width: 30px;
    }
  }
}

.progress-bar__steps--completed{
  &:before {
    @media screen and (min-width: 641px) {
      // add numbers to the list items
      content: "\2714";
      counter-increment: li;
      // separate the numbers from the text
      margin-right: 5px;
      // add background circles
      background: transparent;
      border: 2px solid $progress-bar-font-default;
      border-radius: 50%;
      display: inline-block;
      height: 30px;
      line-height: 30px; // make the line-height the same as the height so that number aligns vertically
      text-align: center;
      width: 30px;
    }
  }
}

.current-waiting ::before {
  background: $status-waiting-colour;
  border: 2px solid $white;
  color: $white;
}

.current-received ::before {
  background: $status-received-colour;
  border: 2px solid $white;
  color: $white;
}

.current-checking ::before {
  background: $status-checking-colour;
  border: 2px solid $white;
  color: $white;
}

.current-returned ::before {
  background: $status-returned-colour;
  border: 2px solid $white;
  color: $white;
}


