// =======================================================
// SEARCH RESULTS

.lpa-search-form {
	position: relative;
	input[type='text'] {
		width: 100%;
	}
	.button {
		@include media(tablet) {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}

.lpa-table {
	.lpa-donor {
		@include media($min-width: 750px) {
			width: 30%;
		}
		@include media($min-width: 861px) {
			width: 23%;
		}
		@include media($min-width: 950px) {
			width: 25%;
		}
	}
	.lpa-number {
		@include media($min-width: 861px) {
			width: 150px;
		}
		@include media($min-width: 950px) {
			width: 120px;
		}
		@include media($max-width: 860px) {
			display: none;
		}
	}
	.lpa-number-alt {
		display: none;
		@include media($max-width: 860px) {
			display: inline-block;
		}
	}
	th {
		@include media($max-width: 860px) {
			&:nth-child(2) {
				display: none;
			}
		}
	}
	.lpa-type {
		@include media($min-width: 861px) {
			width: 70px;
		}
		@include media($min-width: 950px) {
			width: 80px;
		}
	}
	.lpa-progress {
		@include media($min-width: 770px) {
			width: 60px;
		}
		@include media($min-width: 861px) {
			width: 70px;
		}
		@include media($min-width: 950px) {
			width: 80px;
		}
		.progress-started {
			color: $orange;
		}
		.progress-completed {
			color: $green;
		}
	}
	.lpa-date {
		width: 80px;
	}
	.lpa-actions {
		width: 190px;
		.button {
			float: right;
			margin-top: 13px;
		}
	}
	.lpa-manage {
		float: left;
		margin-top: $gutter-half;
	}
	@include media(mobile) {
		thead {
			display: none;
		}
		tr {
			position: relative;
			display: block;
			margin-bottom: $gutter-half;
			border: 1px solid $border-colour;
			padding: $gutter-half;
			overflow: hidden;
			&:last-child {
				margin-bottom: 0;
			}
		}
		td {
			display: block;
			position: relative;
			border-bottom: 0;
			padding: 0 0 6px 0;
		}
		.lpa-number {
			display: block;
			margin-bottom: $gutter-half;
			color: $secondary-text-colour;
			font-size: 16px;
		}
		.lpa-number-alt {
			display: none;
		}
		.lpa-type {
			color: $secondary-text-colour;
			font-size: 16px;
			&:before {
				content: 'Type: ';
			}
		}
		.lpa-progress {
			position: absolute;
			top: 41px;
			left: 155px;
			font-size: 16px;
			&:before {
				padding-right: 15px;
				content: '|';
				color: $secondary-text-colour;
			}
		}
		.lpa-date {
			display: block;
			width: 100%;
			color: $secondary-text-colour;
			font-size: 16px;
			&:before {
				content: 'Last saved: ';
			}
		}
		.lpa-actions {
			position: static;
			width: 100%;
			padding-bottom: 0;
		}
		.lpa-cta {
			position: absolute;
			top: 0;
			right: 0;
			.button {
				width: 90px;
				height: 250px;
				float: none;
				display: block;
				margin-top: 0;
				left: 0;
				box-shadow: 0 0 0;
				vertical-align: middle;
				background-image: url(../images/custom/arrow-in-circle.png);
				background-repeat: no-repeat;
				background-position: center 35%;
				text-indent: -9999px;
				border-left: 1px solid $border-colour;
			}
		}
		.lpa-manage {
			float: none;
			font-size: 16px;
			.summary:after {
				content: ' this LPA';
			}
		}
	}
	@include media($min-width: 641px) {
		td:nth-child(6) {
			padding: 0;
		}
	}

	.button {
		@include media($min-width: 641px) {
			margin-bottom: 14px;
		}
	}
}

.lpa-actions {
	padding-top: 12px;
}

.lpa-cards {
	thead {
		display: none;
	}
	tr {
		display: block;
		position: relative;
		width: 48%;
		float: left;
		@include box-sizing (border-box);
		margin-bottom: $gutter;
		padding: $gutter-half;
		border: 1px solid $border-colour;
		&:nth-child(2n-1) {
			margin-right: 4%;
			@include media(mobile) {
				//margin-right: 0;
			}
		}
	}
	td {
		display: block;
		position: relative;
		padding: 0;
		border-bottom: 0;
	}
	.lpa-donor {
		padding-right: 120px;
		@include media($min-width: 780px) {
			padding-right: 190px;
		}
		@include media(mobile) {
			//padding-right: 160px;
		}
		@include media($max-width: 380px) {
			//padding-right: 120px;
		}
	}
	.lpa-type {
		display: none;
	}
	.lpa-progress,
	.lpa-date {
		position: absolute;
		width: 120px;
		top: 17px;
		right: 0;
		padding: 0;
		@include media($min-width: 780px) {
			width: 190px;
		}
		@include media(mobile) {
			position: static;
		}
		@include media($max-width: 380px) {
			//width: 100px;
		}
		span {
			display: block;
			position: relative;
			width: 100%;
			text-align: left;
			@include media(mobile) {
				position: static;
				display: inline;
			}
		}
	}
	.lpa-progress {
		.progress-started {
			color: $orange;
		}
		.progress-completed {
			color: $green;
		}
		span {
			&:before {
				color: $text-colour;
				content: 'Status: ';
				@include media($min-width: 641px) {
					content: '';
				}
				@include media($min-width: 780px) {
					content: 'Status: ';
				}
				@include media(mobile) {
					content: '';
				}
			}
		}
	}
	.lpa-date span {
		top: 20px;
		&:before {
			content: 'Last saved on: ';
			@include media($min-width: 641px) {
				content: '';
			}
			@include media($min-width: 780px) {
				content: 'Last saved on: ';
			}
			@include media(mobile) {
				content: '';
			}
		}
	}
	.lpa-actions {
		position: relative;
		min-height: 80px;
	}
	.button {
		@include media(tablet) {
			position: absolute;
			bottom: 2px;
		}
	}
	.lpa-manage {
		@include media(tablet) {
			position: absolute;
			width: 100px;
			right: 0;
			bottom: 0;
			padding: 0;
		}
		@include media($min-width: 780px) {
			width: 174px;
		}
	}
	@include media(mobile) {
		thead {
			display: none;
		}
		tr {
			position: relative;
			display: block;
			width: 100%;
			margin-bottom: $gutter-half;
			border: 1px solid $border-colour;
			padding: $gutter-half;
			overflow: hidden;
			&:last-child {
				margin-bottom: 0;
			}
		}
		td {
			display: block;
			position: relative;
			border-bottom: 0;
			padding: 0 0 6px 0;
		}
		.lpa-number {
			display: block;
			margin-bottom: $gutter-half;
			color: $secondary-text-colour;
			font-size: 16px;
		}
		.lpa-number-alt {
			display: none;
		}
		.lpa-type {
			color: $secondary-text-colour;
			font-size: 16px;
			&:before {
				content: 'Type: ';
			}
		}
		.lpa-progress {
			position: absolute;
			top: 41px;
			left: 155px;
			font-size: 16px;
			&:before {
				padding-right: 15px;
				content: '|';
				color: $secondary-text-colour;
			}
		}
		.lpa-date {
			display: block;
			width: 100%;
			color: $secondary-text-colour;
			font-size: 16px;
			&:before {
				content: 'Last saved: ';
			}
		}
		.lpa-actions {
			position: static;
			width: 100%;
			padding-bottom: 0;
		}
		.lpa-cta {
			position: absolute;
			top: 0;
			right: 0;
			.button {
				width: 90px;
				height: 250px;
				float: none;
				display: block;
				margin-top: 0;
				left: 0;
				box-shadow: 0 0 0;
				vertical-align: middle;
				background-image: url(../images/custom/arrow-in-circle.png);
				background-repeat: no-repeat;
				background-position: center 35%;
				text-indent: -9999px;
				border-left: 1px solid $border-colour;
			}
		}
		.lpa-manage {
			float: none;
			font-size: 16px;
			.summary:after {
				content: ' this LPA';
			}
		}
	}
}