// =======================================================
// SEARCH

.search-form {
    position: relative;

    @media (max-width: 640px) {
        margin-bottom: govuk-spacing(3);
        padding-bottom: govuk-spacing(6);
        border-bottom: 1px solid $govuk-border-colour;
    }

    [type='text'] {
        width: 100%;
    }
}

.search-label {
    position: absolute;
    top: 1px;
    color: $govuk-secondary-text-colour;
    line-height: 42px;
    text-indent: 10px;
    z-index: 1;

    @media (max-width: 640px) {
        line-height: 36px;
    }
}

.search-input {
    position: relative;
    height: 39px;
    background-color: transparent;
    z-index: 3;
    -webkit-appearance: none;
    box-sizing: border-box;

    &:focus,
    &.focus {
        background-color: $white;
    }
}

.search-button {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 40px;
    height: 35px;
    background-image: url('../images/icons/icon-search.png');
    background-repeat: no-repeat;
    background-position: 9px 55%;
    background-size: 70%;
    text-indent: -5000px;
    box-shadow: none;
    overflow: hidden;
    z-index: 4;
}

.dashboard-search {
    margin: govuk-spacing(6) 0;
    padding: govuk-spacing(3) 0;
    border-top: 1px solid $govuk-border-colour;
    border-bottom: 1px solid $govuk-border-colour;

    @media (max-width: 640px) {
        padding-top: 0;
        border-top: 0;
    }
}
