// =======================================================
// SEARCH RESULTS

.lpa-search-form {
	position: relative;
	input[type='text'] {
		width: 100%;
	}
	.button {
		@include media(tablet) {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}

.lpa-table {
	.lpa-donor {
		width: 25%;
	}
	.lpa-number {
		width: 120px;
	}
	.lpa-type {
		width: 80px;
	}
	.lpa-progress {
		width: 80px;
	}
	.lpa-date {
		width: 80px;
	}
	.lpa-actions {
		width: 190px;
		.button {
			float: right;
			margin-top: 13px;
		}
	}
	.lpa-manage {
		float: left;
		margin-top: 20px;
	}
	th, td {
		@include media(mobile) {
			display: block;
		}
	}
	@include media(mobile) {
		thead {
			display: none;
		}
		tr {
			display: block;
			margin-top: 30px;
			border-bottom: 1px solid $border-colour;
			&:last-child {
				border-bottom: 0;
			}
		}
		td {
			position: relative;
			border-bottom: 0;
			padding: 0 0 6px 120px;
			&:before {
				position: absolute;
				top: -2px;
				left: 0;
				width: 120px;
				height: auto;
				padding-bottom: 6px;
				font-weight: 700;
			}
		}
		td:nth-child(1) {
			&:before {
				content: 'Donor:';
			}
		}
		td:nth-child(2) {
			&:before {
				content: 'LPA number:';
			}
		}
		td:nth-child(3) {
			&:before {
				content: 'Type:';
			}
		}
		td:nth-child(4) {
			&:before {
				content: 'Progress:';
			}
		}
		td:nth-child(5) {
			&:before {
				content: 'Last saved on:';
			}
		}
		td:nth-child(6) {
			padding: $gutter-half 0 $gutter 0;
		}
	}
	@include media($min-width: 641px) {
		td:nth-child(6) {
			padding: 0;
		}
	}

	.button {
		@include media($min-width: 641px) {
			margin-bottom: 14px;
		}
	}
}

.lpa-actions {
	padding-top: 12px;
}

.lpa-cards {
	thead {
		display: none;
	}
	tr {
		display: block;
		position: relative;
		width: 48%;
		float: left;
		@include box-sizing (border-box);
		margin-bottom: $gutter;
		padding: $gutter-half;
		border: 1px solid $border-colour;
		&:nth-child(2n-1) {
			margin-right: 4%;
			@include media(mobile) {
				margin-right: 0;
			}
		}
		@include media(mobile){
			width: 100%

		}
	}
	td {
		display: block;
		position: relative;
		padding: 0;
		border-bottom: 0;
	}
	.lpa-donor {
		padding-right: 120px;
		@include media($min-width: 780px) {
			padding-right: 190px;
		}
	}
	.lpa-type {
		display: none;
	}
	.lpa-progress,
	.lpa-date {
		position: absolute;
		width: 120px;
		top: 17px;
		right: 0;
		padding: 0;
		@include media($min-width: 780px) {
			width: 190px;
		}
		span {
			display: block;
			position: relative;
			width: 100%;
			text-align: left;
		}
	}
	.lpa-progress span {
		&:before {
			@include media($min-width: 780px) {
				content: 'Status: ';
			}
		}
	}
	.lpa-date span {
		top: 20px;
		&:before {
			@include media($min-width: 780px) {
				content: 'Last saved on: ';
			}
		}
	}
	.lpa-actions {
		position: relative;
		min-height: 80px;
	}
	.button {
		position: absolute;
		bottom: 2px;
	}
	.lpa-cta {
		float: left;
		position: relative;
		bottom: 0;
		padding: 0;
		clear: left;
	}
	.lpa-manage {
		position: absolute;
		width: 100px;
		right: 0;
		bottom: 0;
		padding: 0;
		@include media($min-width: 780px) {
			width: 174px;
		}
	}
}