// =======================================================
// SEARCH RESULTS

.lpa-search-form {
	padding-top: 30px;
}

.lpa-table {
	th, td {
		@include media(mobile) {
			display: block;
		}
	}
	@include media(mobile) {
		thead {
			display: none;
		}
		tr {
			display: block;
			margin-top: 30px;
			border-bottom: 1px solid $border-colour;
			&:last-child {
				border-bottom: 0;
			}
		}
		td {
			position: relative;
			border-bottom: 0;
			padding: 0 0 6px 120px;
			&:before {
				position: absolute;
				top: -2px;
				left: 0;
				width: 120px;
				height: auto;
				padding-bottom: 6px;
				font-weight: 700;
			}
		}
		td:nth-child(1) {
			&:before {
				content: 'LPA number:';
			}
		}
		td:nth-child(2) {
			&:before {
				content: 'Donor:';
			}
		}
		td:nth-child(3) {
			&:before {
				content: 'Type:';
			}
		}
		td:nth-child(4) {
			&:before {
				content: 'Progress:';
			}
		}
		td:nth-child(5) {
			&:before {
				content: 'Last saved on:';
			}
		}
		td:nth-child(6) {
			padding: $gutter-half 0 $gutter 0;
		}
	}
	@include media($min-width: 641px) {
		td:nth-child(6) {
			padding: 0;
		}
	}

	.button {
		@include media($min-width: 641px) {
			margin-bottom: 14px;
		}
	}
}

.lpa-actions {
	padding-top: 12px;
}