// =======================================================
// LOADING SPINNER

.spinner {
	margin: 0 0 -3px 8px;
	@include media(mobile) {
		display: block;
		margin: $gutter-half auto 0 auto;
	}
}

.loading {
	text-align: center;
	.spinner {
		display: block;
		margin: 20px auto 6px auto;
	}
}