// =======================================================
// TABLE SUMMARY
// Summary table during LPA creation

.table-summary {
    margin-bottom: 20px;

    tr {
        @include media($max-width: 400px) {
            display: block;
            position: relative;
            z-index: 3;
        }

        td.incomplete {
            color: $red;
            font-weight: bold;
        }
    }

    th,
    td {
        vertical-align: top;

        @include media($max-width: 400px) {
            display: block;
            width: 100%;
            padding-right: 0;
            border: 0;
        }

        @include ie-lte(8) {
            width: auto;
        }
    }

    th {
        @include media($max-width: 400px) {
            padding-right: 40px;
            padding-bottom: 0;
            z-index: 3;
            box-sizing: border-box;
        }
    }

    td {
        @include media($max-width: 400px) {
            padding-top: 6px;
        }
    }

    .table-summary-heading {
        padding-bottom: 0;
    }

    .table-summary-title {
        width: 35%;
        font-weight: 700;
    }

    .table-summary-action {
        padding-right: 0;
        text-align: right;

        @include media($max-width: 400px) {
            position: absolute;
            top: 12px;
            border: 0;
        }

        @include ie-lte(8) {
            position: static;
        }
    }

    .group-single {
        padding: 6px 0;
        border-bottom: 1px solid $border-colour;

        &:first-child {
            border-top: 1px solid $border-colour;
        }
    }

    .group-end {
        padding-bottom: 6px;
        border-bottom: 1px solid $border-colour;
    }

    .group-element {
        th,
        td {
            border-bottom: 0;
        }
    }
}
