// Image path for URL helper in govuk toolkit
$path: '/assets/v2/images/icons/';

// Darker version of turquoise to meet AA/AAA contrast requirements, 
// then replicated for consistency
$turquoise-with-contrast: #218278;
$white: #ffffff;
