// Image path for URL helper in govuk toolkit
$path: '/assets/v2/images/icons/';
$toolkit-font-stack: 'GDS Transport';

// Darker version of turquoise to meet AA/AAA contrast requirements,
// then replicated for consistency
$turquoise-with-contrast: #218278;
$white: #ffffff;
$transparent: rgba(0, 0, 0, 0);
$dark-grey: #0b0c0c;

// These are colours for the border and text; the background is transparent
$status-default-colour: #0b0c0c;
$status-waiting-colour: #1d70b8;
$status-received-colour: #4c2c92;
$status-checking-colour: #912b88;
$status-processed-colour: #00703c;

$progress-bar-background: #dadada;
$progress-bar-font-default: #555555;

// Need to be set for latest Govuk Frontend, legacy settings
$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-compatibility-govukelements: true;
