// Image path for URL helper in govuk toolkit
$path: '/assets/v2/images/icons/';

// Darker version of turquoise to meet AA/AAA contrast requirements,
// then replicated for consistency
$turquoise-with-contrast: #218278;
$white: #ffffff;
$dark-grey: #0b0c0c;

$status-default-colour: #dee0e2;
$status-waiting-colour: #2e358b;
$status-received-colour: #005ea5;
$status-checking-colour: #206893;
$status-processed-colour: #157f77;

$progress-bar-background: #dadada;
$progress-bar-font-default: #555555;

// Need to be set for latest Govuk Frontend, legacy settings
$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-compatibility-govukelements: true;
