{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Email sent - {% endblock %}
{% block pageTitle %}Thank you{% endblock %}

{% block content %}

<div class="text">
    <p class="lede">We've emailed a link to <span class="bold-medium">{{ email }}</span> so that you can {{ accountNotActivated ? "verify your email address" : "reset your password" }}.</p>
    <p>If you have not received the email within a few minutes, please check your spam, bulk or junk email folder &ndash; your email system may have blocked it by mistake.</p>
    <p>If it does not arrive at all, please check that you've given us the correct email address for your existing LPA account &ndash; we'll only send a password reset link to the email address belonging to an account.</p>
</div>

{% endblock content %}