{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Password link error - {% endblock %}
{% block pageTitle %}That password link does not work{% endblock %}

{% block content %}

<div class="text">
    <p class="lede">You cannot reset your password with the link you’ve used.</p>
    <p>This might be because you've:</p>
    <ul class="list list-bullet">
        <li>already used this link</li>
        <li>tried to change your password again since</li>
        <li>changed the link</li>
    </ul>
    <p><a href="{{ url('forgot-password') }}">Get a new link</a> to reset your password.</p>
</div>

{% endblock content %}