{% extends isPopup ? 'layout/twig/popup.twig' : 'layout/twig/layout.twig' %}

{% block htmlTitle %}Delete this attorney - {% endblock %}

{% block content %}

<header class="popup-header">
    <i class="icon icon-bin"></i>
    <h2 class="heading-small popup-header-title">
        Are you sure you want to delete this {% if isTrust %}trust corporation{% else %}person{% endif %}?
    </h2>
</header>

<div class="form">
    <h2 class="heading-medium">{{ attorneyName }}</h2>
    <p>{{ attorneyAddress }}</p>
    <a href="{{ deleteRoute }}" class="button button-warning flush--left">Delete</a>
    <a href="{{ cancelUrl }}" class="button button-secondary js-cancel">Cancel</a>
</div>

{% endblock %}
