<div class="js-toggle-nav" id="global-nav">
    <div class="inner">
        <nav role="navigation" class="content">
            <ul id="navigation">
                <li class="user">{{ name ? name ~ ':' : '' }} </li>
                {% for key,value in links %}
                    <li><a href="{{ value['url'] }}">{{ value['text'] }}</a></li>
                {% endfor %}
            </ul>
            {% if lastLogin %}
                <p class="lastsigned flush--ends">Last signed in: {{ lastLogin|date('j F Y \a\t g:ia') }}</p>
            {% endif %}
        </nav>
    </div>
</div>
