<div class="js-toggle-nav" id="global-nav">
    <div class="inner">
        <nav role="navigation" class="content">
            <ul id="navigation">
                <li class="user">{{ name ? name ~ ':' : '' }} </li>
                {% for key,value in links %}
                    <li><a href="{{ value['url'] }}">{{ value['text'] }}</a></li>
                {% endfor %}
            </ul>
            {% if not user.lastLogin %}
                {# <p style="text-align: right;">You were last signed in on {{ user.lastLogin.format('j F Y \a\t g:ia') }}</p> #}
                <p class="lastsigned flush--ends">Last signed in: dd/mm/yyy at hh:mm</p>
            {% endif %}
        </nav>
    </div>
</div>
