{% extends 'layout/twig/layout.twig' %}

{% block errorSummary %}
    {% include 'application/about-you/partials/form-error-summary.twig' %}
{% endblock %}

{% block pageTitle %}
The terms have changed
{% endblock %}

{% block content %}

<p><a href="{{ url('user/dashboard') }}">Click here to proceed</a></p>

{% endblock %}
