<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/service-api/tests" />
        <option value="$PROJECT_DIR$/service-pdf/tests" />
        <option value="$PROJECT_DIR$/shared/module/MakeShared/tests" />
        <option value="$PROJECT_DIR$/service-front/tests" />
        <option value="$PROJECT_DIR$/service-admin/test" />
      </list>
    </option>
  </component>
</project>