name: trivy-scan
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "service-api/**"
      - "service-admin/**"
      - "service-front/**"
      - "service-pdf/**"
      - "shared/**"
      - "tests/**"
      - "cypress/**"

jobs:
  filter-and-scan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        scan:
          - name: service-api
            path: "./service-api"
          - name: service-admin
            path: "./service-admin"
          - name: service-front
            path: "./service-front"
          - name: service-pdf
            path: "./service-pdf"
          - name: shared
            path: "./shared"
          - name: tests
            path: "./tests"
          - name: cypress
            path: "./cypress"
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Filter paths
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            check: '${{ matrix.scan.path }}/**'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::311462405659:role/opg-lpa-ci
          role-duration-seconds: 900
          role-session-name: OPGLPABuildPipeline

      - name: ecr login
        id: login_ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registries: 311462405659

      - name: Run Trivy vulnerability scanner for Code
        if: steps.filter.outputs.check == 'true'
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TRIVY_DB_REPOSITORY: ${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-db:2
          TRIVY_JAVA_DB_REPOSITORY: ${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-java-db:1
        with:
          scan-type: "fs"
          ignore-unfixed: true
          hide-progress: false
          format: "sarif"
          severity: 'HIGH,CRITICAL'
          output: "${{ matrix.scan.name }}/trivy-results-code.sarif"
          scan-ref: ${{ matrix.scan.path }}

      - name: Upload Trivy scan results to GitHub Security tab
        if: steps.filter.outputs.check == 'true'
        uses: github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db # v4.31.3
        with:
          sarif_file: "./${{ matrix.scan.name }}"
