name: Psalm analysis

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  security-events: write

jobs:
  psalm:
    name: psalm-scan
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        scan:
          - name: service-admin
            path: "./service-admin"
            phpVersion: "8.4"
          - name: service-front
            path: "./service-front"
            phpVersion: "8.4"
          - name: service-api
            path: "./service-api"
            phpVersion: "8.4"
          - name: shared
            path: "./shared"
            phpVersion: "8.4"
          - name: service-pdf
            path: "./service-pdf"
            phpVersion: "8.4"

    defaults:
      run:
        working-directory: ${{ matrix.scan.path }}
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: ${{ matrix.scan.phpVersion }}
      - name: Composer install
        run: composer install --prefer-dist --optimize-autoloader --no-suggest --no-interaction --no-scripts
      - name: Run psalm
        run: ./vendor/bin/psalm --output-format=github --report=psalm-results.sarif --no-cache
      - name: Add prefix to Psalm paths
        if: always()
        run: |
          sed -i 's|"uri":"|"uri":"${{ matrix.scan.name }}\/|g' psalm-results.sarif
      - name: Upload Security Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db # v4.31.3
        if: always()
        with:
          sarif_file: ${{ matrix.scan.path }}/psalm-results.sarif
