name: "[Workflow] Cypress Tests"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      account_id:
        description: "AWS account ID containing the role to assume for boto commands"
        required: true
        type: string
      admin_url:
        description: "URL of the admin frontend"
        required: true
        type: string
      front_url:
        description: "URL of the frontend"
        required: true
        type: string
      cypress_tags:
        description: "Cypress tags to run"
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS:
        required: true
      AWS_SECRET_ACCESS_KEY_ACTIONS:
        required: true

jobs:
  cypress_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Configure AWS Credentials - Security Group & ECR
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::${{ inputs.account_id }}:role/opg-lpa-ci
          role-duration-seconds: 900
          role-session-name: OPGLPACypressTestsSecurityGroupECR

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/pipeline/ci_ingress/requirements.txt

      - name: Download Terraform Task definition
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: terraform-artifact
          path: /tmp/

      - name: Add GitHub Actions runner Ingress Rule
        run: |
          python scripts/pipeline/ci_ingress/ci_ingress.py /tmp/environment_pipeline_tasks_config.json --add

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cache/Cypress
            node_modules
          key: node-cache-${{ runner.os }}-${{ hashFiles('package-lock.json') }}

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'

      - name: Run Cypress Tests - ${{ inputs.cypress_tags }}
        env:
          CYPRESS_adminUrl: ${{ inputs.admin_url }}
          CYPRESS_baseUrl: ${{ inputs.front_url }}
          CYPRESS_NO_COMMAND_LOG: 1
          CYPRESS_numTestsKeptInMemory: 1
          CYPRESS_RUNNER_IN_CI: true
          CYPRESS_RUNNER_TAGS: ${{ inputs.cypress_tags }}
          CYPRESS_RUNNER_BASE_URL: ${{ inputs.front_url }}
          CYPRESS_RUNNER_ADMIN_URL: ${{ inputs.admin_url }}
          CYPRESS_VIDEO: false
          CYPRESS_RUN_A11Y_TESTS: true
        run: |
          pip install boto3
          npm ci --ignore-scripts .
          ./node_modules/.bin/cypress install
          ./cypress/cypress_start.sh

      - name: Upload Screenshot Artifact
        if: failure()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: cypress-screenshots
          path: cypress/screenshots/
          overwrite: true

      - name: Configure AWS Credentials
        if: always()
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-duration-seconds: 900
          role-to-assume: arn:aws:iam::${{ inputs.account_id }}:role/opg-lpa-ci
          role-session-name: OPGLPACypressTestsSecurityGroupEnd

      - name: Remove GitHub Actions runner Ingress Rule
        if: always()
        run: |
          python scripts/pipeline/ci_ingress/ci_ingress.py /tmp/environment_pipeline_tasks_config.json
