name: "[Workflow] Cypress Tests"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      account_id:
        description: "AWS account ID containing the role to assume for boto commands"
        required: true
        type: string
      admin_url:
        description: "URL of the admin frontend"
        required: true
        type: string
      front_url:
        description: "URL of the frontend"
        required: true
        type: string
      cypress_tags:
        description: "Cypress tags to run"
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS:
        required: true
      AWS_SECRET_ACCESS_KEY_ACTIONS:
        required: true

jobs:
  cypress_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Configure AWS Credentials - Security Group & ECR
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::${{ inputs.account_id }}:role/opg-lpa-ci
          role-duration-seconds: 900
          role-session-name: OPGLPACypressTestsSecurityGroupECR

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/pipeline/ci_ingress/requirements.txt

      - name: Download Terraform Task definition
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: terraform-artifact
          path: /tmp/

      - name: Add GitHub Actions runner Ingress Rule
        run: |
          python scripts/pipeline/ci_ingress/ci_ingress.py /tmp/environment_pipeline_tasks_config.json --add

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            ~/.cache/Cypress
            node_modules
          key: node-cache-${{ runner.os }}-${{ hashFiles('package-lock.json') }}

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".nvmrc"

      - name: Run Cypress Front-Mezzio Tests
        run: |
          make cypress-run-spec-mezzio-test SPEC=FrontMezzioTest.feature

      - name: Run Cypress Tests - ${{ inputs.cypress_tags }}
        env:
          CYPRESS_adminUrl: ${{ inputs.admin_url }}
          CYPRESS_baseUrl: ${{ inputs.front_url }}
          CYPRESS_TAGS: ${{ inputs.cypress_tags }}
        run: |
          pushd cypress ; python3 stitch.py ; popd
          sed -i -e "s|https://front-ssl|${CYPRESS_baseUrl}|g" docker-compose.yml
          sed -i -e "s|https://admin-ssl|${CYPRESS_adminUrl}|g" docker-compose.yml
          CYPRESS_userNumber=`python3 cypress/user_number.py`
          docker compose run --rm -e CYPRESS_userNumber=$CYPRESS_userNumber -e CYPRESS_NO_COMMAND_LOG=1 -e CYPRESS_numTestsKeptInMemory=1 cypress --headless --config video=false -e stepDefinitions="/app/cypress/e2e/common/*.js",filterSpecs="true",GLOB="cypress/e2e/**/*.feature",CI="True",TAGS="@Signup"
          docker compose run --rm -e CYPRESS_userNumber=$CYPRESS_userNumber -e CYPRESS_NO_COMMAND_LOG=1 -e CYPRESS_numTestsKeptInMemory=1 cypress --headless --config video=false -e stepDefinitions="/app/cypress/e2e/common/*.js",filterSpecs="true",GLOB="cypress/e2e/**/*.feature",CI="True",TAGS="${CYPRESS_TAGS}"

      - name: Upload Screenshot Artifact
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cypress-screenshots
          path: cypress/screenshots/
          overwrite: true

      - name: Configure AWS Credentials
        if: always()
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-duration-seconds: 900
          role-to-assume: arn:aws:iam::${{ inputs.account_id }}:role/opg-lpa-ci
          role-session-name: OPGLPACypressTestsSecurityGroupEnd

      - name: Remove GitHub Actions runner Ingress Rule
        if: always()
        run: |
          python scripts/pipeline/ci_ingress/ci_ingress.py /tmp/environment_pipeline_tasks_config.json
