name: "[Docker] Build and Push Images"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      tag:
        description: "Tag for docker image"
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS:
        required: true
      AWS_SECRET_ACCESS_KEY_ACTIONS:
        required: true
      SLACK_BOT_TOKEN:
        required: true

jobs:
  docker_build_scan_push:
    name: "docker build"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - image_name: online-lpa/front_app
            dockerfile_path: ./service-front/docker/app
            service_path: ./service-front
            trivyignores: ./service-front/docker/app/.trivyignore.yml

          - image_name: online-lpa/front_web
            dockerfile_path: ./service-front/docker/web
            service_path: ./service-front
            trivyignores: ./service-front/docker/web/.trivyignore.yml

          - image_name: online-lpa/api_app
            dockerfile_path: ./service-api/docker/app
            service_path: ./service-api
            trivyignores: ./service-api/docker/app/.trivyignore.yml

          - image_name: online-lpa/api_web
            dockerfile_path: ./service-api/docker/web
            service_path: ./service-api
            trivyignores: ./service-api/docker/web/.trivyignore.yml

          - image_name: online-lpa/admin_app
            dockerfile_path: ./service-admin/docker/app
            service_path: ./service-admin
            trivyignores: ./service-admin/docker/app/.trivyignore.yml

          - image_name: online-lpa/admin_web
            dockerfile_path: ./service-admin/docker/web
            service_path: ./service-admin
            trivyignores: ./service-admin/docker/web/.trivyignore.yml

          - image_name: online-lpa/pdf_app
            dockerfile_path: ./service-pdf/docker/app
            service_path: ./service-pdf
            trivyignores: ./service-pdf/docker/app/.trivyignore.yml

          - image_name: online-lpa/seeding_app
            dockerfile_path: ./service-seeding/docker/app
            service_path: ./service-seeding
            trivyignores: ./service-seeding/docker/app/.trivyignore.yml

          - image_name: lambda-aurora_scheduler
            dockerfile_path: ./aurora-scheduler/docker
            service_path: ./aurora-scheduler
            trivyignores: ./aurora-scheduler/docker/.trivyignore.yml
            override_tag: latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # 1.0.8

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::311462405659:role/opg-lpa-ci
          role-duration-seconds: 1800
          role-session-name: OPGMakeaLPAECRGithubAction

      - name: Apply override tag
        id: set_image_tag
        env:
          IMAGE_TAG: ${{ inputs.tag }}
        run: |
          if [ ${{ matrix.override_tag }} ]; then
            IMAGE_TAG=${{ matrix.override_tag }}
          fi
          echo "image_tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        if: ${{ (matrix.image_name == 'online-lpa/front_web') }}
        with:
          node-version-file: ".nvmrc"

      - name: Install Dependencies
        if: ${{ (matrix.image_name == 'online-lpa/front_web') }}
        run: |
          pushd service-front/
          npm ci --ignore-scripts && npm install -g --ignore-scripts sass
          node_modules/grunt-cli/bin/grunt build
          popd

      - name: Setup Docker Buildx
        id: docker_buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          install: true

      - name: Setup Docker Layer Cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ matrix.image_name }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ matrix.image_name }}-

      - name: ECR Login
        id: login_ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registries: 311462405659

      - name: Trivy Dockerfile Configuration Scanner for ${{ matrix.image_name }}
        id: trivy_dockerfile_misconfiguration_scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        env:
          TRIVY_DB_REPOSITORY: ${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-db:2
          TRIVY_JAVA_DB_REPOSITORY: ${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-java-db:1
          TRIVY_IGNOREFILE: ${{ matrix.trivyignores }}
        with:
          scan-type: fs
          scan-ref: ${{ matrix.dockerfile_path }}/Dockerfile
          severity: "HIGH,CRITICAL"
          scanners: "misconfig"
          version: v0.65.0
          exit-code: 1

      - name: Build Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          load: true
          tags: ${{ matrix.image_name }}:latest
          push: false
          file: ${{ matrix.dockerfile_path }}/Dockerfile
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new
          build-args: |
            OPG_LPA_COMMON_APP_VERSION=${{ github.sha }}

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Trivy Image Vulnerability Scanner
        id: trivy_scan
        run: |
          sleep $((RANDOM % 12));
          mkdir -p -m 0777 .trivy-cache ./test-results/
          docker run \
            --volume /var/run/docker.sock:/var/run/docker.sock \
            --volume ./.trivy-cache:/root/.cache \
            --volume ./test-results:/test-results \
            --volume ./${{ matrix.trivyignores }}:/.trivyignore.yaml \
            --env TRIVY_IGNOREFILE='.trivyignore.yaml' \
            --env TRIVY_DB_REPOSITORY=${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-db:2 \
            --env TRIVY_JAVA_DB_REPOSITORY=${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-java-db:1 \
            --env TRIVY_USERNAME=${{ steps.login_ecr.outputs.docker_username_311462405659_dkr_ecr_eu_west_1_amazonaws_com }} \
            --env TRIVY_PASSWORD=${{ steps.login_ecr.outputs.docker_password_311462405659_dkr_ecr_eu_west_1_amazonaws_com }} \
            aquasec/trivy:0.65.0 image \
            ${{ matrix.image_name }}:latest \
            --format table \
            --severity HIGH,CRITICAL

          docker run \
            --volume /var/run/docker.sock:/var/run/docker.sock \
            --volume ./.trivy-cache:/root/.cache \
            --volume ./test-results:/test-results \
            --volume ./${{ matrix.trivyignores }}:/.trivyignore.yaml \
            --env TRIVY_IGNOREFILE='.trivyignore.yaml' \
            --env TRIVY_DB_REPOSITORY=${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-db:2 \
            --env TRIVY_JAVA_DB_REPOSITORY=${{ steps.login_ecr.outputs.registry }}/trivy-db-public-ecr/aquasecurity/trivy-java-db:1 \
            --env TRIVY_USERNAME=${{ steps.login_ecr.outputs.docker_username_311462405659_dkr_ecr_eu_west_1_amazonaws_com }} \
            --env TRIVY_PASSWORD=${{ steps.login_ecr.outputs.docker_password_311462405659_dkr_ecr_eu_west_1_amazonaws_com }} \
            aquasec/trivy:0.65.0 image ${{ matrix.image_name }}:latest \
            --severity HIGH,CRITICAL \
            --exit-code 1 \
            --format sarif --output ./test-results/trivy.sarif \

      - name: Upload Trivy scan results to GitHub Security tab for ${{ matrix.image_name }}
        id: trivy_upload_sarif
        uses: github/codeql-action/upload-sarif@4bdb89f48054571735e3792627da6195c57459e2 # v3.31.10
        if: always()
        with:
          sarif_file: "./test-results/trivy.sarif"

      - name: Trivy Image SBOM Generator for ${{ matrix.image_name }} and submit results to Dependency Graph
        id: trivy_sbom
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        env:
          TRIVY_SKIP_DB_UPDATE: true
          TRIVY_SKIP_JAVA_DB_UPDATE: true
          TRIVY_SKIP_CHECK_UPDATE: true
        with:
          scan-type: "image"
          image-ref: ${{ matrix.image_name }}:${{ inputs.tag }}
          format: "github"
          output: "${{ matrix.image_name }}-${{ inputs.tag }}.sbom.json"
          github-pat: ${{ secrets.GITHUB_TOKEN }}
          version: v0.65.0

      - name: Upload trivy report as a Github artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: trivy-sbom-report-${{ matrix.image_name }}-${{ inputs.tag }}
          path: "${{ github.workspace }}/${{ matrix.image_name }}-${{ inputs.tag }}.sbom.json"
          retention-days: 20 # 90 is the default

      - name: Tag and Push Container
        env:
          ECR_REGISTRY: ${{ steps.login_ecr.outputs.registry }}
          IMAGE_TAG: ${{ steps.set_image_tag.outputs.image_tag }}
          IMAGE_NAME: ${{ matrix.image_name }}
        run: |
          docker tag $IMAGE_NAME:latest $ECR_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            docker tag $IMAGE_NAME:latest $ECR_REGISTRY/$IMAGE_NAME:main-$IMAGE_TAG
            docker tag $IMAGE_NAME:latest $ECR_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
            docker tag $IMAGE_NAME:latest $ECR_REGISTRY/$IMAGE_NAME:latest
          fi
          docker push --all-tags $ECR_REGISTRY/$IMAGE_NAME

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/pipeline/check_ecr_scan_results/requirements.txt

      - name: Scan Container
        env:
          ECR_REGISTRY_ALIAS: online-lpa
          IMAGE_TAG: ${{ inputs.tag }}
        run: |
          cd scripts/pipeline/check_ecr_scan_results/
          python aws_ecr_scan_results.py  --search ${ECR_REGISTRY_ALIAS} \
                                         --tag ${IMAGE_TAG} \
                                         --slack_channel CAMB46M6Y \
                                         --slack_token ${{ secrets.SLACK_BOT_TOKEN }}
