# minCoverage sets the minimum coverage level for unit tests; if coverage is less than this,
# the build fails. The values for these parameters were set on 2023-03-03 from the coverage
# levels of the phpunit tests at that time, rounded down. See LPAL-1143 for more details.
name: phpunit tests

on: workflow_call

jobs:
  phpunit:
    name: phpunit
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        scan:
          - name: service-admin
            path: "./service-admin"
            minCoverage: 3
            phpVersion: "8.4"
          - name: service-front
            path: "./service-front"
            minCoverage: 85
            phpVersion: "8.4"
          - name: service-api
            path: "./service-api"
            minCoverage: 74
            phpVersion: "8.4"
          - name: shared
            path: "./shared"
            minCoverage: 90
            phpVersion: "8.4"
          - name: service-pdf
            path: "./service-pdf"
            minCoverage: 85
            phpVersion: "8.4"
    defaults:
      run:
        working-directory: ${{ matrix.scan.path }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: ${{ matrix.scan.phpVersion }}
      - name: pdftk install
        if: matrix.scan.path == './service-pdf'
        run: |
          sudo apt-get update --allow-releaseinfo-change
          sudo apt-get install pdftk-java
          sudo apt-get install -y poppler-utils
      - name: Composer install
        run: composer install --prefer-dist --optimize-autoloader --no-interaction --no-scripts
      - name: Run phpunit
        run: XDEBUG_MODE=coverage php ./vendor/bin/phpunit --coverage-html ./coverage-html --coverage-xml ./coverage-xml
      - name: Check coverage
        run: php ../scripts/pipeline/php_coverage/check_coverage.php ./coverage-xml/index.xml ${{ matrix.scan.minCoverage }}
      - name: Upload Coverage Artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ matrix.scan.name }}-coverage-html
          path: ${{ matrix.scan.path }}/coverage-html/
          overwrite: true
