name: trufflehog

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  trufflehog:
    name: Run trufflehog report
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v1
     - name: trufflehog-actions-scan
       uses: edplato/trufflehog-actions-scan@master
