name: "[Workflow] Destroy ephemeral environment"

permissions:
  contents: read
  security-events: none
  pull-requests: read
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

defaults:
  run:
    shell: bash

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  workspace_name:
    runs-on: ubuntu-latest
    outputs:
      safe_branch_name: ${{ steps.safe_branch_name.outputs.safe }}
    steps:
      - name: Set safe branch name
        id: safe_branch_name
        uses: ministryofjustice/opg-github-actions/actions/branch-name@e3177e63e9f2951dd3f1f7c7aa093918a5a0794a # v4.3.6
    if: github.event.pull_request.merged == true

  cleanup_workspace:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    needs:
      - workspace_name
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Get terraform version
        id: set-terraform-version
        uses: ministryofjustice/opg-github-actions/actions/terraform-version@e3177e63e9f2951dd3f1f7c7aa093918a5a0794a # v4.3.6
        with:
          terraform_directory: "./terraform/environment"

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ steps.set-terraform-version.outputs.version }}
          terraform_wrapper: false

      - uses: webfactory/ssh-agent@a6f90b1f127823b31d4d4a8d96047790581349bd # v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-duration-seconds: 900
          role-session-name: OPGLPADestroyEphemeralEnvironment

      - name: Run workspace cleanup
        working-directory: ./terraform/environment
        env:
          TF_VAR_pagerduty_token: ${{ secrets.PAGERDUTY_TOKEN }}
        run: |
          ../../scripts/pipeline/workspace_cleanup/destroy_workspace.sh ${{ github.event.number }}${{ needs.workspace_name.outputs.safe_branch_name }}
