name: "[Workflow] PR Environment"

defaults:
  run:
    shell: bash

on:
  pull_request:
    branches:
      - main

permissions:
  contents: write
  security-events: write
  pull-requests: read
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

jobs:
  workflow_variables:
    name: Output workflow variables
    runs-on: ubuntu-latest
    outputs:
      short_sha: ${{ steps.short_sha.outputs.short_sha }}
      safe_branch_name: ${{ steps.safe_branch_name.outputs.safe }}
      workspace_name: ${{ steps.set_workspace_name.outputs.workspace_name }}
      environment_terraform_version: ${{ steps.terraform_version_environment.outputs.version }}
      account_terraform_version: ${{ steps.terraform_version_account.outputs.version }}
      region_terraform_version: ${{ steps.terraform_version_region.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set safe branch name
        id: safe_branch_name
        uses: ministryofjustice/opg-github-actions/actions/branch-name@e3177e63e9f2951dd3f1f7c7aa093918a5a0794a # v4.3.6
      - name: Set workspace name
        id: set_workspace_name
        run: |
          echo "workspace_name=${{ github.event.number }}${{ steps.safe_branch_name.outputs.safe }}" >> $GITHUB_OUTPUT
          echo "## **Workspace Name: ${{ github.event.number }}${{ steps.safe_branch_name.outputs.safe }}**" >> $GITHUB_STEP_SUMMARY
      - name: Set output to short SHA
        id: short_sha
        env:
          HEAD_GITHUB_SHA: ${{ github.event.pull_request.head.sha }}
        run: echo "short_sha=${HEAD_GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Set terraform version - environment
        id: terraform_version_environment
        uses: ministryofjustice/opg-github-actions/actions/terraform-version@e3177e63e9f2951dd3f1f7c7aa093918a5a0794a # v4.3.6
        with:
          terraform_directory: "./terraform/environment"
      - name: Set terraform version - account
        id: terraform_version_account
        uses: ministryofjustice/opg-github-actions/actions/terraform-version@e3177e63e9f2951dd3f1f7c7aa093918a5a0794a # v4.3.6
        with:
          terraform_directory: "./terraform/account"
      - name: Set terraform version - region
        id: terraform_version_region
        uses: ministryofjustice/opg-github-actions/actions/terraform-version@e3177e63e9f2951dd3f1f7c7aa093918a5a0794a # v4.3.6
        with:
          terraform_directory: "./terraform/region"

  terraform_lint:
    name: TF - Lint
    needs:
      - workflow_variables
    uses: ministryofjustice/opg-github-workflows/.github/workflows/linting-infrastructure-terraform.yml@361d19a6d7b291dab5d46f04765239341a4ca86b # v3.16.0
    with:
      terraform_version: ${{ needs.workflow_variables.outputs.environment_terraform_version }}

  phpunit_tests:
    name: Run PHPUnit tests
    uses: ./.github/workflows/phpunit.yml

  docker_build_scan_push:
    name: Docker Build, Scan and Push
    uses: ./.github/workflows/docker_job.yml
    needs:
      - workflow_variables
    with:
      tag: ${{ needs.workflow_variables.outputs.short_sha }}
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

  cypress_mezzio_tests:
    uses: ./.github/workflows/front_mezzio_tests.yml
    name: Run Cypress Front-Mezzio Tests

  terraform_account_development:
    name: TF Development - Account
    uses: ministryofjustice/opg-github-workflows/.github/workflows/build-infrastructure-terraform.yml@361d19a6d7b291dab5d46f04765239341a4ca86b # v3.16.0
    needs:
      - terraform_lint
      - workflow_variables
    with:
      terraform_version: ${{ needs.workflow_variables.outputs.account_terraform_version }}
      terraform_workspace: development
      is_ephemeral: false
      workspace_manager_aws_account_id: "050256574573"
      workspace_manager_aws_iam_role: opg-lpa-ci
      terraform_apply: false
      terraform_directory: ./terraform/account
    secrets:
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PAGERDUTY_TOKEN: ${{ secrets.PAGERDUTY_TOKEN }}
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

  terraform_region_development:
    name: TF Development - Region
    uses: ministryofjustice/opg-github-workflows/.github/workflows/build-infrastructure-terraform.yml@361d19a6d7b291dab5d46f04765239341a4ca86b # v3.16.0
    needs:
      - terraform_lint
      - workflow_variables
    with:
      terraform_version: ${{ needs.workflow_variables.outputs.region_terraform_version }}
      terraform_workspace: development
      is_ephemeral: false
      workspace_manager_aws_account_id: "050256574573"
      workspace_manager_aws_iam_role: opg-lpa-ci
      terraform_apply: false
      terraform_directory: ./terraform/region
    secrets:
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PAGERDUTY_TOKEN: ${{ secrets.PAGERDUTY_TOKEN }}
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

  terraform_environment_development:
    name: TF ${{ needs.workflow_variables.outputs.workspace_name }} Environment
    uses: ministryofjustice/opg-github-workflows/.github/workflows/build-infrastructure-terraform.yml@361d19a6d7b291dab5d46f04765239341a4ca86b # v3.16.0
    needs:
      - docker_build_scan_push
      - phpunit_tests
      - workflow_variables
      - terraform_account_development
      - terraform_region_development
    with:
      terraform_version: ${{ needs.workflow_variables.outputs.environment_terraform_version }}
      use_ssh_private_key: true
      terraform_workspace: ${{ needs.workflow_variables.outputs.workspace_name }}
      is_ephemeral: true
      workspace_manager_aws_account_id: "050256574573"
      workspace_manager_aws_iam_role: opg-lpa-ci
      terraform_apply: true
      terraform_directory: ./terraform/environment
      terraform_variables: "-var container_version=${{ needs.workflow_variables.outputs.short_sha }}"
      persist_artifacts: true
    secrets:
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PAGERDUTY_TOKEN: ${{ secrets.PAGERDUTY_TOKEN }}
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

  run_dev_seed_db_task:
    name: Run development DB seeding
    uses: ./.github/workflows/workflow_start_task.yml
    with:
      account_id: "050256574573"
      task_name: "seeding"
    needs:
      - terraform_environment_development
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}

  terraform_outputs:
    name: Render terraform outputs
    runs-on: ubuntu-latest
    needs:
      - run_dev_seed_db_task
      - terraform_environment_development
    outputs:
      admin_fqdn: ${{ steps.admin_fqdn.outputs.value }}
      front_fqdn: ${{ steps.front_fqdn.outputs.value }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Download Terraform Task definition
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: terraform-artifact
          path: /tmp/

      - name: Set environment variable
        id: set_var
        run: |
          content=$(cat /tmp/environment_pipeline_tasks_config.json)
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          echo "configJson=${content}" >> $GITHUB_OUTPUT

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::050256574573:role/opg-lpa-ci
          role-duration-seconds: 900
          role-session-name: OPGLPABuildPipeline

      - name: Extract Admin FQDN from JSON
        id: admin_fqdn
        env:
          configJson: ${{steps.set_var.outputs.configJson}}
        run: |
          echo "value=${{ fromJson(env.configJson).admin_fqdn }}" >> $GITHUB_OUTPUT

      - name: Extract Front FQDN from JSON
        id: front_fqdn
        run: |
          echo "value=${{ fromJson(steps.set_var.outputs.configJson).front_fqdn }}" >> $GITHUB_OUTPUT

  cypress_tests_Signup_StitchedPF:
    name: Run Cypress tests - Signup,StitchedPF
    uses: ./.github/workflows/cypress_tests.yml
    needs:
      - terraform_outputs
    with:
      admin_url: https://${{ needs.terraform_outputs.outputs.admin_fqdn }}
      front_url: https://${{ needs.terraform_outputs.outputs.front_fqdn }}
      account_id: "050256574573"
      cypress_tags: "@StitchedPF"
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}

  cypress_tests_Signup_StitchedHW:
    name: Run Cypress tests - Signup,StitchedHW
    uses: ./.github/workflows/cypress_tests.yml
    needs:
      - terraform_outputs
    with:
      admin_url: https://${{ needs.terraform_outputs.outputs.admin_fqdn }}
      front_url: https://${{ needs.terraform_outputs.outputs.front_fqdn }}
      account_id: "050256574573"
      cypress_tags: "@StitchedHW"
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}

  cypress_tests_Signup_StitchedClone:
    name: Run Cypress tests - Signup,StitchedClone
    uses: ./.github/workflows/cypress_tests.yml
    needs:
      - terraform_outputs
    with:
      admin_url: https://${{ needs.terraform_outputs.outputs.admin_fqdn }}
      front_url: https://${{ needs.terraform_outputs.outputs.front_fqdn }}
      account_id: "050256574573"
      cypress_tags: "@StitchedClone"
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}

  cypress_tests_SignupIncluded:
    name: Run Cypress tests - @SignupIncluded
    uses: ./.github/workflows/cypress_tests.yml
    needs:
      - terraform_outputs
    with:
      admin_url: https://${{ needs.terraform_outputs.outputs.admin_fqdn }}
      front_url: https://${{ needs.terraform_outputs.outputs.front_fqdn }}
      account_id: "050256574573"
      cypress_tags: "@SignupIncluded"
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}

  # Remaining tests should ultimately just exclude SignUp and anything already done as part of stitched run.
  # TODO CorrespondentReuse needs refactoring so that it can be included as part of the stitchedClone run.
  cypress_tests_Remaining:
    name: Run Cypress tests - Remaining
    uses: ./.github/workflows/cypress_tests.yml
    needs:
      - terraform_outputs
    with:
      admin_url: https://${{ needs.terraform_outputs.outputs.admin_fqdn }}
      front_url: https://${{ needs.terraform_outputs.outputs.front_fqdn }}
      account_id: "050256574573"
      cypress_tags: "not @Signup and not @PartOfStitchedRun and not @StitchedHW and not @StitchedPF and not @StitchedClone and not @CorrespondentReuse and not @SignupIncluded and not @AdminSystemMessage and not @CheckoutPaymentGateway and not @Ping"
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}

  end_of_workflow:
    name: End of Workflow
    runs-on: ubuntu-latest
    needs:
      - terraform_environment_development
      - terraform_outputs
      - workflow_variables
      - cypress_tests_Signup_StitchedPF
      - cypress_tests_Signup_StitchedHW
      - cypress_tests_Signup_StitchedClone
      - cypress_tests_SignupIncluded
      - cypress_tests_Remaining
    environment:
      name: "dev_${{ needs.workflow_variables.outputs.workspace_name }}"
      url: "https://${{ env.FRONT_URL }}/home"
    env:
      FRONT_URL: ${{ needs.terraform_outputs.outputs.front_fqdn }}
    steps:
      - name: End of Workflow
        run: |
          if ${{ contains(needs.terraform_environment_development.result, 'success')}} &&
            ${{ contains(needs.terraform_outputs.result, 'success')}} &&
            ${{ contains(needs.cypress_tests_Signup_StitchedPF.result, 'success')}} &&
            ${{ contains(needs.cypress_tests_Signup_StitchedHW.result, 'success')}} &&
            ${{ contains(needs.cypress_tests_Signup_StitchedClone.result, 'success')}} &&
            ${{ contains(needs.cypress_tests_SignupIncluded.result, 'success')}} &&
            ${{ contains(needs.cypress_tests_Remaining.result, 'success')}}; then
            echo "${{ needs.workflow_variables.outputs.workspace_name }} PR environment tested, built and deployed"
            echo "Tag Deployed: ${{ needs.workflow_variables.outputs.short_sha }}"
            echo "URL: https://${{ env.FRONT_URL }}/home"
            exit 0
          else
            echo "Previous jobs in pipeline failed."
            exit 1
          fi
    if: always()
