name: "[Workflow] Run Feedback DB Task"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      account_id:
        description: "AWS account of the role to assume"
        required: true
        type: string
      task_name:
        description: "Name of the task to run"
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS:
        required: true
      AWS_SECRET_ACCESS_KEY_ACTIONS:
        required: true

jobs:
  run_seeding_task:
    name: Run seeding task
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Download Terraform Task definition
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: terraform-artifact
          path: /tmp/

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::${{ inputs.account_id }}:role/opg-lpa-ci
          role-duration-seconds: 900
          role-session-name: OPGLPABuildPipeline

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/pipeline/requirements.txt

      - name: Start ECS task
        run: |
          pip install -e scripts/pipeline/lib
          export PYTHONPATH=$PYTHONPATH:./scripts/pipeline/lib
          python scripts/pipeline/start_task/ecs_start_task.py --task_name ${{ inputs.task_name }}
