name: "[Merge Queue] Preproduction Integration"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}

defaults:
  run:
    shell: bash

on:
  merge_group:
    types: [checks_requested]

permissions:
  contents: write
  security-events: write
  pull-requests: read
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

jobs:
  set_variables:
    name: Set variables
    runs-on: ubuntu-latest
    outputs:
      short_sha: ${{ steps.short_sha.outputs.short_sha }}
      semver_tag: ${{ steps.semver_tag.outputs.tag }}
      environment_terraform_version: ${{ steps.terraform_version_environment.outputs.version }}
      account_terraform_version: ${{ steps.terraform_version_account.outputs.version }}
      region_terraform_version: ${{ steps.terraform_version_region.outputs.version }}
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Set output to penultimate short SHA
        id: short_sha
        run: |
          echo "short_sha=$(git rev-list --no-merges -n 1 HEAD | cut -c1-7)" >> $GITHUB_OUTPUT
      - name: Set terraform version - environment
        id: terraform_version_environment
        uses: ministryofjustice/opg-github-actions/actions/terraform-version@e3177e63e9f2951dd3f1f7c7aa093918a5a0794a # v4.3.6
        with:
          terraform_directory: "./terraform/environment"
      - name: Set terraform version - account
        id: terraform_version_account
        uses: ministryofjustice/opg-github-actions/actions/terraform-version@e3177e63e9f2951dd3f1f7c7aa093918a5a0794a # v4.3.6
        with:
          terraform_directory: "./terraform/account"
      - name: Set terraform version - region
        id: terraform_version_region
        uses: ministryofjustice/opg-github-actions/actions/terraform-version@e3177e63e9f2951dd3f1f7c7aa093918a5a0794a # v4.3.6
        with:
          terraform_directory: "./terraform/region"
      - name: Bump version and push tag
        uses: ministryofjustice/opg-github-actions/actions/semver@e3177e63e9f2951dd3f1f7c7aa093918a5a0794a # v4.3.6
        id: semver_tag
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: true
          create_release: false
          default_bump: minor

  terraform_lint:
    name: TF - Lint
    needs:
      - set_variables
    uses: ministryofjustice/opg-github-workflows/.github/workflows/linting-infrastructure-terraform.yml@361d19a6d7b291dab5d46f04765239341a4ca86b # v3.16.0
    with:
      terraform_version: ${{ needs.set_variables.outputs.environment_terraform_version }}

  phpunit_tests:
    name: Run PHPUnit tests
    uses: ./.github/workflows/phpunit.yml

  docker_build_scan_push:
    name: Docker Build, Scan and Push
    uses: ./.github/workflows/docker_job.yml
    needs:
      - set_variables
      - phpunit_tests
    with:
      tag: integration-${{ needs.set_variables.outputs.semver_tag }}
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

  terraform_account_preproduction:
    name: TF Preproduction - Account
    needs:
      - set_variables
    uses: ministryofjustice/opg-github-workflows/.github/workflows/build-infrastructure-terraform.yml@361d19a6d7b291dab5d46f04765239341a4ca86b # v3.16.0
    with:
      terraform_version: ${{ needs.set_variables.outputs.account_terraform_version }}
      terraform_workspace: preproduction
      is_ephemeral: false
      terraform_apply: true
      terraform_directory: ./terraform/account
    secrets:
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PAGERDUTY_TOKEN: ${{ secrets.PAGERDUTY_TOKEN }}
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

  terraform_region_preproduction:
    name: TF Preproduction - Region
    uses: ministryofjustice/opg-github-workflows/.github/workflows/build-infrastructure-terraform.yml@361d19a6d7b291dab5d46f04765239341a4ca86b # v3.16.0
    needs:
      - set_variables
    with:
      terraform_version: ${{ needs.set_variables.outputs.environment_terraform_version }}
      terraform_workspace: preproduction
      is_ephemeral: false
      terraform_apply: true
      terraform_directory: ./terraform/region
    secrets:
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PAGERDUTY_TOKEN: ${{ secrets.PAGERDUTY_TOKEN }}
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

  terraform_environment_preproduction:
    name: TF Preproduction - Environment
    uses: ministryofjustice/opg-github-workflows/.github/workflows/build-infrastructure-terraform.yml@361d19a6d7b291dab5d46f04765239341a4ca86b # v3.16.0
    with:
      terraform_version: ${{ needs.set_variables.outputs.environment_terraform_version }}
      terraform_workspace: preproduction
      is_ephemeral: false
      terraform_apply: true
      use_ssh_private_key: true
      terraform_directory: ./terraform/environment
      terraform_variables: "-var container_version=integration-${{ needs.set_variables.outputs.semver_tag }}"
      persist_artifacts: true
    needs:
      - docker_build_scan_push
      - set_variables
    secrets:
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      PAGERDUTY_TOKEN: ${{ secrets.PAGERDUTY_TOKEN }}
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

  run_preproduction_seed_db_task:
    name: Run preproduction DB seeding
    uses: ./.github/workflows/workflow_start_task.yml
    with:
      account_id: "987830934591"
      task_name: "seeding"
    needs:
      - terraform_environment_preproduction
      - terraform_region_preproduction
      - terraform_account_preproduction
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}

  preprod_terraform_outputs:
    name: Render terraform outputs
    runs-on: ubuntu-latest
    outputs:
      admin_fqdn: ${{ steps.admin_fqdn.outputs.value }}
      front_fqdn: ${{ steps.front_fqdn.outputs.value }}
    needs:
      - terraform_environment_preproduction
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Download Terraform Task definition
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: terraform-artifact
          path: /tmp/

      - name: Terraform Outputs from JSON
        id: set_var
        run: |
          content=$(cat /tmp/environment_pipeline_tasks_config.json)
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          echo "configJson=${content}" >> $GITHUB_OUTPUT

      - name: Extract Admin FQDN from JSON
        id: admin_fqdn
        env:
          configJson: ${{steps.set_var.outputs.configJson}}
        run: |
          echo "value=${{ fromJson(env.configJson).admin_fqdn }}" >> $GITHUB_OUTPUT

      - name: Extract Front FQDN from JSON
        id: front_fqdn
        run: |
          echo "value=${{ fromJson(steps.set_var.outputs.configJson).front_fqdn }}" >> $GITHUB_OUTPUT

  cypress_tests_Signup_StitchedPF:
    name: Run Cypress tests - Signup,StitchedPF
    uses: ./.github/workflows/cypress_tests.yml
    needs:
      - preprod_terraform_outputs
      - run_preproduction_seed_db_task
    with:
      admin_url: https://${{ needs.preprod_terraform_outputs.outputs.admin_fqdn }}
      front_url: https://${{ needs.preprod_terraform_outputs.outputs.front_fqdn }}
      account_id: "987830934591"
      cypress_tags: "@StitchedPF"
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}

  cypress_tests_Signup_StitchedHW:
    name: Run Cypress tests - @Signup,@StitchedHW
    uses: ./.github/workflows/cypress_tests.yml
    needs:
      - preprod_terraform_outputs
      - run_preproduction_seed_db_task
    with:
      admin_url: https://${{ needs.preprod_terraform_outputs.outputs.admin_fqdn }}
      front_url: https://${{ needs.preprod_terraform_outputs.outputs.front_fqdn }}
      account_id: "987830934591"
      cypress_tags: "@StitchedHW"
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}

  cypress_tests_SignupIncluded:
    name: Run Cypress tests - @SignupIncluded
    uses: ./.github/workflows/cypress_tests.yml
    needs:
      - preprod_terraform_outputs
      - run_preproduction_seed_db_task
    with:
      admin_url: https://${{ needs.preprod_terraform_outputs.outputs.admin_fqdn }}
      front_url: https://${{ needs.preprod_terraform_outputs.outputs.front_fqdn }}
      account_id: "987830934591"
      cypress_tags: "@SignupIncluded"
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}

  # Remaining tests should ultimately just exclude SignUp and anything already done as part of stitched run.
  # TODO CorrespondentReuse needs refactoring so that it can be included as part of the stitchedClone run.
  cypress_tests_Remaining:
    name: Run Cypress tests - Remaining
    uses: ./.github/workflows/cypress_tests.yml
    needs:
      - preprod_terraform_outputs
      - run_preproduction_seed_db_task
    with:
      admin_url: https://${{ needs.preprod_terraform_outputs.outputs.admin_fqdn }}
      front_url: https://${{ needs.preprod_terraform_outputs.outputs.front_fqdn }}
      account_id: "987830934591"
      cypress_tags: "not @Signup and not @PartOfStitchedRun and not @StitchedHW and not @StitchedPF and not @StitchedClone and not @CorrespondentReuse and not @SignupIncluded and not @AdminSystemMessage and not @CheckoutPaymentGateway and not @Ping"
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}

  locust_tests:
    name: Run locust tests
    uses: ./.github/workflows/locust_tests.yml
    needs:
      - preprod_terraform_outputs
      - run_preproduction_seed_db_task
    with:
      front_url: https://${{ needs.preprod_terraform_outputs.outputs.front_fqdn }}
      account_id: "987830934591"
    secrets:
      AWS_ACCESS_KEY_ID_ACTIONS: ${{ secrets.AWS_ACCESS_KEY_ID_ACTIONS }}
      AWS_SECRET_ACCESS_KEY_ACTIONS: ${{ secrets.AWS_SECRET_ACCESS_KEY_ACTIONS }}

  end_of_workflow:
    name: End of Workflow
    runs-on: ubuntu-latest
    needs:
      - terraform_environment_preproduction
      - preprod_terraform_outputs
      - set_variables
      - cypress_tests_Signup_StitchedPF
      - cypress_tests_Signup_StitchedHW
      - cypress_tests_SignupIncluded
      - cypress_tests_Remaining
    environment:
      name: "preproduction"
      url: "https://${{ env.FRONT_URL }}/home"
    env:
      FRONT_URL: ${{ needs.preprod_terraform_outputs.outputs.front_fqdn }}
    steps:
      - name: End of Workflow
        run: |
          if ${{ contains(needs.terraform_environment_preproduction.result, 'success')}} &&
            ${{ contains(needs.preprod_terraform_outputs.result, 'success')}} &&
            ${{ contains(needs.cypress_tests_Signup_StitchedPF.result, 'success')}} &&
            ${{ contains(needs.cypress_tests_Signup_StitchedHW.result, 'success')}} &&
            ${{ contains(needs.cypress_tests_SignupIncluded.result, 'success')}} &&
            ${{ contains(needs.cypress_tests_Remaining.result, 'success')}}; then
            echo "Preproduction environment tested, built and deployed"
            echo "Tag Deployed: integration-${{ needs.set_variables.outputs.semver_tag }}"
            echo "URL: https://${{ env.FRONT_URL }}/home"
            exit 0
          else
            echo "Previous jobs in pipeline failed."
            exit 1
          fi
    if: always()
