export TF_VAR_default_role=account-write
export TF_VAR_management_role=management-admin
export TF_CLI_ARGS_init="-backend-config=\"assume_role={role_arn=\\\"arn:aws:iam::311462405659:role/management-admin\\\"}\" -upgrade -reconfigure"
export TF_WORKSPACE=development
