{% extends 'layout/twig/creation-stage.twig' %}

{% block content %}

<div class="article-container group">
    <article role="article" class="group">
        <div class="inner lpa created">
            <div class="paragraph-block">

                <p class="bold-small">I suggest we loose this page all together.</p>

                <p>You have created you LPA however you haven’t finished yet. Your LPA is not active until you have registered your LPA.</p>

            </div>
            <div class="next-step-section">

                <a class="button" href="{{ nextRoute }}">Complete registration</a>
            </div>

        </div>
    </article>
</div>

{% endblock %}