{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Accessibility statement for Make a lasting power of attorney - {% endblock %}
{% block pageTitle %}Accessibility statement for Make a lasting power of attorney{% endblock %}

{% block content %}

<p>This online service is run by the <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian">Office of the Public Guardian</a>. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
<li>change colours, contrast levels and fonts</li>
<li>zoom in up to 300% without the text spilling off the screen</li>
<li>navigate most of the website using just a keyboard</li>
<li>navigate most of the website using speech recognition software</li>
<li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
<p>We’ve also made the website text as simple as possible to understand.</p>
<h2 class="heading-medium">Get help</h2>
<p><a href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has guidance about how to:</p>
<li>make your mouse easier to use</li>
<li>use your keyboard instead of a mouse</li>
<li>talk to your device</li>
<li>make your device talk to you</li>
<li>make text larger</li>
<li>change your colours</li>
<li>magnify the screen</li>
<h2 class="heading-medium">How accessible this website is</h2>
<p>We know some parts of this website are not fully accessible:</p>
<li>the text will not reflow in a single column when you change the size of the browser window</li>
<li>you cannot modify the line height or spacing of text</li>
<li>most older PDF documents are not fully accessible to screen reader software</li>
<li>live video streams do not have captions</li>
<li>some of our online forms are difficult to navigate using just a keyboard</li>
<li>you cannot skip to the main content when using a screen reader</li>
<h2 class="heading-medium">What to do if you cannot access parts of this service</h2>
<p>If you cannot use this service, you can use the <a href="https://www.gov.uk/government/publications/make-a-lasting-power-of-attorney">paper version of the LPA</a>. </p>
<p>You can email <a href="mailto:customerservices@publicguardian.gov.uk" target="_blank">customerservices@<wbr>publicguardian.gov.uk</a> to get the paper LPA in an alternative format, such as:</p>
<li>large print</li>
<li>braille</li>
<li>audio</li>
<p>Include your address, the title of the document you need and the format you need it in.</p>
<h2 class="medium">Reporting accessibility problems with this service</h2>
<p>We’re always looking to improve the accessibility of this service. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, please contact us. </p>
<h4><strong>Email
</strong><u><a href="mailto:customerservices@publicguardian.gov.uk" target="_blank">customerservices@<wbr>publicguardian.gov.uk</a></u></h4>
<p><strong>Telephone
</strong>0300 456 0300
Monday to Friday 9:30am to 5pm, except Wednesday.
Wednesday 10am to 5pm</p>
<p>Find out about call charges</p>
<h4><strong>Textphone
</strong>0115 934 2778</h4>
<h2 class="heading-medium">Enforcement procedure</h2>
<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com" target="_blank">contact the Equality Advisory and Support Service (EASS)</a>.</p>
<h2 class="heading-medium">Technical information about this website’s accessibility</h2>
<p>The Office of the Public Guardian is committed to making its online services accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
<h3 class="heading-medium">Compliance status</h3>
<p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21" target="_blank">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below.</p>
<h2 class="heading-medium">Non-accessible content</h2>
<p>The content listed below is non-accessible for the following reasons.</p>
<h2 class="heading-medium">Distinguishable</h2>
<p>Some content cannot be magnified without loss of information or functionality. This fails WCAG 2.1 success criteria 1.4.10 (Reflow).</p>
<p>Some sight impaired users might not see important controls and understand graphics. This fails WCAG 2.1 success criteria 1.4.11 (Non-Text Contrast).</p>
<p>Some users might not be able to modify text line height, letter or word spacing. This fails WCAG 2.1 success criteria 1.4.12 (Text Spacing).</p>
<p>Some users might not be able to interact with or dismiss any ‘extra’ content that becomes visible. This fails WCAG 2.1 success criteria 1.4.13 (Content on Hover or Focus).</p>
<h2 class="heading-medium">Operable</h2>
<p>Some users might not be able to switch off or remap keyboard shortcuts. This fails WCAG 2.1 success criteria 2.1.4 (Character Key Shortcuts).</p>
<p>Users might not be warned when their session will timeout and lose any data they’ve entered. This fails WCAG 2.1 success criteria 2.2.6 (Timeouts).</p>
<ul><li>2.3.3 Animation from Interactions (AAA)</li></ul>
<p>Motion animation triggered by interaction can be disabled</p>
<p>Some users might not be able to turn off animation triggered by</p>
<p>Some users might not be able to use touchscreens with simple actions, like taps, double taps, and long presses. This fails WCAG 2.1 success criteria 2.5.1 (Pointer Gestures).</p>
<p>Some users might not be able to cancel or undo an action once they’ve selected a control or user interface component. This fails WCAG 2.1 success criteria 2.5.2 (Pointer Cancellation).</p>
<p>Some component labels might have text that does not match the Accessible name in the element label. This fails WCAG 2.1 success criteria 2.5.3 (Label in Name).</p>
<p>Some functionality might only be activated by shaking or tilting the device. This fails WCAG 2.1 success criteria 2.5.4 (Motion Actuation).</p>
<p>The size of the target for pointer inputs might be smaller than 44 by 44 CSS pixels. This fails WCAG 2.1 success criteria 2.5.5 (Target Size).</p>
<p>Some users might restricted to using certain input modalities (for example, keyboard, mouse, touchscreen, voice input) and might not be able to switch between them. This fails WCAG 2.1 success criteria 2.5.6 (Concurrent Input Mechanisms). </p>
<h2 class="heading-medium">Robust</h2>
<p>Some content might not be shown in a way that assistive technologies understand. This fails WCAG 2.1 AA success criteria 4.1.3 (Status Messages)</p>
<h3 class="heading-medium">Disproportionate burden</h3>
<p>Not applicable</p>
<h3 class="heading-medium">Content that’s not within the scope of the accessibility regulations</h3>
<p>Not applicable</p>
<h2 class="heading-medium">Preparation of this accessibility statement</h2>
<p>This statement was prepared on [date]. It was last reviewed on <sup>[date]</sup>.</p>
<p>This service was last tested on [date]. The test was carried out by Digital Accessibility Centre (DAC).</p></font></div>
	    
{% endblock content %}







