{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Accessibility statement for Make a lasting power of attorney - {% endblock %}
{% block pageTitle %}Accessibility statement for Make a lasting power of attorney{% endblock %}

{% block supportTitleBottom %}
	<span class="heading-secondary">Telephone, email, post or fax</span>
{% endblock %}

{% block content %}

<p>This online service is run by the <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian">Office of the Public Guardian</a>. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
<ul><li>change colours, contrast levels and fonts</li></ul>
<li>zoom in up to 300% without the text spilling off the screen</li>
<li>navigate most of the website using just a keyboard</li>
<li>navigate most of the website using speech recognition software</li>
<li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
<p>We’ve also made the website text as simple as possible to understand.</p>
<h1><strong>Get help</strong></h1>
<p><a href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has guidance about how to:</p>
<ul><li>make your mouse easier to use</li></ul>
<li>use your keyboard instead of a mouse</li>
<li>talk to your device</li>
<li>make your device talk to you</li>
<li>make text larger</li>
<li>change your colours</li>
<li>magnify the screen</li>
<h3><strong>How accessible this website is</strong></h3>
<p>We know some parts of this website are not fully accessible:</p>
<ul><li>the text will not reflow in a single column when you change the size of the browser window</li></ul>
<li>you cannot modify the line height or spacing of text</li>
<li>most older PDF documents are not fully accessible to screen reader software</li>
<li>live video streams do not have captions</li>
<li>some of our online forms are difficult to navigate using just a keyboard</li>
<li>you cannot skip to the main content when using a screen reader</li>
<h3><strong>What to do if you cannot access parts of this service</strong></h3>
<p>If you cannot use this service, you can use the <a href="https://www.gov.uk/government/publications/make-a-lasting-power-of-attorney">paper version of the LPA</a>. </p>
<p>You can email <a href="mailto:customerservices@publicguardian.gov.uk" target="_blank">customerservices@<wbr>publicguardian.gov.uk</a> to get the paper LPA in an alternative format, such as:</p>
<ul><li>large print</li></ul>
<li>braille</li>
<li>audio</li>
<p>Include your address, the title of the document you need and the format you need it in.</p>
<h3><strong>Reporting accessibility problems with this service</strong></h3>
<p>We’re always looking to improve the accessibility of this service. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, please contact us. </p>
<h4><strong>Email
</strong><u><a href="mailto:customerservices@publicguardian.gov.uk" target="_blank">customerservices@<wbr>publicguardian.gov.uk</a></u></h4>
<p><strong>Telephone
</strong>0300 456 0300
Monday to Friday 9:30am to 5pm, except Wednesday.
Wednesday 10am to 5pm</p>
<p>Find out about call charges</p>
<h4><strong>Textphone
</strong>0115 934 2778</h4>
<h3><strong>Enforcement procedure</strong></h3>
<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com" target="_blank">contact the Equality Advisory and Support Service (EASS)</a>.</p>
<h2><strong>Technical information about this website’s accessibility</strong></h2>
<p>The Office of the Public Guardian is committed to making its online services accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
<h3><strong>Compliance status</strong></h3>
<p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21" target="_blank">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below.</p>
<h2><strong>Non-accessible content</strong></h2>
<p>The content listed below is non-accessible for the following reasons.</p>
	    
{% endblock content %}







