{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Contact the Office of the Public Guardian - {% endblock %}
{% block pageTitle %}Contact the Office of the Public Guardian{% endblock %}

{% block supportTitleBottom %}
	<span class="heading-secondary">Telephone, email, post or fax</span>
{% endblock %}

{% block content %}

<div class="text">
	<p class="lede"><strong>If you have a query about using the online service or completing your LPA and cannot find the answer in the online help, then please contact us.</strong></p>

	<h2 class="heading-medium">
		<i class="icon icon-phone"></i>
		Telephone
	</h2>

	<p class="lede">0300 456 0300</p>

	<p class="bold">Call centre opening times:</p>

	<p>
		Monday, Tuesday, Thursday, Friday 9am to 5pm<br>
		Wednesday 10am to 5pm
	</p>

	<h2 class="heading-medium">
		<i class="icon icon-email"></i>
		Email
	</h2>

	<p class="lede"><a href="mailto:customerservices@publicguardian.gov.uk">customerservices@publicguardian.gov.uk</a></p>

	<p>Our target is to respond to emails within 10 working days</p>

	<h2 class="heading-medium">
		<i class="icon icon-fax"></i>
		Fax
	</h2>

	<p class="lede">0870 739 5780</p>

	<h2 class="heading-medium">
		<i class="icon icon-post"></i>
		Post your LPA documents for registration to:
	</h2>

	<p class="lede">
	    Office of the Public Guardian<br>
	    PO Box 16185<br>
	    Birmingham<br>
	    B2 2WH
    </p>
</div>

{% endblock content %}







