{% extends 'layout/twig/layout.twig' %}

{% block htmlTitle %}Cookies disabled - {% endblock %}
{% block pageTitle %}Cookies disabled{% endblock %}

{% block content %}

<div class="text">
    <p class="lede">You can not currently access the Lasting Power Of Attorney service because your cookies have been disabled.</p>
    <p><a href="http://www.aboutcookies.org/default.aspx?page=1:" target="_blank">Find out how to enable cookies</a></p>
    <p>Once you've enabled your cookies, please <a href="{{ url('home') }}">continue to home page</a> and you should have access to the service.</p>
</div>

{% endblock content %}